[2019-12-31 15:39] vinitshahdeo opened #2 "UI Enhancements"
The current UI is using static `HTML`. Come up with an attractive UI containing animation to display the level of water in different tanks.

<img width="1139" alt="Screenshot 2019-12-31 at 9 06 14 PM" src="https://user-images.githubusercontent.com/20594326/71626122-968b5000-2c11-11ea-9164-3e44c4d3e64b.png">

**_NOTE: Before writing UI element, please post a rough wireframe here and proceed to the

[2019-12-31 15:51] vinitshahdeo opened #3 "Project Documentation"
### Create documentation/report for [Water Monitoring System](https://github.com/vinitshahdeo/Water-Monitoring-System/).

The documentation should include:

- **Objective**
- **Requirements**
- **Architecture**
- **Implementation**
- **Screenshots**
- **Future Scope**
- **Conclusion**

#### Relevant links: [Sample Report 1](https://github.com/vinitshahdeo/jobtweets/raw/master/report/REPORT.pdf) |

[2019-12-31 16:01] vinitshahdeo opened #4 "Setting up Cloud APIs to send/receive data"
**Create **APIs** to `get` / `post` data i.e. level of water in tank captured from the sensor.**

**Tasks to Do:**

- [ ] Define the JSON structure of the data

- [ ] Get API Keys from [ThingSpeak](https://thingspeak.com/)

- [ ] Create `GET` / `POST` routes

- [ ] Provide a [Postman collection](https://learning.getpostman.com/docs/postman/collections/intro-to-collections/) to test the APIs

Pleas

[2019-12-31 16:07] vinitshahdeo opened #5 "Admin Dashboard"
**Create an admin dashboard**.

- Provide **login/signup** for Admin Dashboard
- Only **authenticated** users can access the admin.
- Admin can **view** the water level of all the tanks

[2019-12-31 16:11] vinitshahdeo opened #6 "Notify stakeholders"
Provide a way to notify the concerned authority to fill the water tank when the level of water is in danger zone.

- **Text Messaging Service**
- **Email Service**
- **Notification Service**

[code]

[2020-01-01 05:40] himanshusharma89 commented on #3
Hello @vinitshahdeo, I would like to work on this issue.

[2020-01-01 08:14] vinitshahdeo commented on #3
@himanshusharma89 Thanks for showing your interest. I've opened this issue for [JWoC ](https://jwoc.tech/) participants. Please apply there and then you can take up this issue.

[2020-01-01 08:19] himanshusharma89 commented on #3
I am a JWoC participant also.

[2020-01-01 08:25] vinitshahdeo commented on #3
Oh sorry! I didn't know this.
Yes, please you can proceed. But coding only starts after 4th of Jan, I guess.
Meanwhile, you can work but you can only raise the PRs after 4th of Jan.

[2020-01-01 08:36] himanshusharma89 commented on #3
Okay, thank you!

[2020-01-05 04:57] ank1traj commented on #5
I would like to contribute for this issue.

[2020-01-05 10:35] vinitshahdeo commented on #5
@ank1traj Please go ahead. Keep us updated on your progress.

[2020-01-07 11:13] arch888 commented on #6
Hello @vinitshahdeo, I would like to work on this issue.

[2020-01-07 14:01] vinitshahdeo commented on #6
@arch888 Thanks for showing your interest. Please proceed. Keep me posted about your progress.

[2020-01-16 13:34] murtaza1112 commented on #4
Hey, I would like to contribute to this issue, could u elaborate a bit more on it.

[2020-01-16 20:58] vinitshahdeo commented on #4
@murtaza1112 Thanks for showing your interest. Mind sharing your email id? It's better to have a hangouts call to discuss this?

[2020-01-16 22:31] murtaza1112 commented on #4
name:Murtaza Mustafa
email:murtaza1112@hotmail.com

[2020-01-25 15:42] thesrijande commented on #2
I have submitted pr #12 .
please review and merge.

[2020-01-25 17:46] vinitshahdeo commented on #2
@thesrijande Thanks for the PR. I see bare minimum changes in code, can you please add some more UI elements and update the PR. Take your time and build a better UI.

[2020-01-26 09:04] thesrijande commented on #2
please suggest me some required changes.

[2020-01-28 19:11] thesrijande commented on #2
I have done some changes, please review again my pr.

[2020-01-29 05:20] vinitshahdeo commented on #2
@thesrijande Thanks for the changes, can you please update the PR description with the relevant screenshots of UI?

[2020-02-23 22:23] Shashwatsingh22 commented on #6
Hii @vinitshahdeo , I am interested in this project to work with you....

[2020-02-24 11:53] Saurabh70 commented on #3
Hello
I am a participant in GSSoC 2020. I am a beginner and looking forward to contributing to this project. I am a bit confused about the documentation contribution which I can make. Can I ask my doubts here

[2020-02-24 13:51] vinitshahdeo opened #15 "Welcome to GSSoC 2020"
Hello,

**Thanks for showing your interest in [GSSoC 2020](https://www.gssoc.tech/).**
Super glad to know that you're interested in contributing to **[Water Monitoring System](https://github.com/vinitshahdeo/Water-Monitoring-System/)** project.

[![powered by water](https://forthebadge.com/images/badges/powered-by-water.svg)](https://github.com/vinitshahdeo/)

Feel free to ask your doubts here. Ki

[2020-02-24 13:53] vinitshahdeo commented on #3
@Saurabh70 Please shoot your doubts in [Issue](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/15) #15  thread.

[2020-02-24 14:20] Swarnimashukla commented on #15
Hi  vinit , I am a gssoc participant and interested in creating documentation for this project . I have few doubts regarding the same .
1. Do I need to use exact same template as given in sample report 1?
2.Where can I find images related to project ?
3.I need to work on all the parts of documentation or is there anything already  completed ?

[2020-02-24 14:38] vinitshahdeo commented on #15
@Swarnimashukla

**1.** Feel free to use your own template if you have a better one. Before submitting the PR, please discuss on #3

**2.** As of now, please create a high-level architectural diagram using [Whimsical](https://whimsical.com/).

**3.** Nope - only the basic idea is documented. Find it [here](https://github.com/vinitshahdeo/Water-Monitoring-System/blob/master/docs/Water%20level%20mon

[2020-02-24 14:56] ShauryaBhandari commented on #5
Hi sir!
I would like to work on the front-end for the given issue (admin dashboard).
I would need someone to work on the back-end code for the same.
Thank you!

[2020-02-24 15:09] vinitshahdeo commented on #5
@ShauryaBhandari Thanks for showing your interest. Please share your ideas at #15 - let's wait for someone to reply so that we can find a backend guy for you.

[2020-02-24 15:11] ShauryaBhandari commented on #15
Hi!
I would like to work upon the admin dashboard and design and code the front-end for the same.
But I would need a back-end guy to link all the pages and work on the authentication so that only the admin can access it.
Please let me know if anybody would like to work upon the same with me.
Thank you.

[2020-02-24 15:15] vinitshahdeo commented on #15
@ShauryaBhandari The UI for Admin Dashboard - #5 will have multiple UI sub-tasks as per wireframe.
Stay tuned!

[2020-02-24 17:32] saks1209am commented on #3
I would like to contribute to documentation also

[2020-02-24 17:36] himanshusharma89 commented on #15
Hello @vinitshahdeo , I would like to create a web app of the monitoring system using Flutter. Is t possible to do that?

[2020-02-24 18:04] vinitshahdeo commented on #15
@himanshusharma89 Yeah - that's a good idea. Will definitely look into this.

[2020-02-24 18:21] vinitshahdeo commented on #3
@saks1209am Please post this at #15 too.

[2020-02-24 19:03] vinitshahdeo commented on #15
Hello everyone!

**Join me to welcome the mentors -**

- [Pragati Verma](https://github.com/PragatiVerma18) - Docs + Backend
- [Aditya Raman]() - Backend + Hardware
- [Pawan Jain]() - Frontend
- [Manvi Tyagi](https://github.com/Manvityagi) - APIs + Cloud

Feel free to reach out to me( @vinitshahdeo ) or mentors for any kind of help.

[2020-02-24 20:29] weekly-digest[bot] opened #16 "Weekly Digest (17 February, 2020 - 24 February, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL REQUEST
Last week, 1 pull request was merged.
:purple_heart: #11 [Created Web-Based Water Monitoring System.pdf](https:

[2020-02-24 21:42] animeshsrivastava24 commented on #15
Hello @vinitshahdeo
I'm a GSSOC participant. I'm happy to be a part of this community.
I've few queries:
1. Can we create a real time working model using AutoDesk simulators for live visualisation of the project?
2. I'll like to take up the documentation process, should we contribute directly to a wiki for the same or an io page for the project?
3. What will be the ideal time to open issues and su

[2020-02-25 04:58] saks1209am commented on #15
Hello @vinitshahdeo

Can we create the water monitoring system using machine learning and R. I have a dataset along with me through which we can predict the outcome using the F1 score and then deploy the model using Flutter.
I can work on think speak server as I know how to send the data to the cloud and display the data using sensors.I can help in the documentation part also as I have a template

[2020-02-25 05:38] vinitshahdeo commented on #15
@saks1209am, Can you elaborate on **what kind of prediction you'll be making and how will it gonna help to achieve the goals** of this Project?

- _Glad to know that you're interested in the documentation part. (CC: @Swarnimashukla)_

- _I loved the idea of writing a blog. ❤️ We'll surely go for it._

[2020-02-25 05:43] vinitshahdeo commented on #15
@animeshsrivastava24 Here you go:

1. **Yes, we can** - Once we reach some level of maturity from the development side, we'll work on the visualization

2. Documentation consists of a detailed report (`.pdf`) and a wiki page - soon we'll have one wiki page.

3. **We'll be accepting contributions from 1<sup>st</sup> of March.**

Thanks for showing your interest.

[2020-02-25 05:49] saks1209am commented on #15
@vinitshahdeo This is a water level monitoring system but we can integrate it with water anomaly detection to predict that water is suitable for drinking or not. It is a real world problem and it was also the problem description of gecco challenge 2019. The dataset is already provided to us which contains around 1370000 rows and 8 columns along with 6 features and 2 classes.
On the basis of datase

[2020-02-25 05:57] ramanaditya commented on #15
@saks1209am, https://github.com/vinitshahdeo/Water-Monitoring-System/issues/15#issuecomment-590696016
we would be quite happy to work upon that idea, but before executing that we need to attain a Minimum viable product. Once the MVP is ready we would love to go with your idea. And of course this is not just a project you can work on this in long run too.

[2020-02-25 12:00] SaranshDawra opened #17 "Home page is not responsive"
**Describe the bug**
The home page is not responsive and there are some padding issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to src/home.html
2. Press Ctrl+Shift+i
3. Switch views (mobile, tablet, etc.)
4. See error

**Expected behavior**
In the mobile view, all the elements should be aligned in the center and text should not be overlapping.

**Screenshots**
![Screenshot (90)](

[2020-02-25 12:05] vinitshahdeo commented on #17
@SaranshDawra Thanks for pointing it out.
Please wait for a while as we're migrating our existing codebase into React.

[2020-02-25 12:09] SaranshDawra commented on #17
@vinitshahdeo Okay

[2020-02-25 14:16] falguniraina commented on #3
Hello!!
I want to participate in gssoc 2020.I am beginner in open source and looking forward to contribute to this project.I want to try my hands in the documentation can anybody help me to get started !!

[2020-02-25 14:21] vinitshahdeo commented on #3
@falguniraina
Thanks for showing your interest - feel free to ask your doubts at #15

[2020-02-25 14:27] falguniraina commented on #15
can anybody guide me how to get started!! I am a beginner and want to learn by contributing through this!!

[2020-02-25 14:34] vinitshahdeo commented on #15
@falguniraina I hope you're familiar with `git`. If not, please learn the `git` first and then you can check out our `README.md` and follow the steps to set up the repo locally. Once it's done, you can start adding code to it.

I would suggest you learn the basics of **React(frontend)** and **Django(backend)**. For the documentation part, please go through the existing doc present in the repo.

Le

[2020-02-25 14:35] habeeba-naaz commented on #3
Hello!!
I am very much interested in this project documentation.Please assign me implementation part of this documentation if possible

[2020-02-25 14:35] habeeba-naaz commented on #3
I am gssoc20 participant.

[2020-02-25 14:36] vinitshahdeo commented on #3
@habeeba-naaz Thanks for your interest. Please wait till March 1st. We'll be assigning the issues after March 1st.

[2020-02-25 14:36] falguniraina commented on #15
ok thanks!!

[2020-02-25 14:42] habeeba-naaz commented on #3
sure..Thank you for reply

[2020-02-25 14:59] RishabhKodes commented on #4
Hi, I would like to work on the, Cloud API part. Can you @vinitshahdeo brief me more about it. Here's my [email](rishabhbhandari6@gmail.com).
Thanks.

[2020-02-25 16:00] vinitshahdeo commented on #4
@RishabhKodes Thanks for showing your interest. Will get back to you soon - feel free to share your ideas at #15

[2020-02-25 16:47] animeshsrivastava24 commented on #15
@saks1209am @Swarnimashukla Hello, I am too interested in the documentation part. It'll be a great help to share our work and resources to the success of the project.

[2020-02-25 16:48] waridrox commented on #15
Hi there, is there anything regarding html, css and js or should I learn the react framework. I am a newbie but I am familiar with git ?

[2020-02-25 16:48] waridrox commented on #15
Hi there, is there anything regarding html, css and js or should I learn the react framework. I am a newbie but I am familiar with git ?

[2020-02-25 16:49] animeshsrivastava24 commented on #15
@saks1209am @Swarnimashukla Hello, I am too interested in the documentation part. It'll be a great help to share our work and resources to the success of the project.

[2020-02-25 17:10] vinitshahdeo commented on #15
@waridrox It'll be better if you learn `React` as we're migrating our existing codebase to `React`.

[2020-02-25 18:01] ramanaditya commented on #15
For the one who are looking for the topics to be covered in this project.
If you want to start learning

**Version Control**
- git
- GitHub

**Languages**
- Python

**Server Side:**
- Django
- Django Rest Framework (REST API)

**Databases**
- Postgresql
- sqlite3

**Hardware**
- ESP8266
- Micropython (Language used in ESP8266)
- ampy (File Management)
- UltraSonic Sensor (For water level or other

[2020-02-25 18:02] LovepreetSingh12 commented on #17
I would like to work on this Issue as a part of GSSoC 20.

[2020-02-26 07:24] soulhunter10737 commented on #17
Can I contribute on this?(GSSOC'20 P) , If yes then when?

[2020-02-26 07:28] diksha-dutt08 commented on #3
Hello!
I am a content writer. And I want to contribute to this project. Being young adult I possess innovative ideas. I will be be dedicated towards my work.
It would pleasure to document this project.

[2020-02-26 07:32] vinitshahdeo commented on #3
@diksha-dutt08 Glad to hear from you. Looking forward to some awesome contributions from your end.

[2020-02-26 07:32] vinitshahdeo commented on #17
@soulhunter10737 @LovepreetSingh12 Please checkout #15

[2020-02-26 07:45] saks1209am commented on #15
Hi @vinitshahdeo . As discussed earlier, me, @Swarnimashukla , @animeshsrivastava24  will be doing the documentation part. Meanwhile, I will help you in the frontend part using HTML, CSS, Javascript , bootstrap along with backend using react and a bit of node.js.

If you need someone for ESP8266 I can do that also as I had created an intrusion detection system with the help of it and Node MCU.

[2020-02-26 08:42] vinitshahdeo commented on #15
@saks1209am Thanks for showing your interest. Looking forward to awesome contributions from you.

[2020-02-26 09:05] animeshsrivastava24 commented on #15
Hello Community, I've a constructive suggestion regarding the project- addition of seepage detection feature. Please can someone assist me with it with their valuable feedback.

[2020-02-26 09:17] animeshsrivastava24 opened #18 "Seepage Detection in the container/tank for saving water"
Feature Description:
The project has the goal of saving water with level monitoring. A great addition to the system will be the detection of seepage of water.

Details:
Since we're monitoring the water level and focusing on producing a feasible product, an addition related to the detection of water seeping through container walls via orifice or due to other factors will be a great feature. Aim mus

[2020-02-26 10:04] vinitshahdeo commented on #18
@animeshsrivastava24 That's a great idea, would love to learn more from you.

[2020-02-26 10:06] vinitshahdeo commented on #15
@animeshsrivastava24 I liked your idea, can you please elaborate a bit about the implementation part?

CC: @ramanaditya @PragatiVerma18

[2020-02-26 10:13] soulhunter10737 commented on #17
So, basically you asking to wait till 1st march, right?+This is a GSSOC issue right?

[2020-02-26 10:25] ramanaditya commented on #15
@animeshsrivastava24 wants to add feature for leakage detection in the water tank using same sensor so no more cost involved and it will be efficient as well.

[2020-02-26 10:42] vinitshahdeo commented on #15
@ramanaditya Will it be feasible for you to integrate it?

[2020-02-26 11:08] animeshsrivastava24 commented on #15
@vinitshahdeo @ramanaditya
Since we are using the ultrasonic sensor in our project to detect the rising level of water.
We can use it in the reverse manner too, for measuring any fall down in the level of water which may be the result of seepage or water evaporation.
Now the water evaporation cases will produce a little to nil effect since our project will keep on monitoring the level in real time

[2020-02-26 11:12] vinitshahdeo commented on #15
@animeshsrivastava24 Thanks for the details. I'll highly appreciate it if you do some homework for fixing threshold/time value. Please coordinate with @ramanaditya to work on the implementation part.

[2020-02-26 11:14] animeshsrivastava24 commented on #15
@vinitshahdeo Sure, I'll do the necessary calculation with help of @ramanaditya and revert back with the work on the opened issue.

[2020-02-26 11:26] animeshsrivastava24 commented on #18
@vinitshahdeo @ramanaditya
I worked through the ideation of the issue, the following suggestions which I've for the issue is:
The surface disturbance is considered to be negligible.

Maybe create an array and keep a running/rolling sample every minute.  So the array would contain the last 60 readings over the last hour.  Then every so often, maybe 5 minutes, take an average of those readings to ge

[2020-02-26 12:15] vinitshahdeo commented on #18
@animeshsrivastava24
Much appreciated. 👏 👏
Really looking forward to seeing the code live.

[2020-02-26 15:10] minolipvartak commented on #15
@vinitshahdeo hello. I am a GSoC 2020 participant. I want to work on Documentation and the UI of Water Monitoring system.

[2020-02-26 15:14] minolipvartak commented on #3
hello @vinitshahdeo I am GSoc 2020 participant. Professionally, I am technical writer at a startup. I would like to create a proper documentation for this project.

[2020-02-26 15:21] vinitshahdeo commented on #15
@minolipvartak Thanks for showing your interest.
Just a small suggestion, please add a section for the tech stack used. Rest LGTM.

[2020-02-26 15:23] vinitshahdeo commented on #3
@minolipvartak Hey, glad to hear from you. Looking forward to your contributions. Feel to discuss further at #15.

[2020-02-26 15:23] minolipvartak commented on #15
Sure. That will get covered up in the "Requirements" section.

[2020-02-27 09:06] vinitshahdeo commented on #15
People interested in **backend development**, please checkout `feature/backend-django` branch. Check it [here](https://github.com/vinitshahdeo/Water-Monitoring-System/tree/feature/backend-django/water_monitoring_system).

Thanks, @ramanaditya for the initial setup

[2020-02-27 11:33] Vishnupriya-codes commented on #3
Hello. I am a GSSoC'20 participant. Would like to contribute to the documentation part of this project.

[2020-02-27 12:39] vinitshahdeo commented on #3
@Vishnupriya-codes Thanks for showing your interest. Feel free to discuss your ideas at #15

[2020-02-27 14:05] gpsuhas20 commented on #5
i am i am a participant of gssoc 2020, i am interested to work for the backend of this project. i have worked on nodejs and express

[2020-02-27 14:08] vinitshahdeo commented on #5
@gpsuhas20 Thanks for showing your interest. Please check #15.

[2020-02-27 14:10] akhileshsantoshwar commented on #17
I would like to work to work on this issue. Please assigned it to me.

[2020-02-27 15:07] soulhunter10737 commented on #17
Hello, I saw the project and understood the structure. I will request you to assign me for this issue, so that i can contribute.

[2020-02-27 16:53] falguniraina commented on #5
I am a participant of gssoc 2020 , I am interested to work for the frontend of this project i have sufficient knowledge of javascript,Bootstrap,html/css

[2020-02-27 17:15] vinitshahdeo commented on #5
@falguniraina Thanks for showing your interest. I'd suggest you learn the [basics of React](https://reactjs.org/tutorial/tutorial.html).

[2020-02-27 18:12] vinitshahdeo opened #21 "Design a logo [in all formats]"
**Design a logo for Water Monitoring System**.
Export in all formats with different standard dimensions.

- `PNG`
- `SVG`
- `JPG`

_Please discuss here before submitting a PR. Share your design idea you've got one for the logo._

[2020-02-27 19:16] vinitshahdeo commented on #15
@jainpawan21 Thanks for migrating the existing frontend codebase into `React`. Great job 👏

[2020-02-27 19:20] PragatiVerma18 commented on #15
Please check the updated readme for more instructions, FAQs( frequently asked questions) and important resources. For contributing to the documentation part, check out the `feature/documentation` branch. Happy Contributing fellas 😃😃😃

[2020-02-28 03:11] Swarnimashukla commented on #21
I would like to work on logo designing .

[2020-02-28 06:25] vinitshahdeo commented on #21
@Swarnimashukla Awesome, please share your ideas for the logo here.

[2020-02-28 07:29] Swarnimashukla commented on #21
This is a static design , I checked the gif uploaded here in project so , if we need something more animated it can be designed .
![WATER MONITORING SYSTEM](https://user-images.githubusercontent.com/30214391/75519718-e3c94980-5a29-11ea-8b13-09047e4a5aaa.png)

[2020-02-28 08:11] ashimasingla20 commented on #17
Hi i would like to work on this issue. Please assign me this issue.

[2020-02-28 08:14] ashimasingla20 commented on #5
Hi i am a participant of GSSOC. I have worked on HTML, CSS, React and done some intermediate stuff with node and express . I would like to work on this issue.

[2020-02-28 08:19] ashimasingla20 commented on #6
Hi, i am from GSSOC i would like to work on this issue.

[2020-02-28 08:24] Swarnimashukla commented on #21
This is another design which includes image of water tank along with sensor  and a monitor screen showing that result will be displayed on screen.

![water-monitoring](https://user-images.githubusercontent.com/30214391/75522878-fbf09700-5a30-11ea-82ef-5b17acb1c772.gif)

[2020-02-28 08:27] vinitshahdeo commented on #6
@ashimasingla20 Thanks for showing your interest. Feel free to discuss your ideas/doubts at #15.

[2020-02-28 08:29] vinitshahdeo commented on #21
@Swarnimashukla Please share the other one too.

[2020-02-28 08:38] Shashwatsingh22 commented on #21
Hi, I will work on logo and favicons...

[2020-02-28 08:44] vinitshahdeo commented on #5
@ashimasingla20 Glad to know that you've prior experience with similar tasks. Looking forward to some awesome contributions from your end. Please checkout `feature/frontend` branch.

[2020-02-28 08:46] vinitshahdeo commented on #21
@Shashwatsingh22 Please coordinate with @Swarnimashukla

[2020-02-28 08:49] jyotikrjc commented on #4
Hey @vinitshahdeo I am interested to work in this area.

[2020-02-28 09:48] Shashwatsingh22 commented on #21
![logo (2)](https://user-images.githubusercontent.com/55051478/75537733-8ccd6f80-5a3d-11ea-82e9-abeb361d6fa0.jpg)

[2020-02-28 10:19] PragatiVerma18 opened #27 "Add an open with gitpod button"
**Is your feature request related to a problem? Please describe.**
If anyone has any issues in cloning/forking and contributing from their local machine, they can open up the code in gitpod.

**Describe the solution you'd like**
Add an open with gitpod badge/button.

**Describe alternatives you've considered**
Gitpod eliminates the friction by providing prebuilt, ready-to-code dev environments wit

[2020-02-28 10:38] Swarnimashukla commented on #27
Hi @PragatiVerma18 ,
can you please elaborate what exactly I need to do in this issue ?

[2020-02-28 11:17] vngarg commented on #5
Hello, I'm a participant in GSSOC'20 . I have experience with HTML/CSS, Bootstrap and React. I would like to work on the FrontEnd of this issue.

[2020-02-28 11:22] vngarg commented on #17
I would like to contribute to this issue.

[2020-02-28 11:28] vngarg commented on #27
I'm a bit doubtful as to what you exactly need in this issue. Please tell something more as I'm willing to work on this issue.

[2020-02-28 19:07] vinitshahdeo commented on #4
@jyotikrjc Glad to know this, please checkout `feature/backend-node` branch.

[2020-02-28 20:36] YashMeh opened #29 "Dockerize the nodejs API"
**Is your feature request related to a problem? Please describe.**
The nodejs API is not dockerized .
**Describe the solution you'd like**
Dockerizing the nodejs API.
**Additional context**
[Reference] : https://nodejs.org/de/docs/guides/nodejs-docker-webapp

[2020-02-28 20:40] YashMeh opened #30 "Discussion: Do we need user auth ?"

[2020-02-29 01:37] jyotikrjc commented on #4
hey will you please add me to documentation and front-end group

On Sat, Feb 29, 2020 at 12:37 AM Vinit Shahdeo <notifications@github.com>
wrote:

[2020-02-29 05:57] vinitshahdeo commented on #4
@jyotikrjc Sure, please refer #15

[2020-02-29 06:11] first-timers[bot] opened #31 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 06:14] first-timers[bot] opened #32 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 06:23] first-timers[bot] opened #33 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 06:32] first-timers[bot] opened #35 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 06:44] first-timers[bot] opened #36 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 06:52] kpose commented on #35
I want to work on this project

[2020-02-29 06:56] kpose commented on #36
I am claiming this issue, please send an invitation

[2020-02-29 07:16] HardevKhandhar commented on #31
I would like to take up this issue as a contribution for GSSoC'2020

[2020-02-29 08:00] gabrielbryk commented on #33
I would like to please claim this issue

[2020-02-29 08:05] jyotikrjc commented on #15
@vinitshahdeo I would like to do documentation and frontend part

[2020-02-29 08:10] first-timers[bot] opened #38 "Update year in LICENSE.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 08:23] first-timers[bot] opened #39 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 08:24] jainpawan21 opened #40 "Make React WebApp PWA"
Currently, Our React Web App is just a single page application and can be accessed via Web browser only. This can be made the Progressive Web App (PWA), so that it can be accessed as an app in mobile devices.
Follow [this](https://www.codica.com/blog/how-to-create-pwa-with-react/) to know how to make React PWA.

[2020-02-29 08:24] Augani commented on #38
Hello, i want to claim this issue

[2020-02-29 08:25] first-timers[bot] opened #41 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 08:29] vinitshahdeo commented on #15
@jyotikrjc Sure, thanks for showing your interest.

[2020-02-29 08:41] jainpawan21 opened #42 "Animate the Tank Water flow value"
**Is your feature request related to a problem? Please describe.**
Currently we have simple tanks with their water values. There is no any specifications about there zone (Danger, Safe, Warning).
![image](https://user-images.githubusercontent.com/39362422/75604226-91a52880-5afc-11ea-9dcb-77a31e5b779c.png)

**Describe the solution you'd like**
It can be animated according to their water values. lik

[2020-02-29 08:53] jainpawan21 opened #43 "Implement Reaact Router"
Our React Web App is not using React Router right now. It will be good to implement react-router in webapp because as our component will increase, It will be easy to display them using react-router
Follow [this](https://reacttraining.com/react-router/web/guides/quick-start) and [this](https://www.youtube.com/watch?v=Law7wfdg_ls) tutorial to know more about react-router.

[2020-02-29 08:56] jainpawan21 opened #44 "Responsive NavBar"
**Is your feature request related to a problem? Please describe.**
Currently there is no any navbar in react webapp through which user can navigate into webpages.
![image](https://user-images.githubusercontent.com/39362422/75604521-66700880-5aff-11ea-862d-7ddc5d99a94a.png)

**Describe the solution you'd like**
Make a clean and responsive NavBar.

[2020-02-29 08:58] jainpawan21 commented on #17
Since We have converted our code base to react and this issue is solved now so i am closing this issue.

[2020-02-29 08:58] #17 closed

[2020-02-29 10:46] first-timers[bot] opened #46 "Update server.js"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-02-29 11:16] Swarnimashukla commented on #46
I want to take this issue @vinitshahdeo .

[2020-02-29 11:29] ArpitKotecha opened #47 "Using FASTAPI instead of Django as python web framework"
**Why Use FASTAPI?**
It is modern, fast (high-performance), web framework for building APIs with Python 3.6+ which supports async/await and is easy to learn(Similar to flask).

**Alternatives comparison**
[Click here](https://fastapi.tiangolo.com/alternatives/) for comparisons with other Python web frameworks.

**Features**
- Fast: Very high performance, on par with NodeJS and Go (thanks to Starle

[2020-02-29 12:32] ArpitKotecha opened #48 "Creating a docker-compose.yml file"
**Is your feature request related to a problem? Please describe.**
Currently it is not easy to setup the API's/project on new desktop/server.

**Describe the solution you'd like**
Creating a docker-compose.yml file to make it easy to run multi-container (NodeJs and Mongo for now) Docker applications

**Additional context**
[Click here](https://dev.to/jay97/docker-compose-an-express-and-mongo-app-a

[2020-02-29 13:48] ayushi-sharma-123 commented on #31
I'm interested to start contributing in GSSOC'20 through this issue kindly assign me this issue.
Thanku !

[2020-02-29 14:07] ayushi-sharma-123 commented on #44
Would like to work under this issue to start my contribution in GSSOC'2020. Kindly assign me this issue.
Thanku!

[2020-02-29 14:41] soulhunter10737 commented on #44
Please assign me this issue. I would like to work on it.

[2020-02-29 14:42] soulhunter10737 commented on #46
I would like to take the issue, can you assign me this?

[2020-02-29 14:44] soulhunter10737 commented on #36
I would like to take this issue, please assign me this for GSSoC'20.

[2020-02-29 14:44] soulhunter10737 commented on #38
I would like to take this issue, please assign me this for GSSoC'20.

[2020-02-29 14:48] soulhunter10737 commented on #32
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 14:49] soulhunter10737 commented on #31
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 14:49] soulhunter10737 commented on #33
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 14:50] soulhunter10737 commented on #3
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 14:56] animeshsrivastava24 commented on #21
Hello @vinitshahdeo
I'll be happy to use my digital art for this
Here is a simple minimal logo
![IMG_20200229_202415](https://user-images.githubusercontent.com/24613239/75609822-aea81e80-5b31-11ea-9203-590d38bcf89e.jpg)

The heart is shaped in conjunction with WiFi to represent IoT
A small alert to showcase the alert
And the outer boundary is for a precious water droplet
Eager to hear feedback fro

[2020-02-29 17:18] sayashraaj commented on #39
I want to claim this issue

[2020-02-29 17:27] huonggiangbui commented on #46
@vinitshahdeo can I take this issue?

[2020-02-29 17:28] huonggiangbui commented on #40
Can I take this issue?

[2020-02-29 17:29] huonggiangbui commented on #44
Can I be assigned to this issue? I am very interested!

[2020-02-29 17:30] huonggiangbui commented on #27
Can I take this issue?

[2020-02-29 17:34] huonggiangbui commented on #43
I am interested in this issue. Can I take this?

[2020-02-29 17:35] huonggiangbui commented on #41
I am interested in this issue. Can I take this?

[2020-02-29 17:35] huonggiangbui commented on #39
I am interested in this issue. Can I take this?

[2020-02-29 17:35] huonggiangbui commented on #38
I am interested in this issue. Can I take this?

[2020-02-29 17:35] huonggiangbui commented on #36
I am interested in this issue. Can I take this?

[2020-02-29 17:35] huonggiangbui commented on #35
I am interested in this issue. Can I take this?

[2020-02-29 17:36] huonggiangbui commented on #31
I am interested in this issue. Can I take this?

[2020-02-29 17:36] huonggiangbui commented on #32
I am interested in this issue. Can I take this?

[2020-02-29 17:36] huonggiangbui commented on #33
I am interested in this issue. Can I take this?

[2020-02-29 17:36] huonggiangbui commented on #17
I am interested in this issue. Can I take this?

[2020-02-29 17:57] vngarg commented on #44
I would love to work on this issue ...
Please Assign this to me

[2020-02-29 18:00] vngarg commented on #42
I can work with that ....
Assign this to me

[2020-02-29 18:01] vngarg commented on #38
I can work with that ...Give this task to me

[2020-02-29 18:02] vngarg commented on #36
I can work on this ...
Assign this to me ..

[2020-02-29 18:02] vngarg commented on #35
I can work on this ...
Assign this to me ..

[2020-02-29 18:02] vngarg commented on #33
I can work on this ...
Assign this to me ..

[2020-02-29 18:02] vngarg commented on #31
I can work on this ...
Assign this to me ..

[2020-02-29 18:14] ashishnagpal2498 commented on #46
@vinitshahdeo I would like to take this issue.

[2020-02-29 18:16] ashishnagpal2498 commented on #43
Can I take this issue?

[2020-02-29 18:23] soulhunter10737 commented on #46
I would like to take the issue, can you assign me this?

[2020-02-29 18:28] soulhunter10737 commented on #44
I would like to take the issue, can you assign me this?
And also please mention what all things are needed in nav-bar. Thank you!

[2020-02-29 19:19] PragatiVerma18 commented on #27
Add an open with gitpod badge/button to the readme.md file.

[2020-02-29 19:20] PragatiVerma18 commented on #27
@huonggiangbui sure. Happy contributing.

[2020-02-29 19:29] benrkia commented on #40
I can work on this issue if it's possible

[2020-02-29 19:32] PragatiVerma18 opened #49 "Fix the sidebar for github pages."
**Describe the bug**
The sidebar for the GitHub pages has some text-overflow problem.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://vinitshahdeo.github.io/Water-Monitoring-System/'
2. See error

**Expected behaviour**
Fix the sidebar text such that even the sidebar is scrollable or else minimize the text so that it fits in.

**Screenshots**
![Capture](https://user-images.gi

[2020-02-29 19:42] PragatiVerma18 opened #50 "Include a UML diagram in the readme.md"
**Is your feature request related to a problem? Please describe.**
UML is a modern approach to modelling and documenting software. It is based on diagrammatic representations of software components. Since it’s one of the most popular business process modelling techniques, we must include a UML diagram.

**Describe the solution you'd like**
UML diagram serves as a complete design that requires sole

[2020-02-29 20:07] PragatiVerma18 opened #51 "Design a logo for this project."
**Is your feature request related to a problem? Please describe.**
Since this project has no logo. A logo has a significant impact on a project's public perception. Logo grabs attention and makes a strong first impression and a foundation of the brand/project identity.

**Describe the solution you'd like**
Design a good, formal, attractive and elegant logo for this project that stands for our obje

[2020-02-29 20:22] PragatiVerma18 opened #52 "Add FAQs reagrding how to use Water Monitoring System on the website"
**Is your feature request related to a problem? Please describe.** **Describe the solution you'd like**

Since there isn't enough data on the website regarding the project, there must be a page about the project or a separate column that explains everything regarding the frequently put up questions. Add some FAQs on the website like how the project works and what do people need to do to use the we

[2020-02-29 20:28] PragatiVerma18 opened #53 "Add notifications and messages when the tank is empty or full."
**Is your feature request related to a problem? Please describe.**
There must be some notifications/message that tells that the tank is full/empty.

**Describe the solution you'd like**
Add notifications for the empty and full states of the tank on the web app.

[2020-02-29 20:34] PragatiVerma18 opened #54 "Add an alarm to indicate that the tank is about to overflow."
**Is your feature request related to a problem? Please describe.**
An alarm would be a good feature to indicate and alert the owner of the tank that it is about to get filled and would be overflowing in a few minutes.

**Describe the solution you'd like**
Add an alarm such that it rings when the water level approaches 100% or as required by the owner. It should stop ringing once the user sets it o

[2020-02-29 20:37] PragatiVerma18 opened #55 "Add a"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-29 20:47] PragatiVerma18 opened #56 "Add a footer for the website with relevant information."
**Is your feature request related to a problem? Please describe.**
Footer is an important section of every website as it has all the relevant information about the project.

**Describe the solution you'd like**
Include a footer with contact info, GitHub page link etc information about the project.

[2020-02-29 20:52] PragatiVerma18 opened #57 "Add a developement guide for GSSoC'20."
**Is your feature request related to a problem? Please describe.**
As we are about to shift our tech stack to React and Django/NodeJS, we have initialized some primary codebase that the participants need to carry forward, although, they might be beginners with the tech stack suggested, thus may face problems in doing setup for development purposes.

**Describe the solution you'd like**
Include a .

[2020-02-29 21:00] PragatiVerma18 opened #58 "Make a separate dialog box for every tank."
**Is your feature request related to a problem? Please describe.**
A user or owner may want information regarding any specific tank at a time, hence, add a separate dialog box that opens when you click on the tank, with relevant information like location and hardware ID.

**Describe the solution you'd like**
Add dialog boxes for each tank on [website](https://github.com/vinitshahdeo/Water-Monitori

[2020-02-29 23:27] vngarg commented on #57
I can work this ...
Please assign this to me

[2020-02-29 23:28] vngarg commented on #56
I can work on this too ..

[2020-02-29 23:29] vngarg commented on #52
I can work on this ..

[2020-03-01 00:02] animeshsrivastava24 commented on #54
Hello @PragatiVerma18 @ramanaditya
I'll like to make a contribution to the following:

My Solution:
For this we will have to implement a finite state machine.
For our particular problem, I would implement a machine with three states: IDLE, ARMED and ALARM, the ALARM state being the only one in which the buzzer is on.
The transitions would be:
(Say time for ALARM to sound is 15 seconds)

ARMED → AL

[2020-03-01 01:50] habeeba-naaz commented on #56
I am gssoc20 participant...please assign this issue to me..I am interested to work

[2020-03-01 01:52] habeeba-naaz commented on #52
I am interested to work on this...if possible please assign me

[2020-03-01 03:23] habeeba-naaz commented on #32
I am interested to work on this

[2020-03-01 04:17] SSAIBIGHNESHPRUSTY opened #60 "Better UI and many designs for the website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-01 04:18] #60 closed

[2020-03-01 04:18] SSAIBIGHNESHPRUSTY commented on #60
Wrong

[2020-03-01 04:18] UddeshJain commented on #40
I have previously converted a react web app to PWA. I am confident that I can do this. Please assign me this issue so that I can start working.

[2020-03-01 04:19] SSAIBIGHNESHPRUSTY opened #61 "Better UI for the website and logo and many features for the website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-01 04:19] 05saitejaswi opened #62 "Better ui and logo design and many new features."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-01 04:19] SSAIBIGHNESHPRUSTY commented on #61
Girlscript summer of code 2020

[2020-03-01 04:20] 05saitejaswi commented on #62
GirlScript summer of Code.

[2020-03-01 04:20] 05saitejaswi commented on #62
interested

[2020-03-01 04:21] SSAIBIGHNESHPRUSTY commented on #61
I am interested for this project

[2020-03-01 04:21] UddeshJain commented on #43
Can I work on this issue. Please assign me this one.

[2020-03-01 05:20] habeeba-naaz commented on #50
Hi ...I am gssoc20 participant .interested to work on this..please assign me...if possible

[2020-03-01 05:24] habeeba-naaz commented on #41
I am gssoc20 participant...interested to take part in this issue

[2020-03-01 05:30] PragatiVerma18 commented on #52
Sure @vngarg @habeeba-naaz, you can work on this. Make sure you have to add a good UI section for FAQs on the website and the questions should be relevant and properly answered.

[2020-03-01 05:33] PragatiVerma18 commented on #62
Hi @05saitejaswi!! Are you a participant for GSSoC 2020? Please check before making issues. This is a duplicate issue.

[2020-03-01 05:34] habeeba-naaz commented on #52
Thank you for assigning...any deadlines for completing?

[2020-03-01 05:35] #62 closed

[2020-03-01 05:36] PragatiVerma18 commented on #61
Hi @SSAIBIGHNESHPRUSTY !! Are you a participant for GSSoC 2020? Please check before making issues. This is a duplicate issue. Refer #21 and please proper issues, you need to write a proper description for your issue.

[2020-03-01 05:36] #61 closed

[2020-03-01 05:38] PragatiVerma18 commented on #52
Yeah, you both need to complete the task by 3rd March 2020. @jainpawan21 @vinitshahdeo  will help you with the frontend part.

[2020-03-01 05:39] PragatiVerma18 commented on #57
Sure, please start contributing.

[2020-03-01 05:40] habeeba-naaz commented on #52
Sure...

[2020-03-01 05:41] heisastark commented on #55
I'd love to work on this issue. Please assign it to me.

[2020-03-01 05:42] PragatiVerma18 commented on #55
Hi @heisastark!!! Glad that you want to contribute to our project. ✨

[2020-03-01 05:45] PragatiVerma18 commented on #54
@ramanaditya @vinitshahdeo please look in this issue. Well, this is the hardware solution, I meant an alarm for the web app.

[2020-03-01 05:48] PragatiVerma18 commented on #50
Hi @habeeba-naaz!! Happy to see that you want to contribute. Please share your idea regarding this issue and make sure you have read everything about this project.

[2020-03-01 05:50] soulhunter10737 commented on #36
I would like to take this issue, please assign me this for GSSoC'20.

[2020-03-01 05:50] soulhunter10737 commented on #38
I would like to take this issue, please assign me this for GSSoC'20.

[2020-03-01 05:50] soulhunter10737 commented on #41
I would like to take this issue, please assign me this for GSSoC'20.

[2020-03-01 05:51] Swarnimashukla commented on #41
hi @PragatiVerma18  i would like to work on this issue can you please assign it to me .

[2020-03-01 05:52] PragatiVerma18 commented on #41
@Swarnimashukla please complete the task by 3rd March 2020.

[2020-03-01 06:03] aakankshamudgal commented on #44
I would like to work on this issue.. can you please assign it to me.

[2020-03-01 06:05] aakankshamudgal commented on #56
I would like to work on this issue.
Please assign this to me.

[2020-03-01 06:07] PragatiVerma18 opened #63 "Add realtime slack badge in the readme.md"
**Is your feature request related to a problem? Please describe.**
Since we use our slack channel as the prime place for communication, we must include a link/badge for slack channel.

**Describe the solution you'd like**
Add a real-time slack chat badge in the readme.md.

**Describe alternatives you've considered**
Refer the following links to resolve this issue:
- [slackin](https://github.com/ra

[2020-03-01 06:09] aakankshamudgal commented on #2
I would like to work on this issue can you please assign it to me. I have some ideas regarding the same.

[2020-03-01 06:19] Satzyakiz commented on #44
I would like to contribute to this issue as a part of GSSoC 2020. @jainpawan21

[2020-03-01 06:22] PragatiVerma18 opened #64 "Document this project with a wiki page."
**Is your feature request related to a problem? Please describe.**
You can use a wiki to share detailed, long-form information about your project.

**Describe the solution you'd like**
Document all the essential information about the project in a detailed wiki so that readme doesn't become too long.

**Additional context**
Refer the following pages to create a good wiki:
- [Documenting your projec

[2020-03-01 06:44] PragatiVerma18 opened #66 "Contribute an infographic for the wiki."
**Is your feature request related to a problem? Please describe.**
An infographic is a good and interactive way to give information about a project.

**Describe the solution you'd like**
Contribute a good infographic with relevant information, statistics and diagrams that concern this project.

**Additional context**
Refer the following images for design ideas:
- [https://www.iotworldtoday.com/fil

[2020-03-01 07:01] PragatiVerma18 opened #68 "Add github badges for React, Django and NodeJS in the readme.md"
**Describe the solution you'd like**
Add GitHub badges/SVGs for ReactJS, Django and NodeJS in the readme.md.

**Additional context**
The badges should look like the following badge:

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)

[2020-03-01 07:24] huonggiangbui commented on #27
@PragatiVerma18 thank you. Can you assign the issue to me offically?

[2020-03-01 07:33] jainpawan21 commented on #42
Thanks for your interest @vngarg. I am assigning this issue to you. Please read contribution guidelines before making any pull request.

[2020-03-01 07:35] jainpawan21 commented on #44
Thanks for showing interest in this issue. @ayushi0014. I hope you will complete it by 4th march.

[2020-03-01 07:37] jainpawan21 commented on #40
@UddeshJain You can work on this issue. I hope to complete this by 3rd March.

[2020-03-01 07:39] minolipvartak commented on #3
I am ready to work on the documentation. please assign me this ssue to start.

[2020-03-01 07:40] minolipvartak commented on #64
I am interested to work on this issue.

[2020-03-01 07:40] huonggiangbui commented on #68
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:40] jainpawan21 commented on #5
@ShauryaBhandari Hoping to complete this by 5th march

[2020-03-01 07:41] huonggiangbui commented on #63
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:42] huonggiangbui commented on #56
@jainpawan21  can I take this issue? I am very interested!

[2020-03-01 07:43] huonggiangbui commented on #53
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:43] huonggiangbui commented on #49
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:44] huonggiangbui commented on #46
@jainpawan21  can I take this issue. I am very interested!

[2020-03-01 07:44] huonggiangbui commented on #39
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:45] huonggiangbui commented on #38
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:45] huonggiangbui commented on #36
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:45] huonggiangbui commented on #35
@jainpawan21 can I take this issue. I am very interested!

[2020-03-01 07:45] huonggiangbui commented on #33
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:46] huonggiangbui commented on #32
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:46] huonggiangbui commented on #31
@PragatiVerma18 can I take this issue. I am very interested!

[2020-03-01 07:47] Daggerhub commented on #38
I am interested.

[2020-03-01 07:47] Vishnupriya-codes commented on #3
Would request you to assign me the documentation issue.

[2020-03-01 07:49] UddeshJain commented on #40
Sure.

[2020-03-01 08:01] heisastark commented on #68
Hello again! I'd really like to work on this :)

[2020-03-01 08:18] HarshKhilawala commented on #38
How to claim this issue?

[2020-03-01 08:18] Swarnimashukla commented on #38
hi @jainpawan21 i would like to work on this issue . please assign it to me

[2020-03-01 09:19] habeeba-naaz commented on #50
To monitor status of the system , we can use this Unified Modeling Language (UML Diagram) . I thought of using some free software to show this representation.

[2020-03-01 09:26] animeshsrivastava24 commented on #64
Hello @PragatiVerma18 I'll like to contribute. Please assign me this issue.

[2020-03-01 09:30] animeshsrivastava24 commented on #66
Hello @PragatiVerma18  I'll like to contribute. Please assign me this issue.

[2020-03-01 09:35] habeeba-naaz commented on #52
To fork this project , I have already installed react...still anything required to get access to this project?

[2020-03-01 10:05] raa-zez commented on #51
I would like to work on this

[2020-03-01 10:28] soulhunter10737 commented on #44
@jainpawan21  Can you assign me this issue?

[2020-03-01 10:32] manan-bedi2908 commented on #56
I would like to work on this issue

[2020-03-01 10:33] manan-bedi2908 commented on #44
I would like to work on this issue

[2020-03-01 10:33] soulhunter10737 commented on #39
@PragatiVerma18  I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-01 10:33] soulhunter10737 commented on #38
@PragatiVerma18 @jainpawan21 I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-01 10:34] manan-bedi2908 commented on #36
I would like to take this issue

[2020-03-01 10:34] soulhunter10737 commented on #36
@PragatiVerma18 @jainpawan21 I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-01 10:34] soulhunter10737 commented on #44
@jainpawan21 @PragatiVerma18 I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-01 10:35] soulhunter10737 commented on #56
I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-01 10:38] animeshsrivastava24 commented on #68
Hello @PragatiVerma18 I'll love to make a contribution to this.
I tried searching through the Github Repository of https://forthebadge.com/ and found that the minimal look required for the other three badges aren't available, also the Repo is inactive with past PRs and unsolved issues.
So, I used other relevant websites to create the following badges:
**ReactJS**

![alt text](https://img.shields.i

[2020-03-01 10:49] heisastark commented on #63
@PragatiVerma18 Would be very happy to take up this issue.

[2020-03-01 10:50] heisastark commented on #63
@PragatiVerma18 Hey! I'd be very happy to take up this issue.

[2020-03-01 11:07] habeeba-naaz commented on #52
How to get started with this issue...Please let me know more details for this like from where should i need to take data as  a base and develop FAQs for water monitoring system on the website

[2020-03-01 11:12] animeshsrivastava24 commented on #54
Hello @PragatiVerma18 thanks a lot for the clarification. Still, the same issue might arise in the case of Hardware.
We can use the code in PR as the base code and while compiling the final code change the buzzer output to a signal to be transmitted as alert.

[2020-03-01 11:25] arnab15 opened #71 "Add a feature that help one person what is the water level right now and can predict after what amount amount of time it might be empty"
#69
we can add a feature that will help people to monitor their water tank real-time and can predict after what amount of time it might be empty and also if we start our pump after what amount of time it might be full  according to that it can  send user a notification or message or a dummy call that will inform current situation of tank.
here we can use Python for prediction  ,JavaScript ,HTML,cs

[2020-03-01 11:27] Mit-Patel commented on #68
Hello @PragatiVerma18 I am willing to make a contribution to this.

[2020-03-01 11:27] animeshsrivastava24 commented on #51
Hello @PragatiVerma18  I've added few suggestion of logo here #21
Please help me with feedback.

[2020-03-01 11:32] animeshsrivastava24 commented on #71
Hello @arnab15 this is a great suggestion. For predicting after what time the tank will be filled we need to get an estimate of the rate of water rising in the tank. Can we discuss over this estimation here?

[2020-03-01 11:38] vngarg commented on #57
Do I have to create PR to master branch or develop branch ?

[2020-03-01 12:30] daya2940 commented on #15
@vinitshahdeo I would like to work on the front end part

[2020-03-01 13:56] YashMeh opened #73 "Add new tests for the nodejs API"
**Is your feature request related to a problem? Please describe.**
Tests are not completed for the nodejs api.

**Describe the solution you'd like**
Clear and exhaustive tests written following the same style as previous ones.

**Describe alternatives you've considered**
There are no alternatives to writing good tests ;)

**Additional context**
Checkout api/test directory at nodejs-backend branch.

[2020-03-01 14:56] UddeshJain commented on #40
@jainpawan21 I have converted the website into PWA. I have tested on my machine. How can I test it in production?

[2020-03-01 15:01] kudos-dot-com commented on #15
Hi,i am a beginner at gssoc and i want to work at frontend and hardware.Is there any issue related to html,css,js or bootstrap.

[2020-03-01 15:04] UddeshJain commented on #40
Can I move `assets` inside `src` or `home.html` outside of `src` because when I deployed to netlify. It is not able to access images in the `assets` directory.

[2020-03-01 16:08] VibavariG commented on #58
please assign me this issue

[2020-03-01 17:06] ArpitKotecha opened #74 "Whatsapp message on water overflow"
**Is your feature request related to a problem? Please describe.**
Sending a whatsapp notification/message when there is overflow in tank.

**Additional context**
[whatsapp-chapi](https://www.npmjs.com/package/whatsapp-chapi) npm package
[Article (Medium - Sending Message with WhatsApp API using Node.js)](https://medium.com/maytapi/sending-message-with-whatsapp-api-using-node-js-8ec8ede94888)

[2020-03-01 17:16] animeshsrivastava24 commented on #18
Hello @vinitshahdeo
I'll like to send two separate PRs for the work
1) Creation of Array for reading the values and presenting there average
2) Using the Readings to plot the graph to detect a change present

[2020-03-01 17:20] animeshsrivastava24 opened #75 "Determination of Threshold Value and Time Required to measure the readings via sensor for rise/fall"
The Issue focuses on the determination of the value of the threshold and the time required to measure the readings from the Ultrasonic Sensor

The importance of the threshold depends on the Water Tank Size and the deviation/height of the ultrasonic sensor (Please refer to the PR #59  for understanding the importance of height measurement)

[2020-03-01 17:25] animeshsrivastava24 commented on #75
Hello, @vinitshahdeo @ramanaditya  I request you to please assign me this issue. I thought that this part will require a separate discussion and research so I opened this Issue. Also, I've opened the PR #59 for the Alarm.

[2020-03-01 17:53] soulhunter10737 commented on #49
@PragatiVerma18  @huonggiangbui  Please assign me this issue.

[2020-03-01 18:10] animeshsrivastava24 commented on #66
Here is a one minimal infographic showing the main important elements. Please help where to upload

![Logo1](https://user-images.githubusercontent.com/24613239/75631088-ee483680-5c15-11ea-87e4-420e9e3aa192.jpg)

[2020-03-01 19:54] animeshsrivastava24 opened #76 "Optimized Deep Sleep Technique for AVR Hardware"
The optimum method to operate a device in real-time is based on Energy-Optimized Usage.
The deep sleep technique is an available option for this purpose.
Details: https://microchipdeveloper.com/8avr:avrsleep

[2020-03-01 19:56] vngarg commented on #42
Should'nt the above mentioned example be the animation for the main project ??
Do I have to make something like this or some other animation ??

[2020-03-01 20:01] animeshsrivastava24 opened #77 "Optimized Deep Sleep Technique for AVR Hardware using External Trigger"
The optimum method to operate a device in real-time is based on Energy-Optimized Usage.
The deep sleep technique is an available option for this purpose. For this Issue please can someone share views on the External Trigger method?
Details: https://microchipdeveloper.com/8avr:avrsleep

[2020-03-01 21:12] heisastark commented on #74
Hi Sir! I'd really like to work on this issue.

[2020-03-02 03:03] habeeba-naaz commented on #58
I am interested to work on this issue...please assign me if possible

[2020-03-02 04:09] vinitshahdeo commented on #38
Hello guys, this issue is for absolute beginners to help them started. I want to assign this to beginner participants.

[2020-03-02 04:11] PragatiVerma18 commented on #58
Happy contributing @VibavariG!!! All the best and please contact @jainpawan21 for guidance through frontend. Complete the task by 5th March 2020.

[2020-03-02 04:11] vinitshahdeo commented on #15
@kudos-dot-com @daya2940 Please check the issues and claim.

[2020-03-02 04:16] vinitshahdeo commented on #15
🔴 🔴 🔴

#### Hello everyone, **we want to assign issues with `first-timers-only` to absolute beginners** who have just started their open source journey.

Please claim this if you're an absolute beginner or this is going to be your first pull request ever.

**All the best for GSSoC'20!** ✌️

[2020-03-02 04:17] habeeba-naaz commented on #52
I have completed most of the part..but got 3 questions..1)Does this project has app?
2)What are future enhancements ?
3)How to use the website?

[2020-03-02 04:24] ramanaditya commented on #54
https://github.com/vinitshahdeo/Water-Monitoring-System/issues/54#issuecomment-593084628
@animeshsrivastava24 , this is not required as of now with hardware, on the webapp side we will be using  notification to display the water level.
Reasons why we aren't using it with hardware
- There will be different cases where water tank will be installed in the public sector and using alarm will cost use o

[2020-03-02 04:26] saks1209am commented on #56
I would like to work on this issue

[2020-03-02 04:27] saks1209am commented on #50
I now how to create good diagrams and I can do this work

[2020-03-02 04:27] saks1209am commented on #44
I would like to work on this issue too

[2020-03-02 06:09] animeshsrivastava24 commented on #54
@ramanaditya Thanks a lot for the feedback.

[2020-03-02 06:24] animeshsrivastava24 commented on #76
Hello @ramanaditya Can you please review this code:

[code]

[2020-03-02 06:32] Swati0604 commented on #56
@PragatiVerma18 I can work on this too.

[2020-03-02 08:13] vinitshahdeo commented on #74
@heisastark Yes, please go ahead.

[2020-03-02 08:14] vinitshahdeo commented on #74
@ArpitKotecha Please assign this issue to @heisastark, also share the expected deadline to raise the PR a/q to the complexity of the issue.

[2020-03-02 08:16] vinitshahdeo commented on #46
@Swarnimashukla @soulhunter10737 @ashishnagpal2498 This issue is only for `first-timers`. Sorry, I cannot assign it to you guys.

[2020-03-02 08:17] vinitshahdeo commented on #46
@huonggiangbui Assigning this issue to you. Expecting the PR by Tuesday, EOD.

[2020-03-02 08:20] vinitshahdeo commented on #15
Everyone - please make the PR to the relevant branch.  **Check [this](https://github.com/vinitshahdeo/Water-Monitoring-System#additional-info)**.

[2020-03-02 08:21] vinitshahdeo commented on #3
Everyone - please have a word with @PragatiVerma18 at #15, she'll divide the work for **documentation** among you guys.

[2020-03-02 08:28] vinitshahdeo commented on #15
🔴 🔴 🔴

📣 **To all the beginners,**

Please check this to find `first-timers-only` issues. These issues will be helpful to begin your Open Source journey.

[2020-03-02 09:12] soulhunter10737 commented on #38
@vinitshahdeo  please assign me this issue, this is my first time ever on open source.

[2020-03-02 09:17] vinitshahdeo commented on #38
@soulhunter10737 Sure. Assigned you. Expecting TBD by Tuesday EOD.

[2020-03-02 09:22] soulhunter10737 commented on #38
Please check and review my PR.

[2020-03-02 09:25] soulhunter10737 commented on #36
@vinitshahdeo I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 09:28] soulhunter10737 commented on #31
I would like to take up this issue, can you please assign me?(gssoc20) @vinitshahdeo

[2020-03-02 09:38] soulhunter10737 commented on #39
@vinitshahdeo This is my first tie in open source ,I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 09:41] soulhunter10737 commented on #35
@vinitshahdeo I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 09:42] soulhunter10737 commented on #33
@vinitshahdeo I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 09:46] huonggiangbui commented on #46
@vinitshahdeo thanks! but i cannot find the file "api/server.js". Is there any problem?

[2020-03-02 10:00] soulhunter10737 commented on #49
I would like to take up this issue, can you please assign me?(gssoc20)

[2020-03-02 10:25] kudos-dot-com commented on #33
@vinitshahdeo i am willing to take up this issue.plese assign this to me.

[2020-03-02 10:35] habeeba-naaz commented on #52
@PragatiVerma18 @vinitshahdeo
Unable to push changes in feature/fronted....access denied...do I need to create my own branch or use feature/fronted please reply?

[2020-03-02 10:40] vinitshahdeo commented on #52
@habeeba-naaz please follow the following steps:

- Fork this repository
- Clone the forked one
- Create a branch
- Push your changes

👏Now, it's time to create the PR.

[2020-03-02 10:42] vinitshahdeo commented on #46
@huonggiangbui Please checkout `feature/backend-node` branch. It's not available in `master`.

[2020-03-02 10:43] habeeba-naaz commented on #52
Yes.,,I followed same thing but I checked out in feature/ frontend.do we need to create on my own branch?

[2020-03-02 10:45] habeeba-naaz commented on #52
Okay thank you

[2020-03-02 11:02] ramanaditya commented on #77
@animeshsrivastava24 , what would type of information do you require for external trigger method or deep sleep method?

[2020-03-02 11:17] habeeba-naaz commented on #52
While pushing why it is asking username and password of GitHub?

[2020-03-02 11:39] ramanaditya commented on #76
https://github.com/vinitshahdeo/Water-Monitoring-System/issues/76#issuecomment-593240816
@animeshsrivastava24 , this depends on the theoretical calculations based on the practical information which you obtain from the microcontroller.

For the larger tank, the deep sleep time will be higher than smaller tanks and also it depends upon the inlet speed of water. These two factors will mostly affect t

[2020-03-02 11:53] vinitshahdeo commented on #42
@vngarg
The same animation will also work but I encourage you to come up with a new animation if you can.

[2020-03-02 11:54] vngarg commented on #42
Ok ..I'll see what I can do .....

[2020-03-02 12:08] ashishnagpal2498 commented on #68
I would like to work on this issue.

[2020-03-02 12:11] ramanaditya opened #80 "Creating API endpoints for user model"
**Creating API endpoints for User model**
The hardware devices will need to communicate with the server, so for that we require API endpoints to get the specific results in the JSON format.

**Requirements of the Product**
- Getting a list of Users
- Getting the information of single user
- Creating an user using POST method
- Updating the information of user using their id.

**To make the code st

[2020-03-02 12:28] arnab15 commented on #71
yes, of course, we can discuss it here @animeshsrivastava24 ,
I think we can use volume measurement sensor to get a flow rate of water, then we can send it to the server where it can calculate all things and then according to that it can set alerts or send push notifications before tank empty and full. it would be very beneficial in my opinion

[2020-03-02 13:02] ramanaditya opened #84 "API endpoints for the Hardware devices"
**Creating API endpoints for Hardware model**
The hardware devices will need to communicate with the server, so for that we require API endpoints to get the specific results in the JSON format.
There will be hardware devices associated with their Hardware id, check the models.py file inside hardware app for better understanding

**Requirements of the Product**
- Getting a list of Hardware device
-

[2020-03-02 13:47] Nikhil-Patro commented on #56
@PragatiVerma18 I am very interested to work on this issue.

[2020-03-02 15:20] shreyakapoor08 commented on #46
Hey, I want to work on this issue

[2020-03-02 15:21] shreyakapoor08 commented on #43
Hey, I want to work on this issue

[2020-03-02 15:22] shreyakapoor08 commented on #33
I want to work on this issue

[2020-03-02 15:28] animeshsrivastava24 commented on #76
Hello @ramanaditya  Sure I agree with this. I'll perform the calculation and revert back it to you.

[2020-03-02 15:29] wildchaser1703 commented on #66
I would like to contribute to this Pragati! Please assign this issue to me.

[2020-03-02 15:29] vinitshahdeo commented on #46
@shreyakapoor08 Hey sorry, I've already assigned this issue to @huonggiangbui.

[2020-03-02 15:31] vinitshahdeo commented on #43
@shreyakapoor08 Hey this issue has been already assigned, please check other issues.

[2020-03-02 16:32] Aju100 commented on #84
can you assigned for me this issue ?

[2020-03-02 16:33] veenasnair18 commented on #31
I'm interested.

[2020-03-02 16:34] Aju100 commented on #48
hi can you please assign to me

[2020-03-02 16:37] Ayush7-BIT commented on #41
Sir !! i am absolute beginner please assign me this..i wanna merge my first PR..

[2020-03-02 16:39] BhardwajShweta25 commented on #36
I would like to take this up.

[2020-03-02 16:40] nitin1kumar1 commented on #31
I would like to take it.

[2020-03-02 16:40] nitin1kumar1 commented on #31
I would like to take it.

[2020-03-02 16:40] kaavyajain commented on #35
Would like to work on this, please assign me to this!

[2020-03-02 16:41] nitin1kumar1 commented on #31
I would like to take it.

[2020-03-02 16:42] nitin1kumar1 commented on #38
I would like to take it.

[2020-03-02 16:43] nitin1kumar1 commented on #35
I would like to take it.

[2020-03-02 16:47] vinitshahdeo opened #90 "Add missing meta tags"
The `<meta>` tag provides metadata about the HTML document. Metadata will not be displayed on the page but will be machine parsable.

Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata.

**Many meta tags are missing. Please refer [this](https://gist.github.com/lancejpollard/1978404) and add the missing relevant `meta` t

[2020-03-02 16:48] wildchaser1703 commented on #66
How should I create a PR request for the same?

[2020-03-02 16:51] vinitshahdeo commented on #41
@Ayush7-BIT Hey @Swarnimashukla has already raised the PR for the same. Sorry!

[2020-03-02 16:53] Akansha2202 commented on #41
Sir, please assign me this

[2020-03-02 16:54] Akansha2202 commented on #39
Sir please assign me this. This is my 1st time and I'm a complete beginner

[2020-03-02 16:54] Akansha2202 commented on #39
I want to claim this issue

[2020-03-02 16:55] Akansha2202 commented on #33
I want to work in this issue

[2020-03-02 16:55] Akansha2202 commented on #31
I want to do this issue.Please assign me

[2020-03-02 16:56] Akansha2202 commented on #35
Please assign me this issue.

[2020-03-02 17:13] vinitshahdeo commented on #33
Everyone - I viewed your profiles and I found the most suitable contributor for this issue.
Assigning to @kudos-dot-com , expecting TBD by EOD Tuesday.

@Akansha2202 @shreyakapoor08 Assigning you other issues pretty soon.

[2020-03-02 17:16] vinitshahdeo commented on #36
After viewing everyone's profile, assigning this issue to @BhardwajShweta25. Expecting TBD by Tuesday EOD.

[2020-03-02 17:17] vinitshahdeo commented on #39
@Akansha2202 Assigning you this issue. Expecting TBD by Tuesday EOD.

[2020-03-02 17:20] vinitshahdeo commented on #46
@shreyakapoor08 Will you be available to take #32 issue?

[2020-03-02 17:20] anmolkaur18 commented on #90
I am interested. Please assign this to me @vinitshahdeo

[2020-03-02 17:21] vinitshahdeo commented on #35
@kaavyajain Assigning you this issue. Expecting TBD by Tuesday EOD.

[2020-03-02 17:23] vinitshahdeo commented on #31
@ayushi0014 Assigning you this issue. Expecting TBD by Tuesday EOD.

[2020-03-02 17:31] soulhunter10737 commented on #32
@vinitshahdeo I want to work on this, can you please assign me this issue?

[2020-03-02 17:35] soulhunter10737 commented on #90
I am interested in this.

[2020-03-02 17:38] ayushi0014 commented on #90
i'm interested in this. Could you assign this to me?

[2020-03-02 17:41] ayushi0014 commented on #56
Wanna work on this issue as a GSSoC '20 participant. Could you assign me the same?

[2020-03-02 18:06] shreyakapoor08 commented on #46
@vinitshahdeo  yes i will work on issue #32 . Kindly assign me that.

[2020-03-02 18:15] shreyakapoor08 commented on #32
@vinitshahdeo  Kindly assign me this issue as discussed

[2020-03-02 18:15] vinitshahdeo commented on #32
@shreyakapoor08 Assigning you this issue.

[2020-03-02 19:54] BhardwajShweta25 commented on #36
Thank you, Sir!
I have sent you a pull request.
Please let me know if there is scope of any improvement.

[2020-03-02 20:05] vngarg commented on #42
Can I make the water tanks in rectangular form instead of circular ??

[2020-03-02 20:51] MdAkdas commented on #90
I can do this. please assign this to me. @vinitshahdeo

[2020-03-02 20:54] MdAkdas commented on #56
i can do this. please assign this to me.

[2020-03-02 22:04] Emmanuella-Aninye commented on #63
I'm interested in taking this issue

[2020-03-02 22:23] vngarg commented on #42
I tried alot but can't think of anything better than this one.
So I had added this animation to the main page.
A little modification is left, then I will make the PR in morning.

[2020-03-03 04:41] animeshsrivastava24 commented on #76
@ramanaditya Will it be possible to send documentation based PR that contain research work and description?

[2020-03-03 06:41] Chanchal1603 commented on #41
I am interested to work on this issue.please assign me this issue.

[2020-03-03 06:58] Mit-Patel commented on #38
@vinitshahdeo please assign me this issue, this is my first time ever on open source.

[2020-03-03 07:15] ashimasingla20 commented on #5
Hi can i take this ?
should i start working?

[2020-03-03 07:16] ashimasingla20 commented on #63
i am interested in this issue.

[2020-03-03 07:17] ashimasingla20 commented on #74
I would like to work on this issue.

[2020-03-03 07:18] vinitshahdeo commented on #5
@ashimasingla20 Hey sorry, it's already assigned. Can you please check other open issues?

[2020-03-03 07:19] vinitshahdeo commented on #41
@Chanchal1603 Hey, it's already assigned. Can you please check other open issues?

[2020-03-03 07:21] Mit-Patel commented on #38
I have updated the year in LICENSE file and created a Pull Request. Please review it.

[2020-03-03 07:27] ashimasingla20 commented on #53
I am interested in this issue.

[2020-03-03 07:28] ashimasingla20 commented on #40
Hi i would like to work on this issue.

[2020-03-03 07:30] ashimasingla20 commented on #56
I would like to work on this issue.

[2020-03-03 07:35] Chanchal1603 commented on #41
I think there is no unassigned issue for the absolute beginners please add
some more .

On Tue, 3 Mar 2020, 12:49 pm Vinit Shahdeo <notifications@github.com wrote:

[2020-03-03 08:06] Mit-Patel commented on #49
I have done it using insect element because I cannot find the html file for it. Would you please tell me where is the html file and may I work on this issue?

![Screenshot (224)](https://user-images.githubusercontent.com/24371911/75755089-f73f2200-5d53-11ea-8c86-8c2a8e170869.png)

[2020-03-03 08:07] Mit-Patel commented on #27
@PragatiVerma18  I want to work on this one.

#100

[2020-03-03 08:12] Mit-Patel commented on #15
@vinitshahdeo I would like to work on backend. I am good in Django and want to work in #5

[2020-03-03 08:12] Mit-Patel commented on #5
@vinitshahdeo I would like to work on backend. I am good in Django and want to work.

[2020-03-03 08:16] Mit-Patel commented on #90
I want to contribute in this issue. Please assign this issue to me. @vinitshahdeo

[2020-03-03 08:35] ramanaditya commented on #76
@animeshsrivastava24 , I am not sure about this as this might get into copyright issues,
cc: @vinitshahdeo please look into this

[2020-03-03 08:39] ramanaditya commented on #5
@Mit-Patel ,
We are creating API using Django, if you want to work on this, you can. I have already opened two issue, please have a look at this
https://github.com/vinitshahdeo/Water-Monitoring-System/issues/84
 https://github.com/vinitshahdeo/Water-Monitoring-System/issues/80

[2020-03-03 08:45] vinitshahdeo commented on #76
@animeshsrivastava24 If you're sending the PR for literature survey:

- Include the research papers only if you're giving credits to the authors.

- Kindly note that if you're using some online resources, ensure that the relevant publisher or author allows distribution. Do not forget to give the credits and mention the link to the source.

[2020-03-03 09:22] ArpitKotecha commented on #48
Sure

[2020-03-03 09:38] Dadaabhis commented on #5
I am interested In this

[2020-03-03 10:15] Mit-Patel commented on #80
I want to contribute in this issue. @ramanaditya please assign me this issue.

[2020-03-03 10:52] soulhunter10737 commented on #38
@Mit-Patel I already did this, as @vinitshahdeo have already assigned me this issue.

[2020-03-03 10:54] soulhunter10737 commented on #90
Hello, @vinitshahdeo I want to work with some frontend issues, an you please assign me this issue? I want to try it.

[2020-03-03 11:03] siddhishree commented on #90
Hello @vinitshahdeo, interested in working on this issue. Will be glad if you could assign this to me.

[2020-03-03 11:06] siddhishree commented on #56
Interested in working on this issue. @PragatiVerma18

[2020-03-03 12:33] first-timers[bot] opened #102 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-03 12:34] first-timers[bot] opened #103 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-03 12:37] first-timers[bot] opened #104 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-03 12:37] first-timers[bot] opened #105 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-03 12:41] vinitshahdeo commented on #15
Sure @Mit-Patel, please feel free to discuss with @ramanaditya at #5

[2020-03-03 12:43] Sbabureddy commented on #104
I can do this. Give me a chance?

[2020-03-03 12:44] Sbabureddy commented on #103
I can do this too.

[2020-03-03 12:45] Sbabureddy commented on #102
Please assign this to me.

[2020-03-03 12:46] Sbabureddy commented on #105
Please Assign this to me.

[2020-03-03 13:00] Chanchal1603 commented on #103
i want to work on this issue please assign me this issue.

[2020-03-03 13:12] ramanaditya opened #106 "Authorization Token"
**Is your feature request related to a problem? Please describe.**
Since all the hardwares and client application will be directly sending and getting request and from server so for that Authorization token plays an important role.
Authorization token will be sent with header that will authorize the user and upon authorization it will allow all the clients to make request to the server.

**Describ

[2020-03-03 13:25] habeeba-naaz commented on #105
Please assign me if possible...I am gssoc20 participant

[2020-03-03 13:35] kaavyajain commented on #102
I would like to work on this issue, please assign me to this.

[2020-03-03 13:38] kaavyajain commented on #104
I would like to take up this issue, please assign me to it!

[2020-03-03 13:43] SaranshDawra commented on #102
@vinitshahdeo I would like to work on this Issue. Please assign me with this issue.

[2020-03-03 13:45] SaranshDawra commented on #104
@vinitshahdeo I would like to work on this issue. Please assign me with this issue.

[2020-03-03 13:47] gpsuhas20 commented on #105
please assign this to me . i am a gssoc20 participant

[2020-03-03 13:54] gpsuhas20 commented on #105
please assign this to me. i am a gssoc2020 participant

[2020-03-03 14:05] gabemanfroi commented on #105
Assign this to me, please :)

[2020-03-03 14:22] gabemanfroi commented on #104
Could you Assign this to me please? Thanks :)

[2020-03-03 14:36] siddhishree commented on #103
Interested in working on this issue.

[2020-03-03 14:38] Aju100 commented on #48
@ArpitKotecha hello should i create the file in which branch ?

[2020-03-03 14:51] ayushi0014 commented on #31
Thanku Sir!
Surely, I would report you with the same .

[2020-03-03 14:52] ayushi0014 commented on #31
@vinitshahdeo Thanku Sir! I'll surely report you with the same.

[2020-03-03 15:29] ayushi0014 commented on #44
@jainpawan21 I'll report you with the same by tomorrow evening.

[2020-03-03 15:47] gpsuhas20 commented on #105
please assign me this task

[2020-03-03 16:25] soulhunter10737 commented on #102
Hey please assign me this issue i want to work on it.

[2020-03-03 16:26] soulhunter10737 commented on #103
I am interested , can you please assign me this issue?

[2020-03-03 16:27] soulhunter10737 commented on #104
Please assign me this issue. I would like to work on it,.

[2020-03-03 16:27] soulhunter10737 commented on #105
Hello, Please assign me this issue for my GSSoC'20. I would like to work on it.

[2020-03-03 16:52] animeshsrivastava24 commented on #76
Hello, @vinitshahdeo @ramanaditya I'll keep in focus the necessary citations while doing the survey. Also, please can you guide me to Hardware related Issues for solving on which non-first timers can contribute.

[2020-03-03 17:09] vinitshahdeo commented on #105
I've viewed everyone's profile and decided to assign this issue to @gpsuhas20 as this issue is for absolute beginner.

[2020-03-03 17:12] vinitshahdeo commented on #102
After reviewing everyone's profile, assigning this issue to @kaavyajain! Others please check open issues, better luck next time.

[2020-03-03 17:14] vinitshahdeo commented on #104
@Sbabureddy, I'm assigning this issue to you.

[2020-03-03 17:15] vinitshahdeo commented on #103
@Chanchal1603 Assigning you this issue. Others, please keep watching this repo, I'll be opening a few more **beginner-friendly** issues pretty soon.

[2020-03-03 17:18] huonggiangbui commented on #90
@vinitshahdeo  can I take this issue? I want to try it

[2020-03-03 17:34] vinitshahdeo commented on #90
**Hello Everyone,**

I'm assigning this issue to @anmolkaur18. Rest of you - **please [keep watching](https://github.com/vinitshahdeo/Water-Monitoring-System/watchers) this repo**, I'll be opening a few more `beginner-friendly` issues shortly.

[2020-03-03 18:00] Adyasha8105 commented on #104
please assign this task to me

[2020-03-03 18:02] Adyasha8105 commented on #102
hey please assign this task to me @vinitshahdeo

[2020-03-03 18:06] FrozenGirl-spd commented on #56
I would like to contribute to this issue . Can you assign me this  please @PragatiVerma18

[2020-03-03 18:13] huonggiangbui commented on #56
can i take this issue?

[2020-03-03 18:16] Adyasha8105 commented on #105
Hi, Please assign me this issue. I would like to work on it if he/she fails.

[2020-03-03 18:16] Adyasha8105 commented on #46
Hi, Please assign me this issue. I would like to work on it if he/she fails.

[2020-03-03 18:17] Adyasha8105 commented on #41
Hi, Please assign me this issue. I would like to work on it if he/she fails.

[2020-03-03 18:18] Adyasha8105 commented on #35
Hi, Please assign me this issue. I would like to work on it if he/she fails.

[2020-03-03 18:40] vinitshahdeo commented on #105
Sure @Adyasha8105!

[2020-03-03 18:41] vinitshahdeo commented on #104
Sorry @Adyasha8105, I've already assigned it to @Sbabureddy.

[2020-03-03 18:43] vinitshahdeo commented on #102
Sorry @Adyasha8105, this issue is already assigned to @kaavyajain. **[Keep watching](https://github.com/vinitshahdeo/Water-Monitoring-System/watchers) this repo**, I'll be opening more issues pretty soon.

[2020-03-03 18:45] first-timers[bot] opened #109 "Update package.json"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-03 18:46] Adyasha8105 commented on #109
please assign this task to me

[2020-03-03 18:47] vinitshahdeo commented on #109
Sure @Adyasha8105. 👍

[2020-03-03 19:24] ArpitKotecha commented on #48
@Aju100 Create file in [feature/backend-node branch](https://github.com/vinitshahdeo/Water-Monitoring-System/tree/feature/backend-node).

[2020-03-03 23:20] animeshsrivastava24 commented on #76
Hello @vinitshahdeo @ramanaditya here is the documentation on Ultrasonic Sensor Power Consumption and minimization. Should I send a PR, please review

[Ultrasonic Power Consumption Research.pdf](https://github.com/vinitshahdeo/Water-Monitoring-System/files/4284103/Ultrasonic.Power.Consumption.Research.pdf)

[2020-03-04 04:00] SDakshit commented on #38
Hello, this is my first attempt at open course coding. Could I please be assigned this project?

[2020-03-04 04:45] minolipvartak commented on #64
I am ready to work on this @PragatiVerma18

[2020-03-04 04:46] minolipvartak commented on #15
@PragatiVerma18 I want to write documentation for this project. Can you please assign me the documentation issue?

[2020-03-04 04:47] minolipvartak commented on #68
@PragatiVerma18 I want to learn and work on this issue

[2020-03-04 05:58] vinitshahdeo commented on #15
Hello everyone,

There's a small update, [this project](https://teams.railsgirlssummerofcode.org/projects/293-water-monitoring-system) will be accepting contributions under [Rails Girls Summer of Code](http://railsgirlssummerofcode.org/) too.

![Tweet by Vinit_Shahdeo](https://user-images.githubusercontent.com/20594326/75849506-fe753700-5e0a-11ea-9902-50317bf39c7b.png)

**Kindly note that the issu

[2020-03-04 06:37] vinitshahdeo commented on #64
Hey @minolipvartak,
Assigning you this issue. Please keep us posted at #15.

[2020-03-04 13:34] Mit-Patel commented on #105
please assign me this task

[2020-03-04 13:34] Mit-Patel commented on #104
please assign me this task.

[2020-03-04 13:34] Mit-Patel commented on #103
please assign me this task

[2020-03-04 13:34] Mit-Patel commented on #102
please assign me this task

[2020-03-04 13:34] Mit-Patel commented on #109
please assign me this task

[2020-03-04 13:34] ayushi0014 commented on #44
@jainpawan21 @vinitshahdeo I have worked on given issue and have send my progress.
![Screenshot (66)](https://user-images.githubusercontent.com/58321738/75884512-f806af80-5e4a-11ea-806d-603fbb2c6173.png)
Please give me ahead instructions.

[2020-03-04 13:37] gpsuhas20 commented on #4
hey i would like to contribute on this issue please assign me this work
email: gpsuhas@gmail.com

[2020-03-04 13:40] Mit-Patel commented on #106
I am interested in this task. Please assign me.

Could it be done by using PasswordResetTokenGenerator class?

[2020-03-04 14:31] vinitshahdeo commented on #44
@ayushi0014 LGTM, assigning you this issue. Can you please change options in the navbar:

- **`Home`**
- **`Implementation`**
- **`FAQs`**
- **`Team`**
- **`Contact`**

[2020-03-04 14:57] minolipvartak commented on #64
Yes. Thank you

[2020-03-04 15:08] preeti13456 commented on #3
Interested to contribute.

[2020-03-04 15:08] preeti13456 commented on #5
Interested to contribute

[2020-03-04 15:11] saks1209am commented on #4
@vinitshahdeo Sir, to run the thinkspeak server first we need to gather data from sensors only then we can display data using the thinkspeak server.

[2020-03-04 16:06] ayushi0014 commented on #44
@vinitshahdeo Yes for sure!!

[2020-03-04 16:21] Yash088 commented on #56
I want to work on this. I'll update you with the same by tomorrow.

[2020-03-04 16:21] ramanaditya commented on #5
@preeti13456 @Dadaabhis , on which part of the project would you like to work.

[2020-03-04 16:25] ramanaditya commented on #106
@Mit-Patel
rest_framework.authentication.TokenAuthentication, this class can be used.

[2020-03-04 16:34] saks1209am commented on #2
Please assign this issue to me. I can change the UI and make it look appealing

[2020-03-04 16:38] Aju100 commented on #48
thank u @ArpitKotecha

[2020-03-04 17:05] ayushi0014 commented on #51
I would really like to work on this issue. Kindly assign me this issue.

[2020-03-04 17:19] preeti13456 commented on #5
Provide login/signup for dashboard

[2020-03-04 18:53] vinitshahdeo commented on #5
@PragatiVerma18 Are you looking for frontend tasks or backend tasks?

[2020-03-04 19:11] meghaa105 commented on #105
please assign this to me

[2020-03-04 19:12] meghaa105 commented on #66
I would like to contribute

[2020-03-04 19:17] atrip10 commented on #109
please assign this to me

[2020-03-05 05:16] ayushi0014 commented on #63
I would love to work on this issue, would be grateful if you assigned me this issue. Thanku!

[2020-03-05 05:26] IuliaElizaS commented on #53
I would like to work on this.

[2020-03-05 05:29] vinitshahdeo commented on #53
@ashimasingla20 Assigning you this issue. Please lemme know if you need any help.

[2020-03-05 05:30] vinitshahdeo commented on #63
@huonggiangbui Assigning you this issue, others please wait for us to open more issues.

[2020-03-05 05:34] IuliaElizaS commented on #54
Hello, I would like to work on this issue.

[2020-03-05 07:55] ayushi0014 commented on #31
![Screenshot (67)](https://user-images.githubusercontent.com/58321738/75959668-ac084900-5ee4-11ea-86fb-992a02861415.png)

[2020-03-05 08:28] ayushi0014 commented on #44
![Screenshot (67)](https://user-images.githubusercontent.com/58321738/75962195-4ff3f380-5ee9-11ea-8d57-2a99e4137392.png)

[2020-03-05 08:40] vinitshahdeo commented on #44
Good job @ayushi0014 :clap:
Please go ahead and make PR.

[2020-03-05 10:50] saks1209am commented on #2
@vinitshahdeo I did some changes in the UI. Please go through it

![water](https://user-images.githubusercontent.com/30996074/75974129-4e7ff680-5efc-11ea-8fcb-88acb3d4ede2.jpg)

[2020-03-05 11:40] Mit-Patel commented on #106
@ramanaditya
Ok. I can do it.

[2020-03-05 12:45] ramanaditya commented on #106
Yeah sure, please work on this and raise a PR once everything is fine

[2020-03-05 14:09] amaaniqbal opened #118 "Add latest version of Bootstrap"
**Describe the bug**
Currently, the website is developed on Bootstrap 3.3.7, so many latest and relevant classes and functionalities are missing.

**Expected behavior**
Update the CSS and JS scripts to import the latest version of Bootstrap i.e., 4.4.x

[2020-03-05 14:15] amaaniqbal opened #119 "Add margin between the text description and the tanks"
**Describe the bug**
Currently, the text description appears to be sticking with the tank images located just below it.

**Expected behavior**
Add margin between the text description of the Water Monitoring Description and the tanks using a Bootstrap class. Please don't add any custom CSS for this minor change.

[2020-03-05 14:17] goyalmuskan commented on #119
Please assign me the issue.

[2020-03-05 14:23] amaaniqbal opened #120 "Center tank divs on mobile devices"
**Describe the bug**
Currently, the tank div gets floated left on mobile devices and the text description of the tank starts to overlap with the canvas, which doesn't look good.

**To Reproduce**
Use the browser inspector to view the site on any mobile device.

**Expected behavior**
Center the divs on mobile devices and make the text to appear right at the bottom and not by its side.

**Screenshot

[2020-03-05 14:26] amaaniqbal opened #121 "Add footer with social media links"
**Is your feature request related to a problem? Please describe.**
Currently, there is no footer on the website.

**Describe the solution you'd like**
Add a footer with relevant links, and social media icons (currently not pointing anywhere).

**Additional context**
Make sure to include images of your work with the PR.

[2020-03-05 14:31] amaaniqbal opened #122 "Replace the inline and internal CSS with Bootstrap classes"
**Describe the bug**
Currently, custom CSS was applied to different HTML elements on the webpage even though the corresponding Bootstrap 4 class exists for them. This creates a silly overhead and increases the complexity of the code.

**Expected behavior**
Remove all the custom CSS maybe except for the one applied to the body tag and add corresponding Bootstrap 4 classes.

**Additional context**
P

[2020-03-05 14:32] SaranshDawra commented on #118
@amaaniqbal please assign me with this issue.

[2020-03-05 14:36] SaranshDawra commented on #120
@amaaniqbal please assign me with this issue.

[2020-03-05 14:37] vinitshahdeo commented on #119
@goyalmuskan Thanks for showing your interest. **Assigning you this issue, expecting TBD by Saturday EOD** .

[2020-03-05 14:37] vngarg commented on #122
I can do this ...
Assign me this task

[2020-03-05 14:39] vngarg commented on #121
I can work on this ..
Assign me this

[2020-03-05 14:40] vngarg commented on #118
I can work on this ....
And then on #122 ..
Assign me these both ..

[2020-03-05 15:23] Yashank18 commented on #118
I want to work on this issue, sir. I will update it by tomorrow as it is affecting the rest of the issues as well.
@vinitshahdeo

[2020-03-05 15:25] Yashank18 commented on #121
I want to work on this issue.
@vinitshahdeo

[2020-03-05 16:19] ashishnagpal2498 commented on #122
I would like to work on this issue.

[2020-03-05 16:21] ashishnagpal2498 commented on #121
Can I work on this issue? @vinitshahdeo

[2020-03-05 18:00] Sbabureddy commented on #122
I can do this

[2020-03-05 18:01] Sbabureddy commented on #118
Please Assign this as well #122 to me

[2020-03-05 18:03] Sbabureddy commented on #121
I will add bootstrap-social icons, if you assign this to me. To look more beautiful

[2020-03-05 18:07] Adyasha8105 commented on #121
I want to contribute to this issue. Please assign this issue to me
@vinitshahdeo

[2020-03-05 18:09] Adyasha8105 commented on #118
I want to work on this issue. Please assign this issue to me.
@vinitshahdeo

[2020-03-05 18:13] jalajdorai commented on #73
Hi Sir! I'd really like to work on this issue

[2020-03-05 18:17] YashMeh commented on #73
@jalajdorai go ahead I am assigning this to you then. :+1:

[2020-03-05 18:59] huonggiangbui commented on #46
@vinitshahdeo can this issue be closed right now?

[2020-03-05 19:00] huonggiangbui commented on #122
can I take this issue?

[2020-03-05 19:01] huonggiangbui commented on #121
Can I work on this issue? @amaaniqbal

[2020-03-05 19:02] huonggiangbui commented on #118
Can I take this issue? @amaaniqbal

[2020-03-05 20:03] Mattaus-Isenberg commented on #103
Can I please be assigned to this?

[2020-03-05 20:16] Arindam-coder commented on #31
sir, I am interested for this issue. Please assign me.

[2020-03-05 20:24] vinitshahdeo commented on #121
Assigning this issue to @huonggiangbui, others please keep watching - we'll be opening a lot of issues pretty soon.

[2020-03-05 20:35] Arindam-coder commented on #3
Hello sir, I am interested for this issue . Please assign me for this issue. I am first year engineering student

[2020-03-05 21:18] vinitshahdeo commented on #50
@habeeba-naaz Hey assigning you this issue. Thanks for showing your interest.

[2020-03-05 21:21] vinitshahdeo commented on #56
**Hello everyone**,

I'm **assigning this issue to @siddhishree**, as per my knowledge she has been claiming for long and it's going to be her first issue. Others please keep watching the repo, many more issues are on way.

**Thanks for your patience!**

[2020-03-05 21:23] vinitshahdeo commented on #66
@meghaa105 Thanks for showing your interest. Please share your ideas here.

[2020-03-05 21:34] vinitshahdeo commented on #46
Will close this once it's merged into `master`.

[2020-03-06 03:39] habeeba-naaz commented on #50
Thank you for assigning

[2020-03-06 03:45] saks1209am commented on #51
@PragatiVerma18 Please assign this to me. I can design a good logo for this project

[2020-03-06 04:45] habeeba-naaz commented on #52
Please check pull request #98 ...I kept deployed gh-page link and let me know if any changes to be done

[2020-03-06 06:42] Swarnimashukla opened #125 "Create a Wireframe design for front-end"
**Is your feature request related to a problem? Please describe.**
Front-end  UI design is missing , any modification is performed directly in code form .

**Describe the solution you'd like**
Creating a Wireframe for front-end page of water-monitoring-system so that a basic flow is website is created before implementing it in code .

[2020-03-06 07:22] vinitshahdeo commented on #125
@Swarnimashukla Please share your mocks here!

[2020-03-06 08:53] ayushi0014 commented on #122
I would love to work on this issue, would be grateful if you assigned me this issue. Thanku!

[2020-03-06 09:03] ayushi0014 commented on #122
I would love to work on this issue, would be grateful if you assigned me this issue. Thanku!

[2020-03-06 09:26] ramanaditya commented on #54
@IuliaElizaS , sure you can work on this issue.

[2020-03-06 09:44] huonggiangbui commented on #46
@vinitshahdeo My PR has merged to branch feature/backend-node. Is there any additional step I have to take? I think I completely solve this issue

[2020-03-06 09:46] huonggiangbui commented on #46
Because file api/server.js doesnt place in branch master so I think I shouldnt merge to that branch?

[2020-03-06 09:46] vinitshahdeo commented on #46
Nope, it's done from your end. I will merge `feature/backend-node` into master and this will close the issue.

[2020-03-06 11:48] vinitshahdeo commented on #118
Assigning this issue to @Adyasha8105. Thanks, everyone for showing your interest, please stay tuned for more issues.

[2020-03-06 11:51] Swarnimashukla commented on #125
This is header part which includes image slides of product or save water theme along with four tanks and level part of project.
![part 1](https://user-images.githubusercontent.com/30214391/76081200-9b340200-5fce-11ea-986d-21dec71d1b54.png)
This is footer part which includes demo video of product customer review and sign up option
![part 2](https://user-images.githubusercontent.com/30214391/7608122

[2020-03-06 13:13] manan-bedi2908 commented on #122
Can i take up this issue?

[2020-03-06 13:35] malavikasmenon commented on #31
I would like to contribute to this, please.

[2020-03-06 13:50] vngarg commented on #57
@PragatiVerma18 I had created the PR . It has been approved, just needs to be merged ..
Please do merge it

[2020-03-06 14:58] saks1209am commented on #64
@vinitshahdeo can I work on this issue

[2020-03-06 15:01] vinitshahdeo commented on #57
@vngarg Will merge it soon! Thanks for your contribution.

[2020-03-06 15:12] vinitshahdeo commented on #64
@saks1209am Assigning you this issue. Others please keep watching the repo, more issues will be opened soon.

[2020-03-06 17:50] Basilleaf24 commented on #120
@amaaniqbal Please assign me with this issue, I am interested to work on this. This is my first open source contribution.

[2020-03-07 07:17] goyalmuskan commented on #122
May I work on this issue?

[2020-03-07 07:42] saks1209am commented on #64
Sir , as I creating a wiki page we need a logo for our project. The logo is already there as gif but it looks a bit ugly without name.

Can we assign a name for this project so that we can mention the name also in logo.

I'm sharing a demo logo for a project. Please go through it.[Image]

Regards,
saksham
________________________________
From: Vinit Shahdeo <notifications@github.com>
Sent: Friday,

[2020-03-07 09:31] srishtiBajpai commented on #122
can i take up the issue if not previously assigned to anyone?

[2020-03-07 13:07] godumuyiwa commented on #41
I would like to work on this issue

[2020-03-07 13:21] PragatiVerma18 commented on #122
Hi @ashishnagpal2498, you may take up this issue and try to complete it asap.

[2020-03-07 13:34] ashishnagpal2498 commented on #122
Okay , working on it.

[2020-03-07 15:26] Mit-Patel commented on #106
Please review this. #130

[2020-03-07 16:50] Mit-Patel commented on #106
#136

[2020-03-07 17:27] huonggiangbui commented on #121
@amaaniqbal is that website (https://vinitshahdeo.github.io/Water-Monitoring-System/) I have to add the footer?

[2020-03-07 19:25] vinitshahdeo opened #141 "Welcome to RGSoC'20"
![RGSoC](https://user-images.githubusercontent.com/20594326/76151107-43cd8900-60d7-11ea-8665-ca9785c712b5.png)

Hello,

**Glad to share that [this](https://github.com/vinitshahdeo/Water-Monitoring-System) project is shortlisted for [Rails Girls Summer Of Code 2020](https://railsgirlssummerofcode.org/)**, a global fellowship program for women and non-binary coders. Students receive a three-month sc

[2020-03-07 20:03] arnab15 commented on #120
please assign me with this issue @vinitshahdeo

[2020-03-07 20:07] vinitshahdeo commented on #118
@Adyasha8105 Can you please point me to the PR if it's opened?

[2020-03-08 03:35] Basilleaf24 commented on #109
@vinitshahdeo Pls assign me with this issue, I want to make my very first  contribution.

[2020-03-08 04:45] Basilleaf24 commented on #105
@vinitshahdeo Pls assign me with this issue, I want to make my very first contribution

[2020-03-08 06:58] YashMeh commented on #73
@jalajdorai are you facing any issues ? Lets discuss on this thread .

[2020-03-08 07:26] Adyasha8105 commented on #118
@vinitshahdeo Once it's done I will update you.

[2020-03-08 11:49] suhelhasan commented on #102
Please assign me for this work

[2020-03-08 14:36] minolipvartak commented on #141
Hey @vinitshahdeo to apply for this program, we need to be in a team. Do you have any guidelines for us?

[2020-03-08 16:18] Dadaabhis commented on #5
Hi I am interested to work on front end work..

[2020-03-08 17:28] dipanshuraz commented on #41
I am interested, assign me

[2020-03-08 17:54] minolipvartak commented on #64
Hello @vinitshahdeo @PragatiVerma18 I have created a wiki for this project. But I am unable to make a PR as wiki is not a part of code. So I have forked this repo to my account and created a wiki page. Here is the link - https://github.com/minolipvartak/Water-Monitoring-System/wiki

[2020-03-08 18:44] vinitshahdeo commented on #64
@minolipvartak Looks good to me. Can you please add some extra details to it? Do some research around IoT implementation involved. @PragatiVerma18 will help you out for the same.

[2020-03-08 18:49] vinitshahdeo commented on #141
@minolipvartak Thanks for showing your interest. Please find your teammate and apply [here](https://teams.railsgirlssummerofcode.org/apply). Kindly note that your teammate should be living in the same region.

- Check **Student Guide** [here](https://railsgirlssummerofcode.org/students/).
- Learn more [here](https://railsgirlssummerofcode.org/blog/).

[2020-03-08 18:59] amaaniqbal commented on #121
@huonggiangbui You have to add a footer to https://vinitshahdeo.github.io/Water-Monitoring-System/src/home.html

[2020-03-09 05:49] YashMeh commented on #73
@jalajdorai unassigning you from this issue due to inactivity.

[2020-03-09 10:03] SomyaGandhi commented on #109
How many people can work on this issue? I would like to contribute as well if possible

[2020-03-09 13:25] Basilleaf24 commented on #102
Please assign me this as I am a beginner

[2020-03-09 14:05] Basilleaf24 commented on #64
@vinitshahdeo @PragatiVerma18 I would love to work on this documentation as I have worked on the IOT hardware part of it earlier. Pls assign me this issue

[2020-03-09 15:22] ShauryaBhandari commented on #122
Hi, is this issue still unresolved?
If yes, I would love to work upon it.
Thanks!

[2020-03-09 18:01] akt114 commented on #109
Can I work on this issue? This would be my first contribution. @vinitshahdeo

[2020-03-10 12:58] ayan-biswas0412 commented on #5
n you please elaborate this i want to work for it .. you can also email me : ayanbiswas184@gmail.com

[2020-03-10 17:02] Shakil-is-here commented on #46
hi i am interested in working open source .would you please assign me too

[2020-03-10 17:19] SomyaGandhi commented on #46
Hi. I have never contributed to open source before. Can you assign this to me? @vinitshahdeo

[2020-03-10 17:46] ayan-biswas0412 commented on #46
Can you tell me in brief what to do in admin dashboard..and what login
process you want ? Pleas tell me ellaborately

On Tue, 10 Mar 2020, 22:32 kingpin, <notifications@github.com> wrote:

[2020-03-11 03:30] thesrijande commented on #49
assign me

[2020-03-11 03:58] kichloo commented on #41
@PragatiVerma18 I can fix the issues. Pl assign it to me!

[2020-03-11 03:58] kichloo commented on #39
@vinitshahdeo Pl assign it to me!

[2020-03-11 06:23] accakks commented on #141
Hi @vinitshahdeo RGSoC applicant here.
I have working experience with both Python & JavaScript but my teammate @somu-10 works with Python.
You mentioned earlier that this project also has Django backend, Is it possible to apply at RGSoC for that as well?
(For RGSoC, we can discuss a roadmap where I can work on both frontend and backend issues, and my teammate can work on some frontend, majorly bac

[2020-03-11 09:52] Chetanjain10 commented on #104
please assign me this task.

[2020-03-11 14:12] vinitshahdeo commented on #141
Hello @accakks,

Glad to hear from you.

It is absolutely not a requirement that applicants start contributing to projects beforehand. ​Solving **`first-timers-only`** or **`easy`** issues might give you a sense of the codebase, a feel for what the project is like. I recommend you to have a look into the existing codebase - [`README.md`](https://github.com/vinitshahdeo/Water-Monitoring-System/blob

[2020-03-12 04:56] shreyakapoor08 commented on #119
can I take up this issue?

[2020-03-12 07:01] vinitshahdeo commented on #119
Hello @shreyakapoor08,
Sorry, @goyalmuskan si working on this. Checkout other open issues.

[2020-03-12 08:12] payal-98 commented on #80
I want to contribute in this isuue..can u assign me?

[2020-03-12 08:13] payal-98 commented on #84
can u assigned me this issue?

[2020-03-12 10:22] huonggiangbui commented on #73
Hi, can I take this issue?

[2020-03-12 16:36] imemya19 commented on #31
Interested!

[2020-03-12 16:37] imemya19 commented on #36
Interested!

[2020-03-12 16:37] kamal-kaur04 commented on #68
Hello, @PragatiVerma18 I would like to work on the issue.

[2020-03-12 16:39] kamal-kaur04 commented on #73
Hello @YashMeh Can I take this issue if not assigned?

[2020-03-12 16:42] vinitshahdeo commented on #73
Hello @kamal-kaur04, thanks for showing your interest - assigning you this issue.

CC: @YashMeh

[2020-03-12 16:48] imemya19 commented on #105
Interested

[2020-03-12 17:52] Kuljeet-123 commented on #109
I would like to work for this also if possible @vinitshahdeo

[2020-03-12 17:53] Kuljeet-123 commented on #105
I would like to work on this

[2020-03-12 17:54] Kuljeet-123 commented on #103
@vinitshahdeo  I would like to work on this can you please assign me this.

[2020-03-12 20:56] preeti13456 commented on #64
Interested

[2020-03-12 20:57] preeti13456 commented on #68
Interested

[2020-03-12 20:59] preeti13456 commented on #90
Interested to contribute

[2020-03-12 21:00] preeti13456 commented on #71
Interested

[2020-03-12 21:13] vinitshahdeo commented on #90
Hello @preeti13456, Thanks for showing your interest. Sorry to say that it's already assigned to @anmolkaur18. Stay tuned, we'll be opening more issues soon.

[2020-03-13 09:08] vinitshahdeo commented on #5
@ayan-biswas0412 Thanks for your patience. I'll share the specs on the coming weekends. I'm waiting for other tasks to be done before I make any decision on it.

[2020-03-13 14:08] PragatiVerma18 commented on #120
@SaranshDawra, you have been assigned this issue. Please try to resolve it as soon as possible.

[2020-03-13 15:11] Swarnimashukla commented on #66
@PragatiVerma18    I would like to work on this issue please assign it to me .

[2020-03-13 16:14] Swarnimashukla commented on #66
This is the infographic I designed for this project .
![info](https://user-images.githubusercontent.com/30214391/76639196-b7f2ab80-6573-11ea-8d98-35cade163ead.png)

[2020-03-13 16:56] aks861999 commented on #6
Hi there, I want to contribute , but I did **not registered on GSSOC**  portal , Is it possible to contribute without GSSOC REFERENCE?.. I'm immensely excited to see your project on Leaderboard

[2020-03-13 18:09] aks861999 commented on #74
I would like to work on this issue

[2020-03-13 19:19] ArpitKotecha commented on #74
@heisastark What's the status?

[2020-03-14 06:35] PragatiVerma18 commented on #66
@Swarnimashukla Please make a PR.

[2020-03-14 06:38] vinitshahdeo commented on #66
@Swarnimashukla That's awesome. 👏 May I know which platform have you used to create this? Please add the raw file too.

[2020-03-14 06:59] daya2940 commented on #122
if anybody not working on this i would like to try for it

[2020-03-14 08:03] Swarnimashukla commented on #66
thanks @PragatiVerma18 @vinitshahdeo  , I used venngage to create this .

[2020-03-14 14:21] anushka-12-lal commented on #3
Hi, I would like to work on this issue.

[2020-03-14 14:36] anushka-12-lal commented on #2
Hi, can I work on this issue?

[2020-03-14 15:51] ArpitKotecha opened #156 "NodeJs: Create a phone auth route"
**Is your feature request related to a problem? Please describe.**
Some features/routes need the user to be verified.

**Describe the solution you'd like**
Implement firebase phone auth.

**Additional context**
- [Firebase Auth Docs](https://firebase.google.com/docs/auth/web/phone-auth)
- [Medium Article 1](https://medium.com/@shangyilim/verifying-phone-numbers-with-firebase-phone-authentication-o

[2020-03-14 15:57] ArpitKotecha opened #157 "Implement google and email sign-in"
**Is your feature request related to a problem? Please describe.**
Some routes need user to be authenticated.

**Describe the solution you'd like**
Implement Google and email sign-in routes using firebase authentication.

**Additional context**
[Medium Article](https://medium.com/@bharatchhabra/node-js-facebook-gmail-authentication-with-firebase-for-web-a417da8220a9)
[Firebase Docs](https://fireba

[2020-03-14 16:00] ArpitKotecha commented on #74
Please give some updates on progress of the task or I've to reassign this issue.

[2020-03-14 16:48] first-timers[bot] opened #158 "Update LICENSE"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-03-14 16:53] habeeba-naaz commented on #157
I am interested to work on this ..please assign me this issue if possible

[2020-03-14 17:11] Chetanjain10 commented on #157
Please assign me this issue. I want to work on it. @ArpitKotecha

[2020-03-14 17:17] heisastark commented on #74
@ArpitKotecha Hey, I've been sick for a while. Kindly re-assign it. Extremely sorry.

[2020-03-14 17:46] abhu-A-J commented on #156
@ArpitKotecha May I work on this. I'm a GSSoC participant and would like to contribute to this preoject

[2020-03-14 18:04] ArpitKotecha commented on #157
@habeeba-naaz Try to complete the task by Tuesday.

[2020-03-14 18:05] ArpitKotecha commented on #156
@abhu-A-J Yeah sure.
Try to complete the task by tuesday.

[2020-03-14 18:06] habeeba-naaz commented on #157
Thank you for assigning...I am new to backend.But want to learn and do.Do I need to know any prerequisites?

[2020-03-14 18:06] ArpitKotecha commented on #74
Ok. Get well soon ✌️

[2020-03-14 18:07] ArpitKotecha commented on #74
Hi @ashimasingla20, are you still up for working on this issue?

[2020-03-14 18:10] aks861999 commented on #74
Hello Sir, Please consider my request

[2020-03-14 18:10] habeeba-naaz commented on #50
Please explain context of this project..I mean explain coding in sri in brief such that it can easily design if possible?

[2020-03-14 18:13] ayan-biswas0412 commented on #71
Can you assign me @vinitshahdeo using a volume measurement sensor it can be easily done

[2020-03-14 18:14] ArpitKotecha commented on #74
Hi @aks861999, Since @ashimasingla20 commented first, I am asking her but if she doesn't reply by tomorrow I will assign you to it.

[2020-03-14 18:17] ArpitKotecha commented on #157
No, understanding of the language would be fine. Take a look at the articles/docs given in description for help. Also learn more about Firebase & Firebase Authentication.

[2020-03-14 18:25] ArpitKotecha opened #160 "Create route to add a new tank"
**Is your feature request related to a problem? Please describe.**
There is no way to add new water tanks

**Describe the solution you'd like**
Create a new route which will add new tanks to the db.
The route should ask for:-
- Tank Capacity
- Tank Location
- Tank Name

**Additional context**
[Mongoose Docs](https://mongoosejs.com/docs/)

[2020-03-14 18:28] habeeba-naaz commented on #157
Sure...thank you

[2020-03-14 18:28] ArpitKotecha opened #161 "Edit Reading route"
**Is your feature request related to a problem? Please describe.**
Reading route does not give tank location or capacity.

**Describe the solution you'd like**
Change reading route to include :-
- Tank Location
- Tank Capacity
- Tank Name.

**Additional context**
[Mongoose Docs](https://mongoosejs.com/docs/)

#### Note: Create PR to feature/backend-node

[2020-03-14 18:29] ArpitKotecha opened #162 "Change Reading Model"
**Is your feature request related to a problem? Please describe.**
Reading mongoose model does not include tank location, name and capacity.

**Describe the solution you'd like**
Include the following in tank Reading mongoose model :-
- Tank Capacity
- Tank Location
- Tank Name

**Additional context**
[Mongoose Docs](https://mongoosejs.com/docs/)

#### Note: Create PR to feature/backend-node

[2020-03-14 18:45] lakshyajit165 commented on #162
@vinitshahdeo I would like to work on this issue.

[2020-03-14 18:58] me-bhavya commented on #162
I would like to work on it, please assign it to me.

[2020-03-14 19:29] ArpitKotecha commented on #162
Hi @lakshyajit165 , try to complete it by Monday.

[2020-03-15 01:24] MovieMaker93 commented on #33
I want to work on this issue.

[2020-03-15 05:09] setika13 commented on #39
Assign it to me for the first contribution to open source.

[2020-03-15 06:11] setika13 commented on #31
Please assign it to me for the first time contribution

[2020-03-15 06:24] akt114 commented on #160
@vinitshahdeo I'm a gssoc participant and I'd like to work on this issue .

[2020-03-15 06:26] akt114 commented on #161
@vinitshahdeo @PragatiVerma18  I'm a Gssoc participant and I'd like to work on this issue .

[2020-03-15 08:04] Chetanjain10 commented on #161
@vinitshahdeo @PragatiVerma18 @ArpitKotecha please assign me this issue. I want to work on this.

[2020-03-15 08:04] syedareehaquasar commented on #103
please assign me this project

[2020-03-15 11:32] meghanagottapu commented on #109
can I work on this issue?

[2020-03-15 12:04] PragatiVerma18 commented on #161
@akt114 Please start working on the issue and complete it as soon as possible.

[2020-03-15 12:05] Hassan-Mallah commented on #109
Hey,
I would like to try this.
Thank you

[2020-03-15 12:11] Hassan-Mallah commented on #41
Hey,
Can i work on this one?
Thank you

[2020-03-15 12:23] setika13 commented on #35
Please assign me this issue towards my first contribution to open source!

[2020-03-15 12:24] PragatiVerma18 commented on #31
@ayushi0014 If you made the PR, please refer your PR to this issue.

[2020-03-15 12:33] PragatiVerma18 commented on #33
@kudos-dot-com please keep me posted about the updates on your work. Refer your PR to this issue for sake of simplicity.

[2020-03-15 12:38] PragatiVerma18 commented on #50
This project aims at reducing water wastage through tank overflow, hence, we are using IoT devices and alarm mechanisms to alert the owner of the tank when the water level is about to overflow or is about to deplete. We are currently planning to make a React+Django project framework such that we will keep all our data in rest APIs where any owner can signup and login to keep track of his/her tanks

[2020-03-15 12:42] PragatiVerma18 commented on #3
@anushka-12-lal please start contributing and feel free to ask doubts.

[2020-03-15 12:51] habeeba-naaz commented on #50
Thank you for answering...so from which file I can find classes,attributes...if so please explain relationship between them  to design class diagrams

[2020-03-15 12:53] habeeba-naaz commented on #50
Actually I found jquery in SRC folder...If I could understand what’s going on..it will be easy

[2020-03-15 13:06] PragatiVerma18 commented on #5
I am looking for backend and documentation tasks.

[2020-03-15 13:07] PragatiVerma18 commented on #5
@ShauryaBhandari please tell us about the updates on the task. If made a PR, refer it here.

[2020-03-15 16:31] amaaniqbal opened #167 "Create landing page design [medium/hard] - Instance #1"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using a sophisticated design tool (say Figma)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay

[2020-03-15 16:38] amaaniqbal opened #168 "Create landing page design [medium/hard] - Instance #2"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using a sophisticated design tool (say Figma)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay

[2020-03-15 16:38] goyalmuskan commented on #167
I want to work on this, please assign me this issue.

[2020-03-15 16:39] amaaniqbal opened #169 "Create landing page design [medium/hard] - Instance #3"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using a sophisticated design tool (say Figma)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay

[2020-03-15 16:40] amaaniqbal opened #170 "Create landing page design [medium/hard] - Instance #4"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using a sophisticated design tool (say Figma)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay

[2020-03-15 16:42] amaaniqbal opened #171 "Create landing page design [medium/hard] - Instance #5"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using a sophisticated design tool (say Figma)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay

[2020-03-15 16:44] amaaniqbal opened #172 "Create landing page design [easy/medium] - Instance #6"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using any simple design tool (say Paint)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay if y

[2020-03-15 16:45] amaaniqbal opened #173 "Create landing page design [easy/medium] - Instance #7"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using any simple design tool (say Paint)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay if y

[2020-03-15 16:46] amaaniqbal opened #174 "Create landing page design [easy/medium] - Instance #8"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using any simple design tool (say Paint)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design itself but it's okay if y

[2020-03-15 16:49] amaaniqbal opened #175 "Create landing page design [easy] - Instance #9"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using the tool of your choice (it might be Pen/Pencil and Paper)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design i

[2020-03-15 16:50] amaaniqbal opened #176 "Create landing page design [easy] - Instance #10"
**Is your feature request related to a problem? Please describe.**
Create a design of the landing page using the tool of your choice (it might be Pen/Pencil and Paper)

**Describe the solution you'd like**
Your design should be appealing to the user and must be related to the idea of the Water monitoring system. You should try to put relevant content as required at different places in the design i

[2020-03-15 16:54] amaaniqbal opened #177 "Develop Login and Sign Up page"
**Is your feature request related to a problem? Please describe.**
Develop a login and a signup page using HTML/CSS and Bootstrap.

**Describe the solution you'd like**
Your form should contain a label and must be responsive.

**Additional context**
https://getbootstrap.com/docs/4.4/components/forms/

[2020-03-15 16:55] amaaniqbal commented on #167
@goyalmuskan sure, go ahead!

[2020-03-15 17:00] goyalmuskan commented on #177
May I work on this issue?

[2020-03-15 17:31] Chetanjain10 commented on #168
Please assign me this issue @amaaniqbal I really want to work on it.

[2020-03-15 17:53] huonggiangbui commented on #177
Can I take this issue?

[2020-03-15 17:54] abhu-A-J commented on #177
@amaaniqbal may I take this issue?.

[2020-03-15 17:57] megha070 commented on #141
Hi @vinitshahdeo, This is Megha, RGSOC aspirant from Delhi. We are team void and me along with my teammate @kuja24 has experience in both Django and Node js. We found this project really interesting and would like to work upon the same, I wanted to inquire if we can solve issues with GSSOC tag. Or it would be great if you could please suggest us some issues to get started.

[2020-03-15 18:09] amaaniqbal commented on #168
@Chetanjain10 go ahead!

[2020-03-15 18:11] amaaniqbal commented on #177
@goyalmuskan sorry, one task at a time

[2020-03-15 18:11] amaaniqbal commented on #177
@huonggiangbui you can work on this issue!

[2020-03-15 18:13] amaaniqbal commented on #177
@abhu-A-J we will be opening some more issues soon. The one commenting first will be assigned the issue given that he is not already assigned any other issue. Keep an eye on the list :)

[2020-03-15 19:02] aks861999 commented on #74
@ArpitKotecha  Hello sir I'm up for the challenge ✌

[2020-03-15 19:27] ArpitKotecha commented on #74
Ok Cool

[2020-03-15 19:32] ArpitKotecha opened #180 "Write new test for nodejs api"
**Is your feature request related to a problem? Please describe.**
Tests are not complete

**Describe the solution you'd like**
Write test for api's

**Additional context**
[Test a Node RESTful API with Mocha and Chai - Tutorial](https://scotch.io/tutorials/test-a-node-restful-api-with-mocha-and-chai)
[Testing A Node/Express Application With Mocha & Chai - Medium Article](https://medium.com/@ascii

[2020-03-15 19:38] kudos-dot-com commented on #33
PragatiVerma18 sorry for the late update i will try to finish the work in two days.

[2020-03-15 19:39] kudos-dot-com commented on #33
@PragatiVerma18 sorry for the late update i will try to finish the work in two days.

[2020-03-15 19:40] vinitshahdeo commented on #141
Hello @megha070,

Thank you so much for showing your interest. The issues with **_`GSSoC`_** tag are opened for the [GSSoC](https://www.gssoc.tech/) participants. As of now, I recommend you to go through the existing code. Soon I'll be opening a few issues dedicated to [RGSoC](http://railsgirlssummerofcode.org/) aspirants.

**Good luck, Team Void!**

[2020-03-15 21:05] akt114 commented on #180
@ArpitKotecha @vinitshahdeo @PragatiVerma18  I'd like to work on this issue. Please assign this to me.

[2020-03-15 21:10] kudos-dot-com commented on #33
@PragatiVerma18 i cloned the Water-Monitoring-System repository but could not find the api/package.json file.please help me in this issue,where i should make the changes.

[2020-03-16 06:14] Adyasha8105 commented on #175
please assign this issue to me @amaaniqbal

[2020-03-16 06:15] Adyasha8105 commented on #176
please assign this issue to me @amaaniqbal

[2020-03-16 06:24] aks861999 commented on #74
@ArpitKotecha  I have some doubts, Can we discuss over here!? Or in LinkedIn!?

[2020-03-16 07:08] amaaniqbal commented on #175
@Adyasha8105 go ahead! And please delete your comment from the other instance of the same task.

[2020-03-16 07:10] Adyasha8105 commented on #175
@amaaniqbal  OK DONE!

[2020-03-16 08:44] PragatiVerma18 commented on #33
It should be in the `feature\frontend` branch. [https://github.com/vinitshahdeo/Water-Monitoring-System/blob/feature/frontend/package.json](https://github.com/vinitshahdeo/Water-Monitoring-System/blob/feature/frontend/package.json) @jainpawan21 please review.

[2020-03-16 08:45] PragatiVerma18 commented on #180
@akt114 you're good to go. Try to finish the task as early as possible.

[2020-03-16 08:49] PragatiVerma18 commented on #50
Which branch are you looking into?

[2020-03-16 09:21] habeeba-naaz commented on #50
Master...in which branch should I look for fronted?

[2020-03-16 13:46] PragatiVerma18 commented on #50
look into `feature\frontend` branch for the new frontend changes. We are now planning to move to react based frontend.

[2020-03-16 13:50] habeeba-naaz commented on #50
Okay...thank you

[2020-03-16 16:31] ArpitKotecha commented on #74
Wherever you want to.

[2020-03-16 16:46] aks861999 commented on #74
@ArpitKotecha Okay cool then Please accept my request on LinkedIn

[2020-03-16 17:10] ramanaditya commented on #84
The issue has been assigned to @Aju100 and @payal-98 , work on this and make a PR

[2020-03-16 17:48] habeeba-naaz commented on #157
I am in feature/backend-node branch and i didn't find node.js file.
do i need to create node.js file?

[2020-03-16 20:17] habeeba-naaz commented on #172
I am interested to work on this..if possible please assign me

[2020-03-16 20:55] shreoshi-roy commented on #176
Please assign this issue to me, i am interested in working on this.

[2020-03-17 06:27] amaaniqbal commented on #172
@habeeba-naaz go ahead!

[2020-03-17 06:28] amaaniqbal commented on #176
@shreoshi-roy you can work on this issue!

[2020-03-17 06:48] manali-biswas commented on #160
@vinitshahdeo I have worked on a project of mongoose earlier and I am a gssoc participant. Please assign it to me.

[2020-03-17 08:03] ArpitKotecha commented on #160
@akt114 go ahead, try to complete it by wednesday.

[2020-03-17 08:04] ArpitKotecha commented on #160
@manali-biswas go ahead, try to complete by wednesday.

[2020-03-17 08:06] ArpitKotecha commented on #157
@habeeba-naaz Why do you need to create a Node.js files. The node backend code is in api folder.

[2020-03-17 08:07] ArpitKotecha commented on #48
@Aju100 Any update on the issue?

[2020-03-17 08:39] kichloo commented on #104
@vinitshahdeo I would like to fix issues of different levels and want to make my starting in open source through this project. Pl give an easy task for the starting!

[2020-03-17 08:41] kichloo commented on #46
@vinitshahdeo Pl give any easy task!

[2020-03-17 10:03] habeeba-naaz commented on #157
Oh okay...I’ll check

[2020-03-17 10:14] habeeba-naaz commented on #172
Thank you...I’ll start to do

[2020-03-17 11:49] manali-biswas commented on #160
Done, where am I supposed to save this id? I am returning the object to as json data

[2020-03-17 12:13] manali-biswas commented on #160
Submitted the PR. Please review and let me know. @vinitshahdeo @ArpitKotecha

[2020-03-17 15:19] syedareehaquasar commented on #169
please assign me this

[2020-03-17 15:24] aks861999 commented on #6
can i get chance contribute in this issue?@vinitshahdeo

[2020-03-17 16:00] setika13 commented on #109
pls assign me

[2020-03-17 16:03] setika13 commented on #104
pls assign me for first time contribution

[2020-03-17 16:04] Adyasha8105 commented on #109
THIS ISSUE IS ALREADY MERGED

[2020-03-17 17:38] vinitshahdeo commented on #6
@aks861999 I highly appreciate your interest. 👏  Let's wait for some time and then I'll assign you once I don't see an active contribution from GSSoC participants.

[2020-03-17 17:39] vinitshahdeo commented on #6
@aks861999 **Did you check out #141?**

[2020-03-17 19:58] Adyasha8105 commented on #175
I am running behind late. I will try to finish it tomorrow.

[2020-03-17 23:02] TroydonAnabolic commented on #41
Is this still available?

[2020-03-18 04:55] amaaniqbal commented on #169
@syedareehaquasar go ahead!

[2020-03-18 06:30] ashima20 commented on #6
I am sorry i got cough and cold and i panicked. I will work on this today.

[2020-03-18 06:43] aks861999 commented on #6
@vinitshahdeo  yeah Thanks for suggestions , please open some "first-timers" Issues, coz previous ones are blocked by Gssoc guys 😂✌

[2020-03-18 07:41] vinitshahdeo commented on #6
No problem @ashima20! Please take care.<sup>**Stay safe!**</sup>

[2020-03-18 07:42] vinitshahdeo commented on #6
Sure, will be opening few `first-timers` issues pretty soon.

[2020-03-18 07:51] shreoshi-roy commented on #170
May I work on this issue? I will unassign from #176

[2020-03-18 09:31] amaaniqbal commented on #170
Yeah, go ahead!

[2020-03-18 13:41] satvikchachra commented on #174
I would like to work on this issue as a GSSoC 2020 participant.

[2020-03-18 13:58] FrozenGirl-spd commented on #176
Hey! Can i work on this issue ?

[2020-03-18 14:09] SaranshDawra commented on #173
@amaaniqbal I would like to work on this issue. Please assign this to me.

[2020-03-18 14:16] PragatiVerma18 opened #189 "Fix broken links in readme."
**Describe the bug**
A clear and concise description of what the bug is.
Please fix the broken links and images in the readme.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![1](https://user-images.githubusercontent.com/42115530/76969883-0677bf80-6951-11ea-8e7d-2c070d67afcc.PNG)
![Capture](https://user-images.githubusercontent.com/42115530/76969923-142d4500-6951-11e

[2020-03-18 14:17] vngarg commented on #189
I can do this ..
Assign me this

[2020-03-18 14:20] abhu-A-J commented on #189
@PragatiVerma18  can I take this issue?

[2020-03-18 14:25] PragatiVerma18 commented on #189
@abhu-A-J Please start working on it.

I will assign you another one soon.

[2020-03-18 14:27] abhu-A-J commented on #189
Cool. Thanks. I'll make a PR soon.

[2020-03-18 14:28] anushka-12-lal commented on #21
Can I work on this issue?

[2020-03-18 14:40] jainpawan21 commented on #174
Go ahead @satvikchachra. Please read carefully contribution and pull request guidelines and make sure you raise pull request in `feature/frontend` branch

[2020-03-18 14:50] PragatiVerma18 opened #190 "Add API endpoints for hardware models."
**Is your feature request related to a problem? Please describe.**
Add API endpoints i.e URLs for accessing the hardware API existing in `feature/backend-django` branch.

Keep in mind:
- Changes are to be made in [urls.py](https://github.com/vinitshahdeo/Water-Monitoring-System/blob/feature/backend-django/water_monitoring_system/water_monitoring_system/hardware/urls.py)
- Changes are to be pushed

[2020-03-18 14:59] amaaniqbal commented on #176
@FrozenGirl-spd you can, go ahead!

[2020-03-18 14:59] amaaniqbal commented on #173
@SaranshDawra sure!

[2020-03-18 15:00] #118 closed

[2020-03-18 15:06] abhu-A-J commented on #189
@PragatiVerma18 can you explain to me which branch readme has this issue? For me, all the images are loading correctly along with the badges as well!

[2020-03-18 15:52] divided7 opened #191 "Modification needed in Readme.md"
**Describe the bug**
Most links in the readme.md file are not working.

**Expected behavior**
Changing the URL of the redirected pages to make them work properly.
For eg.-the issues link in the readme redirects to [a 404 error page](https://github.com/codeuino/Water-Monitoring-System/issues)

[2020-03-18 16:01] MdAkdas commented on #191
I would like to work on this issue.

[2020-03-18 16:19] kamal-kaur04 commented on #73
@YashMeh can you tell some resources to write specific tests for nodejs API?

[2020-03-18 16:37] divided7 commented on #141
Hi, I wanted to know the general design theme that I have to keep in mind while designing mockups, are their any templates/themes/demos available?

[2020-03-18 17:41] Riyagoel2 commented on #189
I also want to work on it

[2020-03-18 19:46] shwhite17 commented on #177
will you please assign it to me, I already have.

[2020-03-18 19:49] shwhite17 commented on #171
will you please assign it to me?

[2020-03-18 19:53] vinitshahdeo commented on #141
@divided7 Can you please discuss the same on #2?

[2020-03-18 19:55] vinitshahdeo commented on #171
@shwhite17 Assigning you this issue.

[2020-03-19 03:48] FrozenGirl-spd commented on #176
Thankyou!

[2020-03-19 08:09] huonggiangbui commented on #191
Can I take this issue @divided7

[2020-03-19 08:46] divided7 commented on #191
@huonggiangbui I can't assign this issue to anyone, please wait for a collaborator to do so :)

[2020-03-19 11:36] vinitshahdeo commented on #191
@divided7 are you a GSSoC participant?

[2020-03-19 13:14] FrozenGirl-spd commented on #177
@amaaniqbal can i work on the issue pleaseeeee?!

[2020-03-19 16:27] divided7 commented on #191
@vinitshahdeo nope, just browsing through some repos

[2020-03-19 18:56] anushka-12-lal commented on #21
![Group 1](https://user-images.githubusercontent.com/57300780/77103759-f4754a00-6a40-11ea-8518-6ba495cea22e.jpg)

Hi @vinitshahdeo I have designed this logo for the project, please review it and let me know.

[2020-03-20 05:25] goyalmuskan commented on #191
May I work on this issue?

[2020-03-20 07:24] AdityaAshvin commented on #191
I would like to work on this issue.

[2020-03-20 15:07] Adyasha8105 commented on #175
@amaaniqbal can you check my PR?

[2020-03-20 16:00] discombobulateme commented on #141
Hi @vinitshahdeo :)
PoV Persistence of Vision team here \o/
We already started a conversation through e-mail and we are currently learning the existing codebase together with our coach :)
We are planning on working on the REST API using Node.js and Express in the next days (after we finish the application as itself demands a lot of work and attention), as you mentioned the importance to understand

[2020-03-20 17:10] vinitshahdeo commented on #191
@divided7 I checked the `README.md`, none of the links of issues seem to be broken? Can you please let us know the broken one?

[2020-03-20 18:28] KushalBhanot commented on #4
Hey! I would like to contribute to this as a part of GSSoC'20.

Email: developerkushalb@gmail.com

[2020-03-21 11:16] #174 closed

[2020-03-21 14:02] vinitshahdeo commented on #15
Hello everyone,

I hope you are all staying safe at your home and enjoying the contribution to your awesome open source projects.

#### [DO THE FIVE](https://www.mohfw.gov.in/): Help stop coronavirus

1. **HANDS**: Wash them often
2. **ELBOW**: Cough into it
3. **FACE**: Don't touch it
4. **SPACE**: Keep safe distance
5. **HOME**: Stay if you can

#### COVID-19: Stay Home<sup>Stay Safe</sup>

<sup

[2020-03-21 14:44] vinitshahdeo commented on #141
Hello @discombobulateme,

Thanks again for showing your interest. Here you go:

1. The main idea is to provide a web-based dashboard(later mobile app too) that has mechanisms to keep the relevant stakeholder (maybe government officials) alerted in case of liquid overflow or when tank depletes. This can be extended to house water tanks too as the idea is to provide an open-source system that can be

[2020-03-21 14:49] vinitshahdeo commented on #141
Hello everyone,

I hope you are staying safe at your home and enjoying the contribution to your awesome open source projects.

#### :wave: [DO THE FIVE](https://www.mohfw.gov.in/): Help stop coronavirus

1. **HANDS**: Wash them often
2. **ELBOW**: Cough into it
3. **FACE**: Don't touch it
4. **SPACE**: Keep safe distance
5. **HOME**: Stay if you can

#### COVID-19: Stay Home<sup>Stay Safe</sup>

-

[2020-03-21 18:16] #170 closed

[2020-03-21 22:56] vinitshahdeo commented on #141
@goyalmuskan<sup>**MUSKAN GOYAL**</sup> from India, Chandigarh Region is looking for a teammate to participate with her. She is interested in contributing to this project.

Can anyone help Muskan find a teammate for [RGSoC](https://railsgirlssummerofcode.org/)?

[2020-03-21 22:59] vinitshahdeo commented on #141
@goyalmuskan<sup>**MUSKAN GOYAL**</sup> from India, Chandigarh Region is looking for a teammate to participate with her. She is interested in contributing to this project.

Can anyone help [Muskan](https://www.linkedin.com/feed/update/urn:li:activity:6643145892251701248/) find a teammate for [RGSoC](https://railsgirlssummerofcode.org/)?

[2020-03-22 13:40] divided7 commented on #191
issues, pull requests, and some more too

[2020-03-22 13:40] divided7 commented on #191
Out of the few that I checked, only the Author link seems to be working

[2020-03-22 14:09] vinitshahdeo commented on #191
@divided7 It's working for me. Are you checking this [README.md](https://github.com/vinitshahdeo/Water-Monitoring-System/blob/master/README.md)?

[2020-03-22 14:54] ayan-biswas0412 commented on #190
I can do this please assign me . and tell ellaboarelty what to do.

[2020-03-22 14:55] ayan-biswas0412 commented on #190
what actually i have to do in this ?

[2020-03-22 15:18] ayan-biswas0412 commented on #6
Hi I can do this please assign me this task and give relevant info about this?
This is a cakewalk for me .. Text messaging service can be easily done with a message getaway

[2020-03-22 15:25] ayan-biswas0412 opened #205 "Add authentication system for the water level dashboard users"
**Is your feature request related to a problem? Please describe.**
Preventing anonymous users see the water level

**Describe the solution I'd like**
I want to add an user authentication system (Email Password login , reset password ) using google firebase

**alternatives I've considered**
Alternatively can be done with php, Mysql

Please assign me in this i can do this

[2020-03-22 15:26] ayan-biswas0412 commented on #205
@vinitshahdeo
@ShreyaAnand
please respond

[2020-03-22 15:47] syedareehaquasar commented on #169
done submitted PR ...
please review...

[2020-03-22 15:53] syedareehaquasar commented on #169
here is my link https://www.figma.com/file/tZCrAk0QOJoMum0KDhcWDK/Untitled?node-id=6%3A3

[2020-03-22 16:57] Mit-Patel commented on #190
I am interested in it. Please assign it to me.

I have understand the **hardware** app but I could noe found any existsing views to which I can map to an url.

[2020-03-22 17:13] divided7 commented on #191
@vinitshahdeo try clicking the Issues button or the Pull Requests button under the Issues section

[2020-03-22 17:44] ayan-biswas0412 commented on #5
Hi i am doing this using firebase @vinitshahdeo  will i do that ?

[2020-03-22 18:18] goyalmuskan commented on #191
Should these changes be added to feature/frontend branch? @vinitshahdeo

[2020-03-22 18:20] vinitshahdeo commented on #191
Branch off from `master`, make changes and raise PR to `master`.

[2020-03-22 18:56] #191 closed

[2020-03-22 21:52] ayan-biswas0412 commented on #3
Hi is there anything for working in documentation please assign me

[2020-03-22 22:43] ayan-biswas0412 commented on #5
You haven't assigned me something yet though I have responded first @vinitshahdeo

[2020-03-23 05:43] goyalmuskan opened #211 "Adding Hover Effect on Social Media Icons"
![Screenshot (62)](https://user-images.githubusercontent.com/47412347/77285504-24e60e00-6cf7-11ea-8546-cf27c2ab649e.png)

Changing the color of the social media icon on hover

[2020-03-23 05:43] goyalmuskan commented on #211
@vinitshahdeo Please assign me this issue.

[2020-03-23 06:00] Mustafiz04 commented on #211
I would also like to work on this issue please assign to me too

[2020-03-23 11:46] shreoshi-roy commented on #211
I am interested in working on this issue. Please assign it to me

[2020-03-23 12:21] vinitshahdeo commented on #211
@goyalmuskan That's a nice catch. Assigning you this issue.

[2020-03-23 12:46] goyalmuskan commented on #211
Thank you @vinitshahdeo

[2020-03-23 17:54] lakshyajit165 commented on #162
@ArpitKotecha. I have already raised a PR (#193 related to this issue since last Monday. Please review.

[2020-03-24 03:48] anshu18107 commented on #177
Assign me the issue @amaaniqbal I know ui/ux designs a bit can develop a good looking login and sign up page assign me the issue plzz

[2020-03-24 13:14] vinitshahdeo commented on #205
@ayan-biswas0412 Hey, are you a participant of [GSSoC](https://www.gssoc.tech/)?

[2020-03-24 13:15] vinitshahdeo commented on #21
@anushka-12-lal May I know which tool have you used to create this logo?

[2020-03-24 13:22] vinitshahdeo opened #215 "Add a FAQ section for RGSoC"
As this project is shortlisted to accept contributions under [RGSoC](https://railsgirlssummerofcode.org/), it'll be a great idea to include a dedicated FAQ section for RGSoC.

- **Check out the project [here](https://teams.railsgirlssummerofcode.org/projects/293-water-monitoring-system).**
- **Check [this](https://railsgirlssummerofcode.org/students/application/) for more info.**

[2020-03-24 13:23] abhu-A-J commented on #215
Can I take this

[2020-03-24 13:25] vinitshahdeo commented on #215
@abhu-A-J Hey, this is exclusively for RGSoC participants. Sorry, I can't assign you.

[2020-03-24 13:26] abhu-A-J commented on #215
Yes Sir, I just realized that I have deleted the comment as well!

[2020-03-24 14:18] ayan-biswas0412 commented on #205
Yes I am a Participant

[2020-03-24 19:04] Adyasha8105 commented on #109
closes #109

[2020-03-24 19:25] FrozenGirl-spd commented on #176
@amaaniqbal  I have sent a PR. Can you please check it out!! :)

[2020-03-24 19:26] FrozenGirl-spd commented on #177
@amaaniqbal  can i work on the issue please?!!

[2020-03-24 19:29] FrozenGirl-spd commented on #215
@vinitshahdeo  Can i work on this issue?

[2020-03-24 21:08] shradhasehgal opened #217 "User model in nodejs backend"
**Is your feature request related to a problem? Please describe.**
There is currently no User model in the feature/backend-node branch.

**Describe the solution you'd like**
A User with the following fields:
- Unique username
- Name

**Describe alternatives you've considered**
More information relevant to the user be stored in the Model

[2020-03-24 21:10] shradhasehgal commented on #217
Please assign this to me.

[2020-03-24 21:13] vinitshahdeo commented on #217
@shradhasehgal Hello, are you a participant of GSSoC?

[2020-03-24 21:21] shradhasehgal commented on #217
@vinitshahdeo No, I am a participant of RGSoC.

[2020-03-24 21:32] vinitshahdeo commented on #217
@shradhasehgal Glad to see you, can you please send me an email at **vinitshahdeo[at]gmail[dot]com** so that we can discuss further in detail?

[2020-03-25 05:25] goyalmuskan commented on #215
@vinitshahdeo May I work on this?

[2020-03-25 13:30] PragatiVerma18 commented on #21
Hello everyone, I am glad to see such enthusiasm for a contribution towards this project. For Design submissions, please add your image files to the Resources folder of `feature/documentation` branch and then send a PR to the `feature/documentation` branch of this project repo. If we like your designs, we will merge it there. Happy contributing!!! ✨

[2020-03-25 17:10] amaaniqbal commented on #177
@huonggiangbui any updates?

[2020-03-25 17:14] huonggiangbui commented on #177
@amaaniqbal sorry. I still working on it. Just done with design. I will reach out you soon in detail

[2020-03-25 19:14] me-bhavya commented on #217
Sir I am a gssoc 2020 participant and would love to work on this issue. Please assign this to me.

[2020-03-25 21:18] PIYUSH-01 commented on #211
Hi @goyalmuskan Can I work on this issue as it is still open??

[2020-03-26 17:52] huonggiangbui commented on #217
can i take this issue? I am a gssoc participant

[2020-03-26 18:26] nandikajain opened #221 "Issue with Ultrasonic Sensors"
The ultrasonic sensors help in measuring the distance, which will be used in this project to measure and water level and send the warning if it goes beyond the safe level. But the problem with ultrasonic sensors is that it gives very high or low readings sometimes,i.e. the readings are not always accurate.

To solve this issue,a time factor can be added, that is if the water level is in the partic

[2020-03-27 07:07] Nishtha3512 commented on #141
Hey @goyalmuskan i am also looking for team mate to contribute to this project.Am from Punjab. linkedin.com/in/nishtha-arora-645047188 Ping me if interested.

[2020-03-27 14:50] goyalmuskan opened #222 "Making the Footer Responsive"
Presently, the footer is not responsive. I would like to work on it. Please assign me this issue. @vinitshahdeo

[2020-03-27 16:59] vinitshahdeo commented on #222
Assigning you. @goyalmuskan

[2020-03-27 22:55] shreyakapoor08 commented on #215
@vinitshahdeo can I work on this?

[2020-03-28 20:25] Adyasha8105 commented on #175
@vinitshahdeo Can you merge my PR?

[2020-03-28 21:12] vinitshahdeo commented on #141
**Hello Everyone,**

This is a gentle reminder that the **student application phase closes Monday night**. Please apply if you haven't yet.

_All the very best:)
Thanks._

---

<sup>Check my latest midnight hack [here](https://corona-cases-india.netlify.com/). Created web app for the latest `COVID-19` updates.</sup>

[2020-03-28 21:18] vinitshahdeo commented on #15
Hello everyone,

**Thank you so much for your awesome contributions so far.** I hope everyone is safe at your home. Turn your self-isolation into self-improvement by learning new things and contributing to open source.

**Happy Coding!** ❤️

---
<sup>**Checkout my latest midnight hack [here](https://corona-cases-india.netlify.com/), a web app for the latest `COVID-19` updates.**  </sup>

[2020-03-29 04:07] #167 closed

[2020-03-29 04:08] #175 closed

[2020-03-29 09:26] syedareehaquasar commented on #169
done modifications @amaaniqbal  please review

[2020-03-29 13:44] OveeKulkarni commented on #215
May I work on this?

[2020-03-30 18:43] PragatiVerma18 commented on #221
@nandikajain are you working on this issue?

[2020-03-30 18:46] nandikajain commented on #221
Yes, I am. I also had a few ideas for the project which I have listed in the project features in the application for RGSoC'20.

[2020-03-30 18:47] PragatiVerma18 commented on #205
@ayan-biswas0412 please start working on this issue. It's now assigned to you.

[2020-03-30 18:51] PragatiVerma18 commented on #190
@Mit-Patel either use Django Rest Framework to create APIViews/Viewsets or else create a pure Django API where you have to create the views too on your own.

[2020-03-30 19:16] ayan-biswas0412 commented on #205
Thank you i will surely do that

[2020-03-30 19:26] Tawishi commented on #68
I would like to work on this issue.

[2020-03-30 19:28] Tawishi commented on #49
I would like to take up this issue.

[2020-03-31 09:39] vinitshahdeo commented on #141
## CHECK OUT [THIS LINK](https://corona-cases-india.netlify.com/) FOR LIVE CORONA UPDATES

Hello everyone,

**Thanks for the application.**

It's not an exaggeration to say that we are at war against the [#coronavirus](https://corona-cases-india.netlify.com/); a war we must win. **Together, we'll win this battle!**

### Happy Coding! ❤️

## `STAY HOME, STAY SAFE!`

[2020-04-01 06:07] Ruchika30 commented on #157
I would like  to work on this @ArpitKotecha

[2020-04-01 06:08] Ruchika30 commented on #222
Is this done. If not I would liek to work on it @goyalmuskan

[2020-04-01 06:09] Ruchika30 commented on #177
I can contribute to this. @huonggiangbui  @amaaniqbal

[2020-04-01 12:43] #211 closed

[2020-04-01 15:15] discombobulateme commented on #141
Dear @vinitshahdeo ,

Keeping you updated to our progress, last week I was concentrated learning a little bit about Node.js and Express and this is the link for the App I created with a tutorial help: https://github.com/discombobulateme/BeTheHero/tree/master/backend

Is that what you meant by indicating us (V and I) that could be a useful knowledge?

What do you recommend to be our next steps to b

[2020-04-01 15:31] #169 closed

[2020-04-01 16:35] vinitshahdeo commented on #222
@Ruchika30 Hey, this is merged.

[2020-04-01 19:18] syedareehaquasar commented on #173
Can i work on this issue?

[2020-04-01 19:24] syedareehaquasar commented on #173
please assign me this issue

[2020-04-01 19:24] syedareehaquasar commented on #171
please assign me this issue

[2020-04-01 19:25] syedareehaquasar commented on #168
please assign me this issue @amaaniqbal

[2020-04-02 05:13] amaaniqbal commented on #168
@syedareehaquasar you can claim only one instance of the same task

[2020-04-02 11:59] fabianmuema commented on #103
please assign me

[2020-04-02 17:09] msk4862 commented on #190
@PragatiVerma18 I have experience in Django Rest Framework.
Do we have to create API endpoints for `Hardware` model (GET, POST, PUT)?

[2020-04-03 18:07] vinitshahdeo commented on #141
Hello teams,

Here's a small update:

****29 teams** (20 as 1<sup>st</sup> choice + 9 as 2<sup>nd</sup> choice) have [submitted](https://teams.railsgirlssummerofcode.org/projects/293-water-monitoring-system) their application.** I'm delighted to have such an overwhelming response!

Thank you so much for showing your interest.
**Wishing you `All the Best` for [RGSoC'20](https://railsgirlssummerofco

[2020-04-03 19:41] Shruti3004 commented on #215
I would like to resolve this issue @vinitshahdeo sir.

[2020-04-03 19:49] 215nandini commented on #177
I would like to contribute on this issue @amaaniqbal sir.

[2020-04-03 22:15] shreyakapoor08 commented on #44
Is this issue still open @vinitshahdeo ?

[2020-04-04 21:55] vinitshahdeo commented on #177
Hello @Ruchika30, @215nandini -  Sorry to say that this issue is already assigned to @huonggiangbui. Please claim other open issues.

[2020-04-05 03:25] habeeba-naaz opened #230 "Create Website for Water Monitoring System"
**Is your feature request related to a problem? Please describe.**
Create a website such that users can register and know about the system.

**Describe the solution you'd like**
A user can use the system and contact for any queries .

[2020-04-05 03:28] habeeba-naaz commented on #230
Please assign me this issue..I already have solution

[2020-04-05 05:44] iBruceW commented on #2
Hi, I want to work on this issue. Can you please assign this to me?

[2020-04-05 05:54] iBruceW commented on #221
Hi, I would like to work on this issue. Can you please assign me on this issue?

[2020-04-05 06:03] iBruceW commented on #54
Hi, I would like to work on this issue. Can you please assign me on this issue?

[2020-04-05 06:05] iBruceW commented on #51
Hi @PragatiVerma18 I would like to work on this. Please assign me on this issue.

[2020-04-05 06:07] iBruceW commented on #21
Hi @PragatiVerma18 @vinitshahdeo I would like to work on this. Please assign me on this issue.

[2020-04-05 06:14] PragatiVerma18 commented on #54
@IuliaElizaS please start working on this issue and keep me updated about the progress.

[2020-04-05 06:16] PragatiVerma18 commented on #51
@iBruceW please start working on this issue and keep us updated regarding the progress. All the best!!

[2020-04-05 06:18] PragatiVerma18 commented on #21
@iBruceW you already have a similar issue assigned to you, please firstly complete that.

[2020-04-05 09:24] IuliaElizaS commented on #54
@PragatiVerma18
Hi, I've made a PR for this issues more than 2 weeks ago. It was aproved by @vinitshahdeo but not merged ... I don't know why... If i did something wrong during the PR, please tell me. It the first time I'm doing this.

Here is the link for the PR https://github.com/vinitshahdeo/Water-Monitoring-System/pull/203

Thank you

[2020-04-06 15:50] iBruceW commented on #51
Ok ma'am. Already working on that.

[2020-04-07 03:21] aashimgarg opened #231 "Add GitHub actions to the project."
I will add github actions to the project. GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD.

Should i work with this as this will be very good for the project.

[2020-04-07 03:22] aashimgarg commented on #231
@vinitshahdeo have a look at this will be very useful.

[2020-04-07 17:41] iBruceW commented on #49
Hi @PragatiVerma18, I would like to work on this issue. Can you please assign me on this issue.

[2020-04-07 18:06] iBruceW commented on #51
Hi @PragatiVerma18, I have created a PR for this issue. Please review my PR.

[2020-04-07 18:07] iBruceW commented on #51
Hi @PragatiVerma18, I have created a PR for this issue. Please review the my PR.

[2020-04-07 18:08] iBruceW commented on #51
Hi @PragatiVerma18, I have created the PR for this issue, please review it.

[2020-04-08 08:04] Adyasha8105 commented on #21
hello @PragatiVerma18 @vinitshahdeo Can I work on this issue?

[2020-04-10 08:46] saloniankita23 commented on #215
@vinitshahdeo Kindly assign me this issue. I would like to work on it.

[2020-04-10 12:39] PragatiVerma18 commented on #51
Please refer the PR to this issue.

[2020-04-12 11:41] vinitshahdeo commented on #230
Assigning you this issue @habeeba-naaz.

[2020-04-12 15:10] Adyasha8105 commented on #51
@PragatiVerma18 Can I work on this issue?

[2020-04-12 16:29] habeeba-naaz commented on #230
Thank you for assigning...

[2020-04-13 20:49] vinitshahdeo opened #236 "An OPEN LETTER to all the contributors"
### **Dear Friend,** 👋

Hoping this letter finds you well and safe; **you**, **your family** and **your loved ones**!

😷 👪 🏠

Together we are facing an unprecedented time that is affecting all of our community, our families, and our way of life. As the nation battles to curb the impact of the coronavirus, our one and only responsibility right now is to **stay safe** and **practice social distancin

[2020-04-13 20:50] vinitshahdeo commented on #236
See the above thread.

@syedareehaquasar @bighnesh0404 @Mustafiz04 @PIYUSH-01 @Yashank18 @vngarg @SaranshDawra @LovepreetSingh12 @divided7 @MdAkdas @AdityaAshvin @kichloo @ki9gpin @SomyaGandhi @MdAkdas @manali-biswas @akt114 @aks861999 @heisastark @SDakshit @soulhunter10737 @shreyakapoor08 @kudos-dot-com @setika13 @Adyasha8105 @Akansha2202 @kpose @arch888 @aks861999 @anushka-12-lal @thesrijande

[2020-04-13 20:54] vinitshahdeo commented on #15
**Hello everyone, please do check out my open letter at #236.**

[2020-04-13 20:55] vinitshahdeo commented on #141
**Hello everyone, please do check out my open letter at #236.**

[2020-04-13 21:37] himanshusharma89 commented on #236
It’s great to have a mentor like you. Hope you are also safe. 😄

[2020-04-14 11:15] PragatiVerma18 commented on #236
Thank you for this opportunity!!! Hoping that this project gets more and more contributions ✨✨

[2020-04-14 11:51] PragatiVerma18 commented on #190
@msk4862 you may work on this issue. Try completing the task as early as possible.

[2020-04-14 12:05] PragatiVerma18 commented on #231
@aashimgarg Can you please elaborate what sort of GitHub actions do you want to be included in this project and why. Also, are you interested in contributing something to solve this issue for eg. - Github actions documentation for this project.

[2020-04-14 12:13] PragatiVerma18 commented on #189
For all documentation related changes, make a PR to `feature/documentation` branch.

[2020-04-14 12:15] PragatiVerma18 commented on #205
If you have made a PR for this issue, please refer it to this issue.

[2020-04-14 12:16] #222 closed

[2020-04-14 12:19] PragatiVerma18 commented on #221
This issue is for RGSoC and not GSSoC and @nandikajain is already working for this issue. You may find another issue for contribution.

[2020-04-14 12:24] PragatiVerma18 commented on #217
@me-bhavya please start working on this issue.

[2020-04-14 12:28] PragatiVerma18 commented on #180
@akt114 what is the status for this issue. Please be active or else I may have to unassign you from this issue.

[2020-04-15 22:26] vinitshahdeo commented on #236
### Hello everyone,

[![COVID-19 Tracker by Vinit Shahdeo](https://user-images.githubusercontent.com/20594326/79394735-d1817b80-7f95-11ea-90a4-7b99e86f8560.png)](https://indiafightscorona.netlify.app/)

---
<sup><strong> I've just revamped the UI(WIP). You can check the old website [here](https://corona-cases-india.netlify.app/). Consider leaving a star [here](https://github.com/vinitshahdeo/COVID

[2020-04-15 22:27] vinitshahdeo commented on #15
### Hello everyone,

[![COVID-19 Tracker by Vinit Shahdeo](https://user-images.githubusercontent.com/20594326/79394735-d1817b80-7f95-11ea-90a4-7b99e86f8560.png)](https://indiafightscorona.netlify.app/)

---
<sup><strong> I've just revamped the UI(WIP). You can check the old website [here](https://corona-cases-india.netlify.app/). Consider leaving a star [here](https://github.com/vinitshahdeo/COVID

[2020-04-15 22:27] vinitshahdeo commented on #141
### Hello everyone,

[![COVID-19 Tracker by Vinit Shahdeo](https://user-images.githubusercontent.com/20594326/79394735-d1817b80-7f95-11ea-90a4-7b99e86f8560.png)](https://indiafightscorona.netlify.app/)

---
<sup><strong> I've just revamped the UI(WIP). You can check the old website [here](https://corona-cases-india.netlify.app/). Consider leaving a star [here](https://github.com/vinitshahdeo/COVID

[2020-04-18 07:13] amaaniqbal commented on #177
@huonggiangbui are you still working on this? The issue doesn't seem to take this much time. Please let us know if you are facing any issues.

[2020-04-18 16:14] huonggiangbui commented on #177
@amaaniqbal I am here. I have some problems with my computer :( I will raise a PR tomorrow. Sorry for resolve this issue late

[2020-04-18 23:07] ayan-biswas0412 commented on #205
I have already mentioned this issue

[2020-04-20 22:19] vinitshahdeo commented on #236
**Hello everyone!**

### Here're the five **[takeaways](https://github.com/vinitshahdeo/Event-Loop-In-JavaScript#five-five-takeaways-bulb)** from my last session on [Event Loop in JavaScript](https://www.youtube.com/watch?v=zsRv8g3C4rY)!

# [![YouTube Live](https://img.shields.io/badge/YouTube-Live-tomato.svg?style=for-the-badge&logo=youtube)](http://bit.ly/hackon-js)

[2020-04-20 22:19] vinitshahdeo commented on #15
**Hello everyone!**

### Here're the five **[takeaways](https://github.com/vinitshahdeo/Event-Loop-In-JavaScript#five-five-takeaways-bulb)** from my last session on [Event Loop in JavaScript](https://www.youtube.com/watch?v=zsRv8g3C4rY)!

# [![YouTube Live](https://img.shields.io/badge/YouTube-Live-tomato.svg?style=for-the-badge&logo=youtube)](http://bit.ly/hackon-js)

[2020-04-20 22:20] vinitshahdeo commented on #141
**Hello everyone!**

### Here're the five **[takeaways](https://github.com/vinitshahdeo/Event-Loop-In-JavaScript#five-five-takeaways-bulb)** from my last session on [Event Loop in JavaScript](https://www.youtube.com/watch?v=zsRv8g3C4rY)!

# [![YouTube Live](https://img.shields.io/badge/YouTube-Live-tomato.svg?style=for-the-badge&logo=youtube)](http://bit.ly/hackon-js)

[2020-04-21 03:03] darkmatter18 commented on #180
@PragatiVerma18 Can I work on this, if noone is working

[2020-04-21 10:36] Ruchika30 commented on #171
If this isn't taken up I can look into it

[2020-04-21 10:48] Ruchika30 commented on #2
If this isn't taken up I can look into it ? @vinitshahdeo

[2020-04-21 10:58] vinitshahdeo commented on #2
@Ruchika30 Hey, please check once with @PragatiVerma18 @jainpawan21. This issue has multiple tasks associated with it.

[2020-04-21 10:59] vinitshahdeo commented on #171
@Ruchika30 Hey, it's already assigned to @shwhite17. Check with her once.

CC: @jainpawan21 @PragatiVerma18

[2020-04-22 01:25] ArpitKotecha commented on #180
@darkmatter18  assigned

[2020-04-22 04:54] darkmatter18 commented on #180
@ArpitKotecha Do I work on the branch `feature/backend-node`

[2020-04-22 06:43] PragatiVerma18 commented on #171
@shwhite17 what's the status of your PR for this issue? Please link your PR to this issue for easy reference.

[2020-04-22 06:45] PragatiVerma18 commented on #2
@Ruchika30 and @iBruceW, can you both please elaborate your UI improvement suggestions before I can assign this issue to any of you.

[2020-04-22 06:52] PragatiVerma18 commented on #51
Yeah sure, this issue can have multiple instances, so please contribute your logo design.

[2020-04-22 07:53] shwhite17 commented on #171
@PragatiVerma18 ma'am I think it merged [here](https://github.com/shwhite17/Water-Monitoring-System/pull/2) is a link. please check out it.

[2020-04-22 16:01] huonggiangbui commented on #49
Can I take this issue? @PragatiVerma18

[2020-04-22 16:02] huonggiangbui commented on #68
@PragatiVerma18 Can I take this issue

[2020-04-23 08:20] #171 closed

[2020-04-24 07:02] Ruchika30 commented on #2
Hi @PragatiVerma18 would u pls help me so as to which branch I need to take pull...is it /frontend?

[2020-04-25 10:02] iBruceW commented on #51
Hi @PragatiVerma18 , I created a PR #241. Please review and merge.

[2020-04-25 14:52] vinitshahdeo commented on #15
Hello everyone,

Hope you're having a good time at home. Recently, I took a webinar on [Competitive Programming](https://twitter.com/Vinit_Shahdeo/status/1254039099851149312) - I wish it was as easy as the 0s and 1s but its much more than the bits and bytes that make this world.

### Join [this](https://www.hackerrank.com/contests/mentorshipkarona-webinar-by-vinit-shahdeo/challenges) contest to ge

[2020-04-25 14:52] vinitshahdeo commented on #236
Hello everyone,

Hope you're having a good time at home. Recently, I took a webinar on [Competitive Programming](https://twitter.com/Vinit_Shahdeo/status/1254039099851149312) - I wish it was as easy as the 0s and 1s but its much more than the bits and bytes that make this world.

### Join [this](https://www.hackerrank.com/contests/mentorshipkarona-webinar-by-vinit-shahdeo/challenges) contest to ge

[2020-04-25 14:53] vinitshahdeo commented on #141
Hello everyone,

Hope you're having a good time at home. Recently, I took a webinar on [Competitive Programming](https://twitter.com/Vinit_Shahdeo/status/1254039099851149312) - I wish it was as easy as the 0s and 1s but its much more than the bits and bytes that make this world.

### Join [this](https://www.hackerrank.com/contests/mentorshipkarona-webinar-by-vinit-shahdeo/challenges) contest to ge

[2020-04-25 20:10] ramanaditya commented on #236
https://github.com/vinitshahdeo/Water-Monitoring-System/issues/236#issuecomment-619391114
Hey @vinitshahdeo
I have completed this cp contest and the contest really had good questions.
Thanks for this.
[Leaderboard](https://www.hackerrank.com/contests/mentorshipkarona-webinar-by-vinit-shahdeo/leaderboard)

[2020-04-25 21:50] vinitshahdeo commented on #236
@ramanaditya Wow, that's great! 🎊 🔥

---
Leaderboard: https://www.hackerrank.com/contests/mentorshipkarona-webinar-by-vinit-shahdeo/leaderboard

[2020-04-28 15:05] shwhite17 commented on #51
will you please assign it to me? @iBruceW

[2020-04-29 18:31] PragatiVerma18 commented on #68
@huonggiangbui try doing this task as early as possible. Good Luck.

[2020-04-29 18:39] PragatiVerma18 commented on #21
@Adyasha8105 your contributions are welcome. Please share your design here.

[2020-04-29 18:42] PragatiVerma18 commented on #44
Yes @shreyakapoor08 you can make your contribution.

[2020-04-29 18:45] PragatiVerma18 commented on #5
@ShauryaBhandari are you still working on this issue. Please give some response and show your progress in solving this issue or else, I would have to unassign you from this issue.

[2020-05-01 00:03] vinitshahdeo commented on #236
https://twitter.com/stucred/status/1255750765911486464

[2020-05-01 16:01] vinitshahdeo commented on #236
📢 📢 📢 📢

**Hello guys!**

Hope you're safe and coding well.

I'll be taking a webinar for beginners, **tomorrow at 12:00 PM IST**.

![image](https://user-images.githubusercontent.com/20594326/80819645-f828ee80-8bf2-11ea-8f87-428df8d993aa.png)

---

**Checkout this:** https://tinyurl.com/yao5y7tk

[2020-05-01 16:03] vinitshahdeo commented on #141
📢 📢 📢 📢

**Hello guys!**

Hope you're safe and coding well.

I'll be taking a webinar for beginners, **tomorrow at 12:00 PM IST**.  This webinar is organized by @stucred.

![image](https://user-images.githubusercontent.com/20594326/80819645-f828ee80-8bf2-11ea-8f87-428df8d993aa.png)

---

**Checkout this:** https://tinyurl.com/yao5y7tk

[2020-05-01 16:03] vinitshahdeo commented on #15
📢 📢 📢 📢

**Hello guys!**

Hope you're safe and coding well.

I'll be taking a webinar for beginners, **tomorrow at 12:00 PM IST**.  This webinar is organized by @stucred.

![image](https://user-images.githubusercontent.com/20594326/80819645-f828ee80-8bf2-11ea-8f87-428df8d993aa.png)

---

**Checkout this:** https://tinyurl.com/yao5y7tk

[2020-05-04 03:23] enyichiaagu opened #243 "Would like to style demo.html"
I know its not really a problem, But i just wanted to make the demo page look alot better

[2020-05-07 19:41] vinitshahdeo commented on #236
### Congratulations 🎉  @ramanaditya, @rewa15, @sukritishah15 & @lakshyajit165 for shining at leaderboard.

#### Keep Coding:)

Checkout the leaderboard for the contest here: https://tinyurl.com/ydafrkoj

[2020-05-07 19:41] vinitshahdeo commented on #141
### Congratulations 🎉  @ramanaditya, @rewa15, @sukritishah15 & @lakshyajit165 for shining at leaderboard.

#### Keep Coding:)

Checkout the leaderboard for the contest here: https://tinyurl.com/ydafrkoj

[2020-05-07 19:42] vinitshahdeo commented on #15
### Congratulations 🎉  @ramanaditya, @rewa15, @sukritishah15 & @lakshyajit165 for shining at leaderboard.

#### Keep Coding:)

Checkout the leaderboard for the contest here: https://tinyurl.com/ydafrkoj

[2020-05-08 11:19] vinitshahdeo commented on #236
### Hello Everyone :wave:

#### I'm too glad to share that I'll be sharing my [Open Source](https://github.com/vinitshahdeo/) journey. Do [join me](https://forms.gle/zVUvJc5rZnb5vWHb6) if you're available.

---

![vinit-webinar](https://user-images.githubusercontent.com/20594326/81400917-c7ddd480-914b-11ea-8fe4-0348ba7f0ebe.jpeg)

---

Learn more here: https://tinyurl.com/y7ocmp7v

[2020-05-08 11:20] vinitshahdeo commented on #141
### Hello Everyone :wave:

#### I'm too glad to share that I'll be sharing my [Open Source](https://github.com/vinitshahdeo/) journey. Do [join me](https://forms.gle/zVUvJc5rZnb5vWHb6) if you're available.

---

![vinit-webinar](https://user-images.githubusercontent.com/20594326/81400917-c7ddd480-914b-11ea-8fe4-0348ba7f0ebe.jpeg)

---

Learn more here: https://tinyurl.com/y7ocmp7v

[2020-05-08 11:20] vinitshahdeo commented on #15
### Hello Everyone :wave:

#### I'm too glad to share that I'll be sharing my [Open Source](https://github.com/vinitshahdeo/) journey. Do [join me](https://forms.gle/zVUvJc5rZnb5vWHb6) if you're available.

---

![vinit-webinar](https://user-images.githubusercontent.com/20594326/81400917-c7ddd480-914b-11ea-8fe4-0348ba7f0ebe.jpeg)

---

Learn more here: https://tinyurl.com/y7ocmp7v

[2020-05-08 14:32] heisastark commented on #236
Hey @vinitshahdeo
Thanks for putting up the CP contest 😄
I had a great time solving questions, was fun and engaging
Done with it 😄

[2020-05-08 15:47] first-timers[bot] opened #245 "Update README.md"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2020-05-08 15:49] ayan-biswas0412 commented on #245
I want to do this

[2020-05-09 02:14] huonggiangbui commented on #49
@PragatiVerma18 Is this issue available now? If yes, could you assign it to me?

[2020-05-09 06:11] PragatiVerma18 commented on #245
@ayan-biswas0412 please work on this.

[2020-05-09 06:14] PragatiVerma18 commented on #49
Sorry @huonggiangbui this issue has been fixed. I will soon open two more issues regarding the GitHub pages...check them out.

[2020-05-09 06:14] #49 closed

[2020-05-09 06:38] PragatiVerma18 opened #246 "Fix the Navbar in the GitHub Pages"
**Describe the bug**
A clear and concise description of what the bug is.
The GitHub pages website(https://vinitshahdeo.github.io/Water-Monitoring-System/) has some text overflow in the navbar header.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://vinitshahdeo.github.io/Water-Monitoring-System/'
2. See the header

**Expected behavior**
A clear and concise description of what y

[2020-05-09 06:46] PragatiVerma18 opened #247 "'Goals of this project' section of GitHub pages is not displayed correctly"
**Describe the bug**
A clear and concise description of what the bug is.
The 'Goals of this project ' section of the [GitHub Pages website](https://vinitshahdeo.github.io/Water-Monitoring-System/) is not displayed correctly. It says save water but it isn't clear enough to read there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://vinitshahdeo.github.io/Water-Monitoring-System

[2020-05-09 07:05] Adyasha8105 commented on #246
Can I?

[2020-05-09 07:08] Adyasha8105 commented on #246
Can I?

[2020-05-09 07:09] Tanmayi03 commented on #247
Can you please assign me this?

[2020-05-09 07:30] pcelis2 commented on #245
@PragatiVerma18 may I be assigned an issue, please.

[2020-05-09 07:35] PragatiVerma18 opened #248 "All the mentor profile photos point to the same url."
**Describe the bug**
A clear and concise description of what the bug is.
All the mentor profile photos point to the same URL in the readme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/vinitshahdeo/Water-Monitoring-System/blob/master/README.md'
2. Scroll down to 'Mentors' and hover on the mentor profile photos.
3. See error

**Expected behavior**
A clear and conc

[2020-05-09 07:36] PragatiVerma18 commented on #246
@Adyasha8105 please work on it.

[2020-05-09 07:37] PragatiVerma18 commented on #245
@pcelis2 please check out #248 #247 #246 and claim whichever you prefer.

[2020-05-09 07:44] pcelis2 commented on #248
May I contribute to this please?

[2020-05-09 08:50] ayan-biswas0412 commented on #245
Ohhk i am doing this

[2020-05-09 09:24] imanishbarnwal commented on #248
I want to contribute to this issue. I just need all mentor's profile URLs.

[2020-05-09 09:27] Tanmayi03 commented on #248
Can you please assign me this?

[2020-05-09 09:31] ayan-biswas0412 commented on #245
I have done that #252 @PragatiVerma18 @vinitshahdeo

[2020-05-09 09:32] ayan-biswas0412 commented on #247
Can you please assign me i have done the previous work and submitted the PR #252 against the issue #245

[2020-05-09 09:45] imanishbarnwal commented on #247
@PragatiVerma18 Can you please assign me this issue?

[2020-05-09 09:48] ayan-biswas0412 commented on #248
I have done that as mentioned in the issue and here is the PR #253

[2020-05-09 11:14] Adyasha8105 commented on #246
@PragatiVerma18 Where is the HTML file of this link???

[2020-05-09 16:07] deepdarshan21 commented on #31
I am interested for this issue.....can you assign me

[2020-05-10 04:02] huonggiangbui commented on #248
@PragatiVerma18 can you assign me to this issue?

[2020-05-10 04:02] huonggiangbui commented on #247
@PragatiVerma18 very interested. Please assign me to this issue

[2020-05-11 10:31] jordanmiracle commented on #245
Are there still any issues up for grabs? I would like to contribute if possible.

[2020-05-11 17:06] PragatiVerma18 commented on #247
@Tanmayi03 please start working on this.

[2020-05-11 17:08] #68 closed

[2020-05-11 17:11] PragatiVerma18 commented on #245
@jordanmiracle please check out #248 #247 #246 and claim whichever you prefer.

[2020-05-11 17:14] PragatiVerma18 commented on #245
All documentation related changes are to be made to the `feature/documentation` branch.

[2020-05-11 17:21] PragatiVerma18 commented on #246
@Adyasha8105 please refer to the following links:
- [https://www.youtube.com/watch?v=PKh-1cUVHcw](https://www.youtube.com/watch?v=PKh-1cUVHcw)
- [https://guides.github.com/features/pages/](https://guides.github.com/features/pages/)
- [https://www.youtube.com/watch?v=xmjXxJww9QU](https://www.youtube.com/watch?v=xmjXxJww9QU)

[2020-05-11 17:22] PragatiVerma18 commented on #248
The mentor profiles in the readme can be found here: [https://github.com/vinitshahdeo/Water-Monitoring-System/graphs/contributors](https://github.com/vinitshahdeo/Water-Monitoring-System/graphs/contributors)

[2020-05-11 17:41] huonggiangbui commented on #230
@vinitshahdeo can I take this issue if it hasn't done yet?

[2020-05-11 17:43] huonggiangbui commented on #157
can I take this issue if it hasn't solved yet? @ArpitKotecha

[2020-05-11 17:44] huonggiangbui commented on #90
@vinitshahdeo can I take this issue if it hasn't solved yet?

[2020-05-11 19:13] tannercd commented on #245
I would like to contribute. @PragatiVerma18

[2020-05-11 19:14] ayan-biswas0412 commented on #245
Yeas @PragatiVerma18 @vinitshahdeo i have done that already and done a PR

[2020-05-11 20:14] ArpitKotecha commented on #157
@huonggiangbui There's already a PR for this.

[2020-05-11 20:49] habeeba-naaz commented on #157
Sorry..I am unable to resolve this issue...please close PR and assign to someone interested

[2020-05-11 20:51] habeeba-naaz commented on #230
Please unassign me and assign to someone who is interested

[2020-05-12 12:15] deepdarshan21 commented on #248
I want to work on this...please assign me

[2020-05-12 12:18] deepdarshan21 commented on #176
Can I work on this issue

[2020-05-12 12:19] deepdarshan21 commented on #56
Can you assign me this issue

[2020-05-12 12:20] deepdarshan21 commented on #51
Can you assign me this issue

[2020-05-13 11:46] namantayal opened #257 "pH level of tank water can also be monitored"
**Is your feature request related to a problem? Please describe.**
In countries like India water quality is a major concern, for ex. if the water is too hard, it might cause some skin related issues to many people. So if a pH level monitoring system can also be included in this, that might be helpful to the consumers.

**Describe the solution you'd like**
Adding a **analog pH sensor kit** in this

[2020-05-13 23:50] angelina-tsuboi commented on #245
I would love to help out with anymore issues you might have

[2020-05-14 09:10] divyabhushan commented on #189
Hi @PragatiVerma18, I would like to work on this. Could you assign this to me? Thanks

[2020-05-14 09:19] divyabhushan commented on #245
Hi @PragatiVerma18 I would like to work on this, please assign it to me. Thanks

[2020-05-14 10:15] vinitshahdeo commented on #245
Hello @divyabhushan @angelina-tsuboi @tannercd,
Thanks for your interest. This issue is already assigned to @ayan-biswas0412.

[2020-05-14 10:18] ayan-biswas0412 commented on #245
@PragatiVerma18 @vinitshahdeo I have submitted my PR on the date of opening this issue but it is not still approved

[2020-05-15 06:02] PragatiVerma18 commented on #245
@tannercd, please start working on this issue.

[2020-05-15 15:15] m-code12 commented on #247
If no one is working on this, please could you assign me @PragatiVerma18 ,I haven't made any contribution in this project .

[2020-05-15 17:09] KK-Gayatri-P commented on #245
Is the issue still open?

[2020-05-15 17:57] ayan-biswas0412 commented on #245
I don't know i have done the work and completed that and also have done a PR but still i was unassigned what is the reason ? @PragatiVerma18

@vinitshahdeo please see it , it is completely injustice to us , like who are new in open-source

[2020-05-15 18:10] PragatiVerma18 commented on #245
@ayan-biswas0412 We have certain guidelines that you must follow while contributing to this project. Your PR wasn't up to the mark, and we need this done, so I unassigned you. Please don't take it otherwise and have patience. You can try other issues.

[2020-05-15 18:11] ayan-biswas0412 commented on #245
@PragatiVerma18 but what I have  not done ? Can you explain and what I done wrong?

[2020-05-15 18:25] PragatiVerma18 commented on #245
@ayan-biswas0412 please check your PR, it has already been reviewed and changes were requested,

[2020-05-15 18:32] tannercd commented on #245
@PragatiVerma18 I have started working this issue and will submit my PR to the `feature/documentation` branch within the next hour. Thanks!

[2020-05-15 22:09] vinitshahdeo commented on #236
@heisastark Hey, **congratulations** 🎉
Glad to know this!

Keep coding!

[2020-05-16 09:09] vinitshahdeo commented on #257
Thanks @namantayal for reporting this.

CC: @ramanaditya

[2020-05-16 09:11] vinitshahdeo commented on #217
@me-bhavya Any update on this issue?

[2020-05-16 14:11] PragatiVerma18 commented on #257
@namantayal thanks for raising an issue for this. Would you like to contribute?

[2020-05-16 14:18] PragatiVerma18 commented on #189
Yeah sure @divyabhushan please start contributing.

[2020-05-16 14:19] PragatiVerma18 commented on #51
@deepdarshan21 please contribute your logo designs.

[2020-05-16 14:21] PragatiVerma18 commented on #56
@deepdarshan21 sorry this issue has already been resolved. Can you suggest any improvements?? If yes, then please open a separate issue for the same and then make a PR. Thanks.

[2020-05-16 14:21] #56 closed

[2020-05-16 14:28] PragatiVerma18 commented on #248
@pcelis2 please make a PR and if you have made a PR, please provide me with the link. Your changes are correct, I will merge them.
Make a PR to `feature/documentation` branch.

[2020-05-16 14:29] PragatiVerma18 commented on #248
Sorry @deepdarshan21 this issue is already assigned to @pcelis2. You can try some other issue.

[2020-05-16 21:42] namantayal commented on #257
sure, can you guide me a little?

[2020-05-16 21:55] divyabhushan commented on #189
Thanks @PragatiVerma18. I will start working on it.

[2020-05-17 04:17] Sagarika00 commented on #176
Hi. Can I work on this issue ? thanks.

[2020-05-17 04:19] Sagarika00 commented on #172
HI can I work on this ? thanks. please let me know.

[2020-05-17 04:21] Sagarika00 commented on #157
Hi can i work on this issue ? kindly assign it to me. thanks.

[2020-05-17 04:25] Sagarika00 commented on #122
Hi can you please assign this to me ?

[2020-05-17 04:30] Sagarika00 commented on #103
can you please assign this to me ? this is my first time.

[2020-05-17 04:33] Sagarika00 commented on #38
hi this is my first time here. can you please assign it to me ?

[2020-05-17 21:49] akt114 commented on #257
@PragatiVerma18 @vinitshahdeo @ArpitKotecha   Can I work on this issue and make changes in schema and reading routes accordingly?

[2020-05-18 15:22] shwhite17 commented on #168
Chetanjain10  assign to me if u do not want to submit.

[2020-05-18 16:07] lakshyajit165 commented on #29
@vinitshahdeo and @PragatiVerma18 I would like to contribute to this issue is still available. Could you assign it to me?

[2020-05-18 16:56] vinitshahdeo commented on #236
Hello everyone, 👋

**Join me to welcome @divyabhushan,** who'll be mentoring us for the documentation. 🗒️

[code]

### **Welcome to the team, [Divya](https://www.linkedin.com/in/divya-bhushan83)!** 😃
Looking forward to your valuable contributions. 🔥

[2020-05-18 17:01] PragatiVerma18 commented on #189
@divyabhushan For all readme related changes, please make a PR to `feature/documentation` branch. Thanks for contributing and welcome to the team. 😀😀

[2020-05-18 17:03] PragatiVerma18 commented on #29
@lakshyajit165 yeah please start working on the issue. Any other suggestions are also welcome.

[2020-05-18 17:04] lakshyajit165 commented on #29
Thanks @PragatiVerma18. Will start tomorrow. Will let you know if I run into some issues.

[2020-05-18 17:06] PragatiVerma18 commented on #257
@akt114 @namantayal please let me know what backend language would you like to work on, we have `django` as well as `nodejs`, so you can work on any of them.

[2020-05-18 17:09] PragatiVerma18 commented on #38
@Sagarika00  @SDakshit Really sorry, this issue has already been resolved. Please have a look at other issues and try claiming any of them.

[2020-05-18 17:09] #38 closed

[2020-05-18 17:43] divyabhushan commented on #236
Thanks, @vinitshahdeo for giving me this opportunity to join your team.
Hello everyone,
I look forward to joining you all and learn from your expertise as I grow.

Best Regards,
Divya

[2020-05-18 18:13] PragatiVerma18 commented on #122
@daya2940 go ahead and work on this issue.

[2020-05-18 18:48] daya2940 commented on #122
Ok i am on it

On Mon, 18 May, 2020, 11:43 PM Pragati Verma, <notifications@github.com>
wrote:

[2020-05-18 19:42] ashishnagpal2498 commented on #122
Hi @PragatiVerma18 , I have already given a PR for this issue. Kindly look into it #182 .

[2020-05-19 17:35] deepdarshan21 commented on #51
it is showing that permission denied to my id....can you help me in this

[2020-05-19 17:46] PragatiVerma18 commented on #51
@deepdarshan21 please share a screenshot of your problem.

[2020-05-19 21:45] deepdarshan21 commented on #51
it was resolved now
and I also made a pull request for the Logo design

[2020-05-20 10:07] vinitshahdeo commented on #236
Hello guys,

Hope you're doing well.

A thousands of students have lost their internships this summer. **Here's a new kind of internship offered by MLH in collaboration with GitHub** - https://fellowship.mlh.io/

Thanks:)

[2020-05-20 12:06] vaishnavipatil29 commented on #236
I am interested to  know the announcements!

[2020-05-20 16:52] vinitshahdeo opened #262 "Overlapping Sidebar due to extra section title(heading) text in beginning"
The `gh-pages` branch after deployment is breaking the side bar, probably due to extra headings in beginning, let's make it a normal text. Check out the link - https://vinitshahdeo.github.io/Water-Monitoring-System/

<img width="1440" alt="Screenshot 2020-05-20 at 10 12 36 PM" src="https://user-images.githubusercontent.com/20594326/82473683-94a22a80-9ae7-11ea-9e2b-850537c1c74b.png">

[code]
---

-

[2020-05-20 18:54] Kharanshu31 commented on #262
where can i get the src folder?

[2020-05-20 18:59] Kharanshu31 commented on #262
I am interested but where to make changes

[2020-05-20 20:03] divyabhushan commented on #262
@Kharanshu31
Thanks for your interest.
file to be edited is the main [README.md](https://github.com/vinitshahdeo/Water-Monitoring-System/blob/gh-pages/README.md) file located in the root directory of every branch in the project code.
This issue has been closed at the moment.
Kindly pick any of the available open issues and comment and we shall assign them to you.

Thank you.

[2020-05-20 21:05] #262 closed

[2020-05-21 10:11] deepdarshan21 commented on #51
is you saw my pull request

[2020-05-21 18:40] pcelis2 commented on #248
@PragatiVerma18 Sorry, I thought I did a push request. I don't know how to locate the file. I am going to just do the problem over again and try to push again.

[2020-05-21 18:47] pcelis2 commented on #248
@PragatiVerma18 here is the new [pull request](https://github.com/vinitshahdeo/Water-Monitoring-System/pull/267)

[2020-05-22 05:40] vinitshahdeo commented on #236
Hello all,

Another opportunity here - https://scodein.tech/

**Keep OpenSourcing!** ❤️

[2020-05-22 06:31] vinitshahdeo commented on #141
Hello guys,

Thanks for your great response for RGSoC.
Here's **another opportunity for you - [Student Code-In](https://scodein.tech/)**.

✌️

[2020-05-22 11:44] Kashish121 opened #268 "Sidebar is breaking , the text is overlapping."
The gh-pages branch after deployment is breaking the side bar, probably due to extra headings in beginning, let's make it a normal text.

Check out the link - https://vinitshahdeo.github.io/Water-Monitoring-System/

![image](https://user-images.githubusercontent.com/56366103/82693243-cdc0d300-9c7e-11ea-9af7-8371a7051151.png)

[2020-05-22 12:01] vinitshahdeo commented on #268
@Kashish121 Assigning you this.

Please change the `Frequently Asked Questions for GSSoC` to `FAQs for GSSoC`. Also, convert all the COVID related sections with normal text (not headings).

[2020-05-22 18:37] vinitshahdeo commented on #268
@Kashish121 is the PR ready?

[2020-05-23 08:22] thedeveloperme10 commented on #245
Any issues up for grabs? I would like to contribute if possible.

[2020-05-23 12:24] vinitshahdeo commented on #236
### 📢 **+1 in Family**

Glad to share that @nainikaB will be mentoring us for UI/UX.

**Welcome to the team, [Nainika](https://twitter.com/NainikaBaliga)!**
A lot to learn from you :) :v:

Wishing you a great **open-source journey** ahead with us! 🎉 🚀

[2020-05-23 12:36] nainikaB commented on #236
Thank you @vinitshahdeo for this! So glad to be part of this team! ❤️  Let's do this! ✨

[2020-05-23 19:40] silenteyesoncode commented on #246
I want you contribute into this
I can surely complete this task in a day

[2020-05-24 01:40] silenteyesoncode commented on #243
I want to contribute into this...

[2020-05-24 08:32] vinitshahdeo commented on #236
**Hello guys,**

In case you've missed our previous webinars, find the links to recording below -

1. [How to ace your campus placements](https://drive.google.com/drive/folders/1vgeaHjHUBm-pG6u_CTSde7MNRB1S5IKR?usp=sharing) by @vinitshahdeo

2. [Frontend development](https://youtu.be/tP5kr63cF7g) (React) by @jainpawan21

3. [Event loop in JavaScript](https://youtu.be/zsRv8g3C4rY?t=647) by @vinitsh

[2020-05-24 08:40] vinitshahdeo commented on #15
**Hello everyone,**

Hope you're coding well.

As [GSSoC](https://www.gssoc.tech/) is about to end (coding period ends on 31<sup>st</sup> May), please ensure that you've all the PRs merged. **Thanks for your awesome contributions and All the best for the results.**

[code]

[2020-05-24 09:12] vinitshahdeo commented on #236
**Hello everyone,**

Hope you're coding well.

As [GSSoC](https://www.gssoc.tech/) is about to end (coding period ends on 31<sup>st</sup> May), please ensure that you've all the PRs merged. **Thanks for your awesome contributions and All the best for the results.**

[2020-05-24 11:26] TaniaMalhotra commented on #245
Hii I would like to contribute😀

[2020-05-24 14:06] divyabhushan commented on #236
Thanks @vinitshahdeo for this opportunity, Yes I am in.

[2020-05-24 14:41] vinitshahdeo commented on #236
Hello Everyone,

As we're growing and targeting to finish this project by next quarter, here's introducing @sharmishthadash who'll be mentoring us for defining the product specs. She's an MBA candidate from [Symbiosis Institute of Business Management](https://www.sibmbengaluru.edu.in/), Bengaluru.

[code]

### Welcome to the team, [Sharmishtha](https://www.linkedin.com/in/sharmishtha-dash/)! 😄
**G

[2020-05-25 14:30] vinitshahdeo commented on #15
[![GSSOC](https://raw.githubusercontent.com/GirlScriptSummerOfCode/MentorshipProgram/master/GSsoc%20Type%20Logo%20Black.png)](https://github.com/vinitshahdeo/Water-Monitoring-System/)

Hello guys,

As the coding period for [GSSoC](https://www.gssoc.tech/) ends on 31<sup>st</sup> of May, **this is the last week for the participants to contribute**. Few checklists for you:

- ✅  Resolve the assigned

[2020-05-25 15:02] vinitshahdeo opened #271 "Add a new mentor details"
Add a new mentor for Product Management in `README.md` -

- **Sharmishtha Dash (@sharmishthadash)**

[2020-05-25 15:02] goyalmuskan commented on #271
May I work on this isssue? @vinitshahdeo

[2020-05-25 15:04] vinitshahdeo commented on #271
Yes @goyalmuskan, assigning you this.

[2020-05-25 15:22] #271 closed

[2020-05-25 15:28] vinitshahdeo commented on #268
@Kashish121 Closing this issue as it's fixed now. Thanks for your contribution.

[2020-05-25 15:28] #268 closed

[2020-05-25 17:17] sharmishthadash commented on #236
Thanks for this opportunity @vinitshahdeo
Hope to have great journey.

[2020-05-25 17:46] vinitshahdeo commented on #236
[![GSSOC](https://raw.githubusercontent.com/GirlScriptSummerOfCode/MentorshipProgram/master/GSsoc%20Type%20Logo%20Black.png)](https://github.com/vinitshahdeo/Water-Monitoring-System/)

Hello guys,

As the coding period for [GSSoC](https://www.gssoc.tech/) ends on 31<sup>st</sup> of May, **this is the last week for the participants to contribute**. Few checklists for you:

- ✅  Resolve the assigned

[2020-05-25 21:54] aldrinjenson commented on #246
Hi, may I work on this please..

[2020-05-26 00:40] silenteyesoncode commented on #246
I'm working

[2020-05-26 12:37] THEBEAST310 commented on #245
Hello, I am participant of GSSOC'20 and would like to contribute to the repository.

[2020-05-26 13:35] THEBEAST310 commented on #247
I am a GSSOC aspirant and I have not contributed to this repo, Can you assign this task to me ?

[2020-05-26 18:36] THEBEAST310 opened #277 "Making README.md File more Readable"
**Describe the bug**
A clear and concise description of what the bug is.
There is very little space between "COVID-19 Stay Home, Stay Safe!" heading and  "Checkout web app for live CORONA updates." heading
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/vinitshahdeo/Water-Monitoring-System
2. Scroll down to README.md
3. See error

**Expected behavior**
A clear and con

[2020-05-26 18:37] THEBEAST310 commented on #277
I am removing this problem

[2020-05-26 18:48] THEBEAST310 commented on #277
Made PR #278

[2020-05-27 20:14] Zaiba123 commented on #245
Hi, I am a beginner. Is there any way I can participate, I would love to contribute.

[2020-05-28 03:56] amaaniqbal opened #279 "Add responsive navbar"
**Is your feature request related to a problem? Please describe.**
Currently, there is no navbar for navigating between pages for our website.

**Describe the solution you'd like**
Create a responsive navbar which looks similar to the following screenshot.
![navbar](https://user-images.githubusercontent.com/28555134/83096910-7c707380-a0c4-11ea-8196-6483485dbd5f.JPG)

Replace the logo with the foll

[2020-05-28 04:02] amaaniqbal opened #280 "Add Jumbotron"
**Is your feature request related to a problem? Please describe.**
The homepage contains the water levels which should be only available to the admins and hence should be located in the admin dashboard.

**Describe the solution you'd like**
Comment the current jumbotron code present above the FAQ section and replace it with the jumbotron shown in the image below:
![Capture](https://user-images.git

[2020-05-28 04:11] amaaniqbal opened #281 "Add About and Open Source programs section"
**Is your feature request related to a problem? Please describe.**
The homepage doesn't contain much information about us and what we do.

**Describe the solution you'd like**
Add the About and Open Source programs section along with the respective images as shown in the image below before the FAQ section and after the jumbotron:
![Capture](https://user-images.githubusercontent.com/28555134/830980

[2020-05-28 04:22] amaaniqbal opened #282 "Add purpose section"
**Is your feature request related to a problem? Please describe.**
Currently, the homepage doesn't inform anything related to the advantages of using our product.

**Describe the solution you'd like**
Add the purpose section right after the jumbotron and before the about section(see #281 for more info). It should contain the fields shown in the image below:
![Capture](https://user-images.githubuse

[2020-05-28 04:29] amaaniqbal opened #283 "Add tagline"
**Is your feature request related to a problem? Please describe.**
Taglines are a good way to make the visitor remember the product. It's always better to have some to strengthen the visitor's memory about the service being provided.

**Describe the solution you'd like**
Add the tagline as shown in the image below just above the footer:
![Capture](https://user-images.githubusercontent.com/28555134

[2020-05-28 04:36] amaaniqbal opened #284 "Revamp FAQ section"
**Is your feature request related to a problem? Please describe.**
FAQ section is looking unintelligent in terms of spacing and the colors used.

**Describe the solution you'd like**
Add appropriate padding to the entire FAQ section and increase the margin between the individual questions. Also, remove the background color and the blue border surrounding it.

Compare and create the PR into the `fe

[2020-05-29 07:49] m-code12 commented on #284
I can implement this . Please assign it to me. @amaaniqbal

[2020-05-29 07:52] m-code12 commented on #279
I can implement this. Please assign it to me @amaaniqbal

[2020-05-29 09:54] amaaniqbal commented on #284
@m-code12 go ahead! Make sure to send a PR before 31st for it to be considered.

[2020-05-29 09:55] m-code12 commented on #284
Yes sure
Thanks!

[2020-05-29 09:55] amaaniqbal commented on #279
Sorry, one issue at a time. You can send a PR for the first one and then claim this if no one else requests.

[2020-05-29 14:22] aldrinjenson commented on #283
Hi, can I do this one please

[2020-05-29 16:33] amaaniqbal commented on #283
Sure! Go ahead!

[2020-05-29 16:43] ronitsingh1405 commented on #279
Can I work on this?

[2020-05-29 17:02] m-code12 commented on #279
@amaaniqbal As you had said, I have created a pr for previous issue (I completed doing the task long back but there were issues in creating a pr) .
Can I get to work on this issue?

[2020-05-29 17:18] AdityaAshvin commented on #282
Can i do this @amaaniqbal ?

[2020-05-29 17:42] amaaniqbal commented on #282
Yeah, you can. Go ahead!

[2020-05-29 17:58] amaaniqbal commented on #279
@m-code12 I see he claimed slightly before you tried to re-claim. So I am assigning it to him. Also, there was a little improvement required on your previous PR. Please update your PR based on that and claim another similar task. I think #281 would be compatible for you based on your skillset. You can use the cropped version of the image attached while developing both the sections.