[2020-05-29 17:59] amaaniqbal commented on #279
@ronitsingh1405 you can work on this. Try to complete it by tomorrow. Good Luck!

[2020-05-29 18:01] AdityaAshvin commented on #281
Can i do this @amaaniqbal ?

[2020-05-29 18:02] ronitsingh1405 commented on #279
Yeah sure! Will try to do that by tomorrow night

[2020-05-29 18:02] AdityaAshvin commented on #280
Can i do this @amaaniqbal ?

[2020-05-29 19:45] m-code12 commented on #281
I can implement this @amaaniqbal .

[2020-05-29 22:39] vinitshahdeo commented on #236
### 📢 Finally, [IoT guy](https://www.linkedin.com/in/pratik-r-6b5972a2/) is here! 😃

As IoT is a core part of [Water Monitoring System](https://github.com/vinitshahdeo/Water-Monitoring-System/) project, here's introducing **@roypratik as a mentor for IoT**.

[code]

[2020-05-30 00:43] #284 closed

[2020-05-30 00:44] amaaniqbal commented on #281
@AdityaAshvin sorry one task at a time. It's better if you create a PR for issue #282 before claiming any other task.

[2020-05-30 00:45] amaaniqbal commented on #281
@m-code12 Go ahead!

[2020-05-30 00:48] aldrinjenson commented on #283
Thanks!!
I have a small doubt tho; where should the contact us button point to?
Or is it really required since there is a contact part directly underneath the tagline?

[2020-05-30 00:48] amaaniqbal commented on #280
@AdityaAshvin Better to request one task at a time. You can create a PR for #282 first, then I can assign you if no one else claims it.

[2020-05-30 02:22] aldrinjenson commented on #283
@amaaniqbal, I have made a PR, please a take a look when free.
I did not actually add the button because keeping a Contact link in a tagline somehow didn't seem right to me; but I will gladly do so if it is needed.
Thanks!!

[2020-05-30 03:59] setika13 commented on #31
Please assign it to me for the first time contribution

[2020-05-30 05:50] ronitsingh1405 commented on #279
Is this in react language?

[2020-05-30 05:51] ronitsingh1405 commented on #279
if so, then i'm not accustomed to it......I'm really sorry

[2020-05-30 06:58] amaaniqbal commented on #283
Oh sorry! I missed it. I should have clarified. A Call-to-action button is expected there. For now, you may put the Sign-Up button over there, later we can update it depending upon the requirement.

[2020-05-30 06:59] PragatiVerma18 commented on #31
@setika13  please start working on this issue and names for all new mentors to the readme. Refer #236 for the new names.

[2020-05-30 06:59] amaaniqbal commented on #279
No, you have to develop it using Bootstrap 4. You can find the initial code for the website in `src/home.html`

[2020-05-30 07:03] AdityaAshvin commented on #280
![Jumbotron](https://user-images.githubusercontent.com/53205379/83321970-a5823700-a271-11ea-86d4-53a45615869d.JPG)

[2020-05-30 07:03] AdityaAshvin commented on #280
@amaaniqbal Is this Jumbotron ok?

[2020-05-30 07:08] PragatiVerma18 commented on #246
@Adyasha8105 please refer your PR here, if made. Please do it before 31st May to make it count under GSSoC.

[2020-05-30 07:11] PragatiVerma18 commented on #51
@deepdarshan21 please refer your PR here for a quick review.

[2020-05-30 07:12] amaaniqbal commented on #280
Looks good to me! It will be better if you can make the text `Water Monitoring System` bold and add spacings between texts as shown in the figure.

[2020-05-30 07:18] AdityaAshvin commented on #280
OK. I will make the changes mentioned.

[2020-05-30 07:47] AdityaAshvin commented on #280
![jumbotron (2)](https://user-images.githubusercontent.com/53205379/83322750-e8dfa400-a277-11ea-8a2c-2aa13123c04a.JPG)

[2020-05-30 07:48] AdityaAshvin commented on #280
@amaaniqbal is it ok now? Can I open a PR?

[2020-05-30 08:13] deepdarshan21 commented on #51
@PragatiVerma18  #288

[2020-05-30 08:13] amaaniqbal commented on #280
Padding between the inner description doesn't look good. Remove it and then you can create a PR.

[2020-05-30 08:36] ronitsingh1405 commented on #277
Anyone assigned on it? If not then I can start working on it

[2020-05-30 08:37] ronitsingh1405 commented on #243
Can I work on this issue? Or someone else is working on it?

[2020-05-30 08:40] silenteyesoncode commented on #243
Well I'm working

[2020-05-30 10:22] #283 closed

[2020-05-30 11:41] ronitsingh1405 commented on #279
I have added navbar but I PR it to master branch instead of feature/frontend. Can you do anything from your side?

[2020-05-30 11:51] roypratik commented on #236
Thank you, Vinit for this amazing opportunity, you have been a great mentor
to me. Thank you for having me on board and giving me this opportunity to
enhance my skills further.

On Sat, May 30, 2020 at 4:09 AM Vinit Shahdeo <notifications@github.com>
wrote:

--
Regards,
Pratik Roy,
Freelance IOT developer.

[2020-05-30 13:12] AdityaAshvin commented on #282
![Capture](https://user-images.githubusercontent.com/53205379/83329126-41796600-a2a5-11ea-9207-e1fd6bc0ab52.JPG)

[2020-05-30 13:13] AdityaAshvin commented on #282
@amaaniqbal is it ok? Should i proceed to make a PR?

[2020-05-30 14:24] amaaniqbal commented on #279
`master` branch doesn't contain the updated code for the webpage. You can close the PR and open a new one after editing the updated code from the `feature/frontend` branch.

Also, consider attaching a screenshot of the navbar in your new PR.

[2020-05-30 14:26] amaaniqbal commented on #282
@vinitshahdeo would you prefer icons for this section of the webpage or images?

[2020-05-30 17:44] enyichiaagu commented on #243
Yea. Me too

On Sat, 30 May 2020, 09:40 silenteyesoncode, <notifications@github.com>
wrote:

[2020-05-30 17:58] huonggiangbui commented on #157
@ArpitKotecha Can I take this issue now?

[2020-05-30 18:08] ArpitKotecha commented on #157
Yeah go ahead

[2020-05-31 10:19] deepdarshan21 commented on #51
Is you seen it

[2020-05-31 10:19] deepdarshan21 commented on #51
@PragatiVerma18

[2020-05-31 10:26] #280 closed

[2020-05-31 13:37] #282 closed

[2020-05-31 14:11] AdityaAshvin commented on #279
Can I help in this @amaaniqbal ?

[2020-05-31 14:53] #281 closed

[2020-05-31 14:56] amaaniqbal commented on #279
@AdityaAshvin I guess you can if @ronitsingh1405 doesn't provide any update within an hour.

[2020-05-31 15:34] AdityaAshvin commented on #279
![navbar](https://user-images.githubusercontent.com/53205379/83356225-495b0800-a382-11ea-877b-919c9c7bf8dc.JPG)

[2020-05-31 15:35] AdityaAshvin commented on #279
the navbar looks like this. Any changes to be made @amaaniqbal ?

[2020-05-31 16:05] amaaniqbal commented on #279
Add spacing between the nav links, and have only one search option. Also, make the selected nav link underlined, and other links underlined on hover.

[2020-05-31 16:10] vinitshahdeo commented on #236
**[150+](https://github.com/vinitshahdeo/Water-Monitoring-System/pulls?q=is%3Apr+is%3Aclosed) PRs closed! 🎉 🎖️
[25+](https://github.com/vinitshahdeo/Water-Monitoring-System/pulls?q=is%3Apr+is%3Aclosed) Issues closed! ❌ 👍
[30+](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/236) Contributors!** 👨‍💻 👩‍💻

### Today marks the last day of [GSSoC](https://www.gssoc.tech/)'20! 📆
Thank you

[2020-05-31 16:11] vinitshahdeo commented on #15
**[150+](https://github.com/vinitshahdeo/Water-Monitoring-System/pulls?q=is%3Apr+is%3Aclosed) PRs closed! 🎉 🎖️
[25+](https://github.com/vinitshahdeo/Water-Monitoring-System/pulls?q=is%3Apr+is%3Aclosed) Issues closed! ❌ 👍
[30+](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/236) Contributors!** 👨‍💻 👩‍💻

### Today marks the last day of [GSSoC](https://www.gssoc.tech/)'20! 📆
Thank you

[2020-05-31 16:29] PragatiVerma18 commented on #51
@deepdarshan21 Please do the required changes, I reviewed it.

[2020-05-31 16:57] AdityaAshvin commented on #279
![navbar](https://user-images.githubusercontent.com/53205379/83358004-d6f02500-a38d-11ea-9845-52f5a16acae0.JPG)

[2020-05-31 16:57] AdityaAshvin commented on #279
the mentioned cahnges are made @amaaniqbal. Can i open a PR?

[2020-05-31 17:07] amaaniqbal commented on #279
Yup! Go ahead!

[2020-05-31 17:43] #279 closed

[2020-05-31 17:44] #177 closed

[2020-05-31 17:45] #173 closed

[2020-05-31 18:08] #230 closed

[2020-06-02 16:51] Swarnimashukla commented on #236
Hello everyone, hope you all are good

As 3 month journey of  **GSSOC 2020** ends now so I have written an article sharing my whole experience as a participant right from first pr merge to completing lots of issues and learning from mistakes

https://medium.com/@swara.shukla65/gssoc-2020-a-journey-to-explore-the-unexplored-f25a6ade8288

Please check this out and do give it a **clap** if you like.

[2020-06-03 08:50] PragatiVerma18 commented on #236
👋 Hi everyone, hoping that you all are good.

I have contributed to many Open Source projects as a contributor but being a mentor in an Open Source program is something different. Thus, I wrote an article sharing my mentorship experience all along the 3 months of GirlrScript Summer Of Code 2020. I have also packed a bit of advice for the participants to make contributions that really count in an O

[2020-06-03 09:15] PragatiVerma18 commented on #15
👋 Hi everyone, hoping that you all are good.

I have contributed to many Open Source projects as a contributor but being a mentor in an Open Source program is something different. Thus, I wrote an article sharing my mentorship experience all along the 3 months of GirlrScript Summer Of Code 2020. I have also packed a bit of advice for the participants to make contributions that really count in an O

[2020-06-04 06:25] deepdarshan21 commented on #51
@PragatiVerma18  I made a new pull request in feature/frontend branch, according to your review request in the form of new pull request #308 . So please review it

[2020-06-04 06:40] deepdarshan21 commented on #39
@vinitshahdeo , @PragatiVerma18  please assign me this issue
I want to work on it

[2020-06-04 06:43] deepdarshan21 commented on #31
I would like to work on it....please assign me

[2020-06-04 13:25] vinitshahdeo opened #309 "Add a section for Medium articles"
As GSSoC has ended now, we'll feature the medium articles by our contributors in `README.md`.

Here're two articles:

1. [GirlScript Summer of Code 2020 Mentor Experience](https://medium.com/girlscript-summer-of-code/girlscript-summer-of-code-2020-mentor-experience-28daec399b1e) by @PragatiVerma18

2. [GSSOC 2020-A journey to explore the “UNEXPLORED”](https://medium.com/@swara.shukla65/gssoc-2020-

[2020-06-04 14:36] m-code12 commented on #309
@vinitshahdeo I can do this.
Could you assign me

[2020-06-04 17:49] PragatiVerma18 commented on #39
@deepdarshan21 please go ahead.

[2020-06-04 18:17] Kashish121 commented on #309
I would like to take this up . Could you assign me?

[2020-06-05 09:48] vinitshahdeo commented on #309
@PragatiVerma18 if we do not receive a PR from @m-code12 by Sunday EOD. Please re-assign to @Kashish121.

[2020-06-05 09:50] m-code12 commented on #309
Yeah I am working on it @vinitshahdeo @PragatiVerma18

[2020-06-05 10:11] vinitshahdeo commented on #309
@m-code12 Awesome! 👍
Create the PR to `channel/documentation` once you're done.

[2020-06-07 06:29] m-code12 commented on #309
@PragatiVerma18  Please review my pr #311

[2020-06-07 10:55] vinitshahdeo commented on #236
Hello guys,

📢 Here's an update: **Our project is now a part of @StudentCode-in!** 🎉

**Apply Now** if you've not yet: https://scodein.tech/

[![Congratulation](https://user-images.githubusercontent.com/20594326/83966991-64c29780-a8db-11ea-9a52-4955a36a7282.jpeg)](https://github.com/StudentCode-in/Water-Monitoring-System)

[2020-06-07 14:49] PragatiVerma18 commented on #309
@m-code12  Please resolve the conflicts in the readme.

[2020-06-07 21:49] ishika1727 opened #312 "Student Code In is missing"
![WhatsApp Image 2020-06-08 at 3 18 22 AM](https://user-images.githubusercontent.com/42978414/83980883-c401c580-a936-11ea-8582-0917f097f05e.jpeg)

The Student Code In program is missing in website.

[2020-06-07 21:50] vinitshahdeo commented on #312
@ishika1727 Thanks for reporting, assigning you this issue.

[2020-06-08 09:45] divyabhushan opened #314 "Mentor Images still not linked to their respective accounts"
**Describe the bug**
References: #267

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/vinitshahdeo/Water-Monitoring-System/blob/master/README.md/#Mentors'
2. Hover over images 2, 3, and 4
3. See error

**Expected behavior**
Mentor images should point to their respective social links such as LinkedIn or Github. At the moment all images are being directed at the Owner

[2020-06-08 20:18] m-code12 commented on #309
@PragatiVerma18 I have created a new pr #315 .Please review and merge.

[2020-06-08 20:20] m-code12 commented on #314
@divyabhushan I will get it resolved . Could you please assign me this .

[2020-06-08 21:02] divyabhushan commented on #314
Hey Monika,
Thanks for your interest. Yes assigned it to you.
Please make raise your PR to the feature/documentation branch.

/assign @m-code12

[2020-06-09 09:20] m-code12 commented on #314
@divyabhushan Made the changes .Please could you review pr #316 .

[2020-06-12 16:13] vinitshahdeo commented on #236
**Hello team, 👋
Here's a small update!**

👇

In collaboration with @Kashish121, I started another Project - [Port Scanner](https://github.com/vinitshahdeo/PortScanner) (**A go-to network scanning tool**).

[code]

### [Fork](https://github.com/vinitshahdeo/PortScanner/fork) the repo | [Star](https://github.com/vinitshahdeo/PortScanner/stargazers) the repo | [Visit website](https://vinitshahdeo.git

[2020-06-14 17:13] vinitshahdeo commented on #15
**Hello Guys**, 👋

It has been two weeks we haven't merge a single PR here, we'll resume our work from first week of next month. We absolutely loved your contributions in [GSSoC](https://www.gssoc.tech/)'20!

👇

Meanwhile check out [this](https://vinitshahdeo.github.io/PortScanner/) Project - [Port Scanner](https://github.com/vinitshahdeo/PortScanner) (**A go-to network scanning tool**).

[code]

[2020-06-16 18:54] vinitshahdeo commented on #236
### **Hello Everyone**, :wave:

This message is to inform you that **[RGSoC](https://railsgirlssummerofcode.org/blog/2020-06-15-foundation-update)** is cancelled as the global pandemic has hit non-profits as well.  :disappointed:

I'm grateful to you for being patient for the past few months as the committee was trying their best to gather the resources necessary to keep this program running.

**T

[2020-06-17 07:37] AnjaliSrivastava722 commented on #236
Yes! We team Alpha_Beta (Anjali Srivastava and Bhavya Arora) are willing to work on the project!!

[2020-06-17 10:23] nandikajain commented on #243
I want to contribute to this.

[2020-06-17 10:26] nandikajain opened #320 "Adding pH and turbidity sensors to ensure safe drinking water."
Various other ways can be explored to check for water contamination in tanks to ensure safe drinking water to everyone. This can be achieved through the use of turbidity and pH sensors wherein we set a safe limit and send a warning to the user if the water quality does not meet the required standards.

[2020-06-17 10:30] nandikajain commented on #236
Team BabyShark
Members- @harshita19244
@nandikajain
We are interested to work on the project. (Previously registered for Rgsoc)

[2020-06-17 10:33] AnjaliSrivastava722 commented on #236
Team Alpha_Beta
Members:Anjali Srivastava
Bhavya Arora
We are willing to work further on the project.

On Wed, 17 Jun 2020 at 12:25 AM, Vinit Shahdeo <notifications@github.com>
wrote:

[2020-06-17 10:49] vinitshahdeo commented on #236
Hello @AnjaliSrivastava722 & @nandikajain,

Glad to know that you're interested to work! ❤️  :v:

Can you please help us by **filling your team details [here](https://forms.gle/Ha9vB6W9CaC1mPrM8)?**

[2020-06-18 10:24] marina-saad commented on #236
Hello,

I am interested to work on this project but I am not sure about my teammate So I want to know may we participate and if my teammate apologized in the middle of the journey.
is this fine to happen? or there are constraints.

Thanks
________________________________
From: Vinit Shahdeo <notifications@github.com>
Sent: Tuesday, June 16, 2020 6:55 PM
To: vinitshahdeo/Water-Monitoring-System <Wa

[2020-06-18 10:33] vinitshahdeo commented on #236
Hello @marina-saad, there're no constraints - **even a single member can participate**. Please share your details [here](https://forms.gle/Ha9vB6W9CaC1mPrM8).

[2020-06-18 18:30] vinitshahdeo commented on #236
### **It's always special to speak at one's alma mater!** 💖

### `[ SUPER EXCITED ] `

3 years back I had an opportunity to lead the @vinnovateit team and now I'll be meeting the family again! **Coming **`LIVE 🔴 on Instagram`** with folks at [VinnovateIT](https://vinnovateit.com/)** - https://tinyurl.com/ycnd58t6

#### [Register here](https://register.vinnovateit.com/) if you've any queries relate

[2020-06-18 19:43] abg0148 commented on #6
hey, i have had experience with IOT based projects and would like to contribute. please let me know how can i be of help?

[2020-06-18 21:00] vinitshahdeo commented on #6
@abg0148 Hey, glad to know this!
Please have a look into [this](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/236#issuecomment-644950769) and comment there.

[2020-06-19 06:00] waithiageni commented on #236
Team international nerds @waithiageni and @virginiah we are happy to be
part of the project team.

On Tue, Jun 16, 2020, 21:55 Vinit Shahdeo <notifications@github.com> wrote:

[2020-06-19 06:01] abg0148 commented on #236
Hey @vinitshahdeo, i would like to contribute to the project. i have had previous experience working with my personal projects on IOT. i have experience with Python, Firebase, NodeMCU and Arduino. i am open to other opportunities to contribute in the project too. i have tried to implement this system at my home too, and would love to discuss the design process too.
P.S This is my first time contri

[2020-06-19 06:29] scarlet2131 commented on #236
Greetings sir,
My team(TheSmasshers) is super enthusiastic  about this project and
willing to contribute to this.
Monisha Ranjan
3rd Year, CSE
Indian Institute of Information Technology, Guwahati

On Fri, Jun 19, 2020 at 11:31 AM Abhinav Gupta <notifications@github.com>
wrote:

[2020-06-19 10:52] vinitshahdeo commented on #236
@waithiageni @scarlet2131 Thank you so much for showing your interest. :hugs:
Happy to have the **`TheSmasshers`** and **` International Nerds`** teams in our clan.

[2020-06-19 10:55] vinitshahdeo commented on #236
@abg0148 Super glad to have you here. I'm sure we will receive a great help with your past experience.

[2020-06-19 11:06] vinitshahdeo commented on #236
**Hey guys,** 👋

In continuation to my last message about the live session on [Instagram](https://www.instagram.com/vinitshahdeo/) with @vinnovateit, **please find the details here: https://tinyurl.com/y6uea99z**

### Catch me `LIVE 🔴    on Instagram` tomorrow at 6:00 PM IST!

![Ea3jTbrUwAEfsOU](https://user-images.githubusercontent.com/20594326/85126258-c1627280-b24a-11ea-8456-9ffcfb2789e6.jpeg)

[2020-06-19 12:34] abg0148 commented on #236
@vinitshahdeo I don't have second member for my team. How should I proceed with the  google form? It makes the name of second team member compulsory

[2020-06-19 12:36] vinitshahdeo commented on #236
@abg0148 Hey, just put **"N/A"** in all the fields for the second member details.

[2020-06-19 12:41] abg0148 commented on #236
Done! What's Next??☺️

[2020-06-19 14:11] vinitshahdeo commented on #236
@abg0148 Thanks:) We'll soon have a meeting with all the mentors to plan the road map. Details will be mailed to you on the provided emails on the above form. **Kindly note that coding period starts from 1<sup>st</sup> July as planned.**

[2020-06-20 12:37] Kashish121 commented on #236
Hello everyone,
@vinitshahdeo is *LIVE* now. [Click here](https://www.instagram.com/vinnovateit/) to join his Insta Live.  :tada:

[2020-06-22 15:42] anandhakrishnanaji commented on #236
Hi, I am a beginner and have done some basic projects (nothing based on IOT). I have been wanting to contribute to open source projects. Can anyone explain how this works? like how should I begin?

[2020-06-22 17:59] vinitshahdeo commented on #236
@anandhakrishnanaji Hey, we'll soon onboard people to this project, please provide your details [here](https://forms.gle/Ha9vB6W9CaC1mPrM8).

[2020-06-22 18:09] vinitshahdeo commented on #236
**Hello everyone,** 👋

Recently I got interviewed by [Eat My News](https://tinyurl.com/EatMyNews)! I talked about the **key skills** of a Software Engineer and ended with **a piece of advice** for aspiring engineers.

Hope it helps! ✌️

**Read my full interview here** - https://tinyurl.com/EatMyNews

**Thanks :)**

🤗 🙏

[2020-06-22 18:45] divyabhushan commented on #236
Bravo !!!

You are a source of inspiration for all 👏

Keep up the good work 👍

[2020-06-24 02:34] anandhakrishnanaji commented on #215
This is my first time in open source ,I would like to take up this issue, can you please assign me?

[2020-06-24 09:53] anandhakrishnanaji opened #321 "In /src/demo.html when tank level is medium, ie. around 40%, the text is not visible"
**Description**
When the tank level is medium, the text colour is white so we cant see it as the background is white.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /src/demo.html
2. Change the target range of water ball to 40%
3. See error

**Expected behavior**
The water level should have been visible clearly

**Screenshots**
![Screenshot from 2020-06-24 15-22-41](https://user-image

[2020-06-24 09:54] anandhakrishnanaji commented on #321
May I try solving the issue, I need some time as I don't know jquery.

[2020-06-25 21:00] vinitshahdeo commented on #236
# Hello Guys, 👋

### Hope you're [coding](https://github.com/vinitshahdeo/covid19api/edit/master/README.md) well! I have open-sourced the [GraphQL Server](https://github.com/vinitshahdeo/covid19api) for the [COVID-19 Tracker](http://corona-cases-india.netlify.com/) and [Dashboard](https://indiafightscorona.netlify.app/)! 😷

[![GitHub stars - COVID-19 Vinit Shahdeo](https://img.shields.io/github/st

[2020-06-29 06:52] himanshujaidka opened #322 "Difficult to read water monitoring system- IoT project list"
**Describe the bug**
A clear and concise description of what the bug is.
It is difficult to read the side list. There should be more gaps between each list for concise view.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://vinitshahdeo.github.io/Water-Monitoring-System/'

**Expected behavior**
A clear and concise description of what you expected to happen.
There should be gap be

[2020-06-29 06:53] himanshujaidka commented on #322
pls assign this issue to me

[2020-06-29 17:43] Kashish121 commented on #236
Hey! 👋

Checkout: GO-GREEN featuring GITHUB
https://tinyurl.com/kashishtalks

Marking the onset of my journey towards tech blogging.
Always looking forward to broaden my horizon.

Also, thank you @vinitshahdeo for being someone whom I can look up to.

![Capturemedium](https://user-images.githubusercontent.com/56366103/86038083-fe561280-ba5d-11ea-9f0c-007c7c7290bd.PNG)

[2020-07-01 12:54] vinitshahdeo commented on #236
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdGoRyxT9aijdNuuySh6NTqAcA6t79XHnCh8yNXPZQbwqxMHA/viewform"><p align="center"><img width="603" alt="Screenshot 2020-07-01 at 4 58 33 PM" src="https://user-images.githubusercontent.com/20594326/86245636-5f4d2a00-bbc7-11ea-9491-52f395bce7cf.png"></p></a>

### Do join the webinar on `Git` by @divyabhushan. [Click here](https://docs.google.com/forms/d/

[2020-07-01 16:29] ArpitKotecha opened #323 "Documenting Existing Express/NodeJs APIs"
Please take a look at following tutorial video:-

- [Add Swagger-UI To Existing NodeJS TypeScript API](https://www.youtube.com/watch?v=qemG0CWOx1I)
- [Autogenerating Swagger Documentation with Node & Express](https://www.youtube.com/watch?v=apouPYPh_as)

[2020-07-03 18:15] vinitshahdeo commented on #236
[![leapcode-logo-full-png](https://user-images.githubusercontent.com/20594326/86490975-e5639f00-bd86-11ea-853b-1a0ecdc59201.png)](http://leapcode.io/)

Now, we're officially a part of [leapcode.io](http://leapcode.io/). They're still building and hopeful to have their platform up pretty soon.

[2020-07-04 11:12] vinitshahdeo commented on #236
Thank you so much @divyabhushan for today's session.

[2020-07-05 03:38] weekly-digest[bot] opened #324 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #323 [Documenting Existing Express/NodeJs APIs](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/323), by [Arp

[2020-07-05 08:13] divyabhushan commented on #236
Thanks, @vinitshahdeo for giving me this opportunity.
I hope the session was useful for all the participants.
The repository site is hosted at [git-webinar](https://divyabhushan.github.io/git-webinar/) for easy access.

Kindly fork, clone, make changes and create your first PR :)

Have fun with Git :)

[2020-07-12 03:38] weekly-digest[bot] opened #325 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #316 [Corrected Mentor Images profile links](https://git

[2020-07-12 12:52] nainikaB commented on #236
Hey guys!
As per the timeline, @jainpawan21 and me are going to be starting with creating UI/UX screens for the app from July 15th. So if anyone is interested in understanding how the design side of things work or see themselves as product designers in the future or you are just curious to learn something new, we'd be glad to have you on board, participating and ensuring that the user experience i

[2020-07-13 08:57] ishika1727 commented on #236
Hello guys 👋

Do check out [git push: You just need a little PUSH](https://medium.com/@ishikadubey2000/look-mom-im-on-github-521bb6c1f51d)

My first blog where I share my experience of working on an open-source project and making my identity in the open-source world. I would love to hear any suggestions, constructive criticism, or feedback from you people.

Also, special mention to @vinitshahdeo f

[2020-07-17 20:20] vinitshahdeo commented on #236
### Hello everyone, 👋

### Now we're part of **CONTRIBUTOR'S HACK, 2020 - @HakinCodes**!

![PROJECT SELECTION](https://user-images.githubusercontent.com/20594326/87827578-c7bf2b00-c898-11ea-8b45-470ad3338b3f.png)

Checkout the project [here](https://github.com/vinitshahdeo/PortScanner).

[2020-07-18 12:25] nandikajain commented on #243
@vinitshahdeo Please assign me to the issue

[2020-07-19 03:38] weekly-digest[bot] opened #326 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #316 [Corrected Mentor Images profile links](https://git

[2020-07-19 03:49] Avirup-301294 commented on #102
I would like to work on this issue. Please assign me in the task.

[2020-07-26 03:38] weekly-digest[bot] opened #329 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #328 [Merge pull request #1 from vinitshahdeo/master](https://github.com/vinitshahdeo/Water-Monitoring-System/pull/328), by

[2020-08-01 11:08] vinitshahdeo commented on #236
### Hello 👋 ,

**Thank you for being an incredible part of my [open-source](https://twitter.com/Vinit_Shahdeo/status/1289478475380744192) journey!**

Out of all the projects I have done so far, **Water Monitoring System** has received maximum community engagements. I'm glad to share that it got featured on **[OpenSourceForU.com](https://www.opensourceforu.com/2020/07/if-you-are-a-techie-your-home-

[2020-08-02 03:20] weekly-digest[bot] opened #330 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZER

[2020-08-02 18:22] vinitshahdeo commented on #15
### Hello 👋 ,

**Thank you for being an incredible part of my [open-source](https://twitter.com/Vinit_Shahdeo/status/1289478475380744192) journey!**

Out of all the projects I have done so far, **Water Monitoring System** has received maximum community engagements. I'm glad to share that it got featured on **[OpenSourceForU.com](https://www.opensourceforu.com/2020/07/if-you-are-a-techie-your-home-

[2020-08-02 18:22] vinitshahdeo commented on #141
### Hello 👋 ,

**Thank you for being an incredible part of my [open-source](https://twitter.com/Vinit_Shahdeo/status/1289478475380744192) journey!**

Out of all the projects I have done so far, **Water Monitoring System** has received maximum community engagements. I'm glad to share that it got featured on **[OpenSourceForU.com](https://www.opensourceforu.com/2020/07/if-you-are-a-techie-your-home-

[2020-08-05 05:10] vinitshahdeo commented on #236
Here's a small update!

@PragatiVerma18's team has won **Smart India Hackathon 2020**! Congratulations Pragati :)

[2020-08-08 10:58] nainikaB commented on #236
Hey guys :)
So here are the wireframes for this project! If any of you have any suggestions with regards to colour or UX, please do let me know.
https://www.figma.com/file/JCq2StACwnPiAHkPISiudo/Water-Monitoring-System-Wireframes?node-id=38%3A1

[2020-08-09 03:20] weekly-digest[bot] opened #331 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*vinitshahdeo/Water-Monitoring-System*](https://github.com/vinitshahdeo/Water-Monitoring-System):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZER

[2020-08-15 05:59] vinitshahdeo commented on #236
[![cropped-xxs](https://user-images.githubusercontent.com/20594326/90306383-5a7bd580-deea-11ea-87d0-4731447fc981.png)](https://github.com/vinitshahdeo/Map-of-India)

# Happy Independence 🇮🇳  Day!

:wave:
### **Hello Guys!**

Here's something which I coded last night, a Node.js script to print **[Map of India](https://vinitshahdeo.github.io/Map-of-India/)** in the terminal!

### Check out the GitHu

[2020-08-15 22:30] vinitshahdeo commented on #236
[![map-of-india](https://user-images.githubusercontent.com/20594326/90322698-01a54f00-df75-11ea-8170-f9d39f4040e5.png)](https://dev.to/vinitshahdeo/code-to-generate-the-map-of-india-using-node-js-3i06)

### Here's the [code explained](https://dev.to/vinitshahdeo/code-to-generate-the-map-of-india-using-node-js-3i06) to generate the **Map Of India** using Node.js - **https://tinyurl.com/y2rhu9k7**

[2020-08-18 01:07] anandhakrishnanaji commented on #323
Can I take up this issue?

[2020-08-19 05:28] anandhakrishnanaji commented on #323
can you assign me this issue?

[2020-08-19 05:28] anandhakrishnanaji commented on #323
@ArpitKotecha

[2020-08-19 09:07] ArpitKotecha commented on #323
@anandhakrishnanaji Assigned

[2020-08-25 18:47] vinitshahdeo commented on #236
:wave: **An Update!**

First things first, my gratitude to @nainikaB & @nandikajain for designing the (**awesome** 🤩 ) mocks for [Water Monitoring System](https://vinitshahdeo.github.io/Water-Monitoring-System/).

Before August ends, we'll kickstart our (frontend) development work which will be led by @nainikaB, @nandikajain & @harshita19244. I request all of you to have an eye on issues, soon the

[2020-08-27 03:16] anandhakrishnanaji commented on #323
@ArpitKotecha I did pull request resolving this issue. Please review it.

[2020-08-29 13:56] thedarkdivinity commented on #245
Hey I am interested in contributing. I am a complete beginner and has never done any open source contributions,

[2020-08-29 16:51] anandhakrishnanaji commented on #323
@vinitshahdeo @ArpitKotecha

[2020-08-30 21:14] nandikajain opened #333 "Implementation of OAuth"
Implement OAuth for Facebook, Google and Github.

Head over to the branch [**frontend-react-login-tank-dashboard**](https://github.com/vinitshahdeo/Water-Monitoring-System/tree/feature/frontend-react-login-tank-dashboard) and implement OAuth with Facebook, Google and Github. Create necessary routes in water-app, if necessary, and authenticate the users if they are successfully logged in.

[2020-09-11 06:34] satyamgaur commented on #333
@nandikajain Can I work on it?

[2020-09-11 06:37] nandikajain commented on #333
Hey!
Sure, you can start working on this. I will be merging this branch with frontend-tank-dashboard.
You can start working on this. Assigning you to this issue.

[2020-09-11 07:02] satyamgaur commented on #333
Thanks, Will try to implement it as soon as possible.
One additional thing, is there any Gitter/Slack group where I can ask any doubt?

[2020-09-13 15:23] nandikajain commented on #333
You can join the WhatsApp group here - https://chat.whatsapp.com/KZOwl3dOx4V34xfxuqhiSi

[2020-09-13 21:42] nandikajain opened #336 "Design for the Login and Sign Up screen"
**Graphic for the Login and Signup Screen.**
A common graphic for both login and signup Screen that explains about the project.

**Current Login Screen**
Required, a graphic that can be attached to the right of the screen.

<img width="763" alt="login-screen" src="https://user-images.githubusercontent.com/55681290/93029288-97490280-f637-11ea-8be0-37e472e695de.PNG">

**Inspiration**
You can take in

[2020-09-13 21:53] nandikajain opened #337 "Fixing Title in Github Pages (gh-pages)"
**Fixing the Title in Github Pages.**
In smaller screen sizes, the title doesn't show up properly.

<img width="272" alt="gh-pages-fixes" src="https://user-images.githubusercontent.com/55681290/93029510-fa876480-f638-11ea-8a70-c5bdb4c03636.PNG">

**Requirement**
Fix the title so that the entire name is shown.
After forking this repository, head over to the branch gh-pages, commit your changes and

[2020-09-14 18:16] kushal-khare-official commented on #337
Hi, I would like to help with this issue

[2020-09-14 19:10] nandikajain commented on #337
@kushal-khare-official
Can you send in your pr after 1st October?
We will be accepting PR's only after 1st October.
Also, don't forget to register for hacktoberfest :))

[2020-09-15 05:56] kushal-khare-official commented on #246
Hi, can I work on this issue?

[2020-09-15 09:01] nandikajain commented on #246
@kushal-khare-official
Please read the comment I dropped on the issue you pulled a request for.
We will be accepting PR's or assigning issues when Hacktoberfest starts, from October 1.

[2020-09-15 12:40] vinitshahdeo opened #339 "Get ready for Hacktoberfest 2020 | Submit 4 PRs to earn a T-shirt"
[![hacktoberfest 2020](https://raw.githubusercontent.com/vinitshahdeo/Water-Monitoring-System/master/assets/Logo.svg)](https://github.com/vinitshahdeo/Hacktoberfest2020/)

### Hello :wave:

It’s that time of year again when we come together to support and celebrate the open source technologies we use and love. To help you celebrate [Hacktoberfest 2020](https://hacktoberfest.digitalocean.com/), **I

[2020-09-17 10:53] Zubair-12 commented on #339
Hi I am new to GitHub and Hacktoberfest could you please guide me?

[2020-09-17 10:54] Zubair-12 commented on #339
My goal is also to win the award.

[2020-09-17 11:19] Zubair-12 commented on #337
Hi I have registered myself in Hacktoberfest event can I also do PR after Oct 1st . If you do assign.

[2020-09-17 12:08] vinitshahdeo commented on #339
@Zubair-12 Sure :)

Are you familiar with git?

PS: @nandikajain Please ensure that we assign a beginner friendly issue to @Zubair-12

[2020-09-17 12:10] vinitshahdeo commented on #339
@Zubair-12 Please have a look into [Hacktoberfest2020](https://github.com/vinitshahdeo/Hacktoberfest2020) repo, you'll find a lot of beginner-friendly issues there.

[![Hacktoberfest2020](https://github-readme-stats.vercel.app/api/pin/?username=vinitshahdeo&repo=Hacktoberfest2020)](https://github.com/vinitshahdeo/Hacktoberfest2020)

[2020-09-17 12:15] nandikajain commented on #339
Yes, I surely will!

[2020-09-17 13:16] Zubair-12 commented on #339
Yes I am somehow gone familiar with gi t. I also use Visual Studio Code
editor. OK thanks I am going to see this.

On Thu, 17 Sep 2020, 5:08 pm Vinit Shahdeo, <notifications@github.com>
wrote:

[2020-09-18 14:24] Amulya-coder commented on #314
Hi @nandikajain can I work on this issue .I am a beginner but loved to start contributing could you please assign it to me.

[2020-09-18 15:42] nandikajain commented on #314
Hi @Amulya-coder
We will start assigning and accepting PR's from 1st October for Hacktoberfest.
You should register for it, will assign you when Hacktoberfest starts.

[2020-09-18 15:45] m-code12 commented on #314
@Amulya-coder @nandikajain
I have already resolved this issue and created pr #316 long back.

[2020-09-18 15:53] nandikajain commented on #314
@m-code12 The changes are still not correct.
We might assign new people.

[2020-09-18 16:20] nandikajain commented on #337
@Zubair-12 Sure!

[2020-09-18 21:12] shawnlobo96 commented on #74
Is work on this still on? Any way to get onboard?

[2020-09-19 08:04] Zubair-12 commented on #337
OK thanks

[2020-09-19 08:24] Zubair-12 commented on #337
Hi I want to ask that how many PRs can I have on one repository? How many
of them will be counted for Hacktoberfest event?  Could you please tell me
about that?

On Fri, 18 Sep 2020, 9:21 pm Nandika Jain, <notifications@github.com> wrote:

[2020-09-19 08:25] nandikajain commented on #337
You can send any no of PR's for a given repository.

[2020-09-19 09:15] Zubair-12 commented on #337
So how many of them will be counted for hacktoberfest?

On Sat, 19 Sep 2020, 1:25 pm Nandika Jain, <notifications@github.com> wrote:

[2020-09-19 12:37] nandikajain commented on #337
After registering, in the 1 month period, i.e. throughout October, you have to make 4 PR's to earn a Tshirt.
If you have any doubts, I recommend you to go through [this](https://hacktoberfest.digitalocean.com/).

[2020-09-19 17:07] viveksahu26 commented on #48
Can i work on this issue..

[2020-09-19 18:21] vinitshahdeo commented on #236
# :wave:

[![hacktoberfest 2020](https://user-images.githubusercontent.com/20594326/93686220-7b7bab80-fad2-11ea-943d-2f80701e545e.jpg)](https://dev.to/vinitshahdeo/hacktoberfest-2020-is-here-17op)

#### As October is coming so is [Hacktoberfest](https://dev.to/vinitshahdeo/hacktoberfest-2020-is-here-17op), I've curated a list of handpicked beginner-friendly issues at [Hacktoberfest2020](https://gi

[2020-09-19 19:55] KmrAnish04 commented on #339
Hi, I am Anish
I am new to this open source community and want to explore more.
Would you give me the chance to explore more and help me for Hacktoberfest2020 together also?
I am familiar with Git/Github. Just want your help to successfully make my four PR's for Hacktoberfest2020 and want to win swags(*saying shamelessly) to increase motivation. Be ready for my silly queries, as I am a newbie.
Tha

[2020-09-19 20:41] vinitshahdeo commented on #339
@KmrAnish04 Hey, happy to help you out :)

[2020-09-19 22:50] ArpitKotecha commented on #48
@viveksahu26 yes

[2020-09-20 05:07] viveksahu26 commented on #48
Thank you..@ArpitKotecha .

[2020-09-20 05:16] viveksahu26 commented on #48
@ArpitKotecha  in which repository  to add Dockerfile and docker-compose.yml.

[2020-09-20 05:20] ArpitKotecha commented on #48
Make a PR to feature/backend-node branch in current repository.

[2020-09-20 06:45] viveksahu26 commented on #48
Ok..

[2020-09-21 09:03] soumya997 commented on #339
Hey, @vinitshahdeo I am also new to the open-source ecosystem right now, but I am doing ML for a long period now, so if there any issues related to ML, or deep learning/computer vision task or want to make a flask app then please let me know.
Thank you🙏.

[2020-09-21 13:27] viveksahu26 commented on #48
@ArpitKotecha please help me in setting up the project so that I have to only work on dockerfile and docker- compose file.. I am beginner , guide me and I will do it..

[2020-09-21 14:43] vinitshahdeo commented on #339
Hello @soumya997 👋

Glad to hear from you. Right now, I don't maintain any Flask project.

Can you please check out [Hacktoberfest2020](https://github.com/vinitshahdeo/Hacktoberfest2020) and see if you could take up any issues?

[2020-09-22 17:07] soumya997 commented on #339
then @vinitshahdeo is there any issue related to Machine Learning.
If yes then can you please tell me which are those repos and issues.

[2020-09-24 07:15] keivalya commented on #236
I hope I can help you, in any way possible. Do let me know anything I can help you with! I'll be more than happy to give my best to this repo.

Regards❤️

[2020-09-25 09:16] Capt-Titanium commented on #336
hey, I can work on this issue, can you clarify if you want a design or html css file for it because the issue says design

[2020-09-26 00:09] anandhakrishnanaji commented on #217
Can I take up this issue?

[2020-09-26 10:14] anandhakrishnanaji commented on #217
Can I work on this issue @vinitshahdeo ?

[2020-09-27 07:13] dexterpuru commented on #314
Hi, I would like to help with this, could you please assign this to me, on 1st October?

[2020-09-27 10:49] Amulya-coder commented on #314
Hey @dexterpuru I was already commented for assigning this issue to me for Hacktoberfest.

[2020-09-27 11:30] anandhakrishnanaji commented on #217
what all fields should i provide?

[2020-09-27 20:09] Abjcodes commented on #336
Hey @vinitshahdeo. I would like to work on this issue as part of hacktoberfest. Could you assign this to me?

[2020-09-29 00:32] nandikajain commented on #336
@Capt-Titanium assigned.

[2020-09-29 12:41] Baibhab97 commented on #320
Hi @vinitshahdeo , I would like to contribute to it. Can you tell what exactly needs to be done?

[2020-09-29 17:50] Amulya-coder commented on #314
@nandikajain can you tell me where I will get the github links of all the mentor images seen below.
![mentor link](https://user-images.githubusercontent.com/66437295/94596783-3f063780-02aa-11eb-98cd-801f532f70d0.png)

[2020-09-30 01:45] dexterpuru commented on #314
@nandikajain if you go to contributors of this project (https://github.com/vinitshahdeo/Water-Monitoring-System/graphs/contributors) you will find all people and you can also get the links to their profile.

[2020-09-30 04:09] Amulya-coder commented on #314
I cannot get the link of the sixth member it is not present there.

[2020-09-30 04:10] Amulya-coder commented on #314
I cannot get the link of the sixth member it is not present there.

[2020-09-30 04:12] Amulya-coder commented on #314
I cannot get the link of the sixth member it is not present there.

[2020-09-30 10:48] bryonye commented on #322
Hi, can this issue be assigned to me please? Thanks!

[2020-09-30 12:20] Juarsh commented on #337
Hi, I would like to work on this issue.

[2020-09-30 14:10] AbhipsaGuru1012 commented on #322
@PragatiVerma18  @nandikajain can I work on this issue?

[2020-09-30 14:18] AbhipsaGuru1012 commented on #248
@nandikajain can I work on this issue?

[2020-09-30 19:05] AbhipsaGuru1012 commented on #121
@nandikajain can I work on this issue?

[2020-09-30 23:55] nandikajain commented on #314
I would urge you to go throw https://github.com/sourcerer-io/hall-of-fame/blob/develop/README.md

[2020-09-30 23:56] nandikajain commented on #320
@vinitshahdeo

[2020-09-30 23:59] nandikajain commented on #337
@Juarsh Assigned.

[2020-10-01 00:00] nandikajain commented on #322
Assigned

[2020-10-01 00:01] nandikajain commented on #322
@bryonye @AbhipsaGuru1012 , @himanshujaidka commented first for the given issue, so I have assigned him. If he is unable to resolve the conflicts, you will be assigned.

[2020-10-01 00:03] nandikajain commented on #248
@AbhipsaGuru1012  Assigned.

[2020-10-01 00:06] nandikajain commented on #121
@AbhipsaGuru1012
I have assigned you to an issue already.
You can tag me once you are done with that, will assign you to this issue :)

[2020-10-01 00:11] AZGatorFan commented on #103
Can you please assign this one to me. This is my first time. Starting for the Hacktoberfest.

[2020-10-01 00:12] nandikajain commented on #103
@AZGatorFan  assigned ;)

[2020-10-01 00:20] AZGatorFan commented on #103
Thank you :)

On Wed, Sep 30, 2020 at 5:12 PM Nandika Jain <notifications@github.com>
wrote:

[2020-10-01 01:09] anandhakrishnanaji commented on #217
can you assign me this issue?? @vinitshahdeo

[2020-10-01 01:38] AZGatorFan commented on #103
The react-frontend/package.json file no longer appears to be available.

[2020-10-01 04:10] sauravUppoor commented on #121
@nandikajain I would like to work on this issue.

[2020-10-01 04:12] prathmesh1999 commented on #245
Hello 👋 I am totally beginner and just registered for hacktoberfest 2020 I want to contribute.

[2020-10-01 04:18] prathmesh1999 commented on #245
What to do next

[2020-10-01 04:19] tannerdolby commented on #245
Hey! @PragatiVerma18

I noticed I'm still assigned to this issue #245, yet my PR #258 was merged some time ago. I'm happy to help if there is another issue to be fixed, otherwise I can unassign myself. Let me know. Thanks!

[2020-10-01 04:57] himanshujaidka commented on #322
okay, I'll do
@nandikajain

[2020-10-01 05:00] AbhipsaGuru1012 commented on #248
@nandikajain I have made a pull request to 'feature/documentation' section. Please review and suggest if some changes are needed

[2020-10-01 05:11] himanshujaidka commented on #322
@nandikajain where is the source code of the github page?

[2020-10-01 05:39] AbhipsaGuru1012 commented on #121
@nandikajain I have made a pull request for the issue that I was assigned. Can I work on this issue?

[2020-10-01 07:49] msk4862 commented on #217
@vinitshahdeo Can I work on this issue?

[2020-10-01 08:09] sauravUppoor commented on #44
@PragatiVerma18 @vinitshahdeo I would like to work on this issue.

[2020-10-01 12:55] nithin0905 commented on #339
Hello, I would like to contribute to this project and explore more in this field.

[2020-10-01 14:25] nandikajain commented on #103
You can update the versions in the package.json that is available

[2020-10-01 14:28] nandikajain commented on #339
No there is not

[2020-10-01 14:28] nandikajain commented on #339
You can go through the code and the issues and raise a PR

[2020-10-01 14:29] nandikajain commented on #44
The UI has changed. You can view the UI in[ here](https://github.com/vinitshahdeo/Water-Monitoring-System/commit/30e4c630aa819fe37e20d3c2cdec4d3589b53a3e)

[2020-10-01 14:32] nandikajain commented on #322
There is a branch, [gh-pages](https://github.com/vinitshahdeo/Water-Monitoring-System/tree/gh-pages)
Please make a PR to gh-pages only!

[2020-10-01 14:33] nandikajain commented on #248
Can you refer to this PR here?

[2020-10-01 14:33] nandikajain commented on #121
Assigned !

[2020-10-01 14:35] ishanchawla1 commented on #246
Hi @nandikajain
Can I pick this one?

[2020-10-01 14:38] nandikajain commented on #246
Yes!!

[2020-10-01 14:40] himanshujaidka commented on #322
okay

[2020-10-01 14:47] rahulbhatt1899 commented on #337
Hey,
can I still work on this issue, please assign if I can.

[2020-10-01 14:55] himanshujaidka commented on #322
@nandikajain is there is any channel to talk with you

[2020-10-01 15:53] AbhipsaGuru1012 commented on #248
@nandikajain https://github.com/vinitshahdeo/Water-Monitoring-System/pull/349 this is the PR that I have created, please let me know if this is okay

[2020-10-01 18:46] Amulya-coder commented on #314
@nandikajain I have made the PR  to feature/documentation please review it.

[2020-10-01 21:10] sanchibansal340 commented on #105
Is this issue still open?

[2020-10-01 22:20] sanchibansal340 commented on #40
Is this issue still open?

[2020-10-01 22:26] #321 closed

[2020-10-02 01:07] Rihanat commented on #336
Hi @nandikajain can I work on this?

[2020-10-02 01:08] nandikajain commented on #40
@vinitshahdeo

[2020-10-02 01:10] nandikajain commented on #336
@Capt-Titanium is already working on it.
If he is not able to complete it, will assign you @Rihanat

[2020-10-02 01:10] nandikajain commented on #337
@rahulbhatt1899 , @Juarsh is working on it currently

[2020-10-02 01:12] nandikajain commented on #314
@Amulya-coder Changes are required

[2020-10-02 01:13] nandikajain commented on #322
@himanshujaidka you can refer to your doubts here.

[2020-10-02 01:14] nandikajain commented on #44
Yes, but the UI wireframes are ready.

[2020-10-02 01:16] nandikajain commented on #121
Just go through the wireframes that are added in the master branch and check out the layout for sign in and signup page

[2020-10-02 12:27] AbhipsaGuru1012 commented on #121
![footer](https://user-images.githubusercontent.com/58511560/94922316-9dfcc400-04d7-11eb-823d-063213cf04bb.PNG)

@nandikajain is this footer okay?

[2020-10-02 18:54] nandikajain commented on #121
Do u know React??

[2020-10-03 04:41] harshGithub11 commented on #157
@ArpitKotecha any updates on this issue, i mean is this issue open ? if yes, can you assign it to me.

[2020-10-03 05:29] AbhipsaGuru1012 commented on #121
@nandikajain I am a beginner in react

[2020-10-03 07:21] amanraj862 commented on #245
hey would like to contribute is there anything i could help i'm a beginner working with open source first time
please let me know

[2020-10-03 14:31] nandikajain commented on #121
We are using React for the front end part. I am working on the frontend React part of the project. If you are interested and want to work alongside after learning React, let me know.

[2020-10-03 14:43] nandikajain commented on #314
fixed #349

[2020-10-03 14:43] #314 closed

[2020-10-04 12:32] AbhipsaGuru1012 commented on #121
@nandikajain Okay sure, thanks a lot!

[2020-10-04 17:57] kushal-khare-official commented on #337
@nandikajain in case @Juarsh does not submit a PR, could my PR be considered?

[2020-10-04 18:12] kushal-khare-official commented on #337
aslo on the hacktoberfest website it says

Ineligible Repository
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate.

[2020-10-04 18:41] nandikajain commented on #337
@vinitshahdeo

[2020-10-06 00:24] anandhakrishnanaji commented on #217
?

[2020-10-10 15:57] ayushgaur03 commented on #336
@nandikajain I would like to work on this issue...@Capt-Titanium plz update your status

[2020-10-10 16:03] ayushgaur03 commented on #246
@nandikajain I would like to work on this issue....Please assign it to me

[2020-10-10 16:11] nandikajain commented on #246
@ayushgaur03 Done!

[2020-10-10 16:12] nandikajain commented on #336
I dont see any work don by @Capt-Titanium .
Assigning this issue to @ayushgaur03  @Rihanat .

[2020-10-11 08:54] ayushgaur03 commented on #336
@nandikajain thanks for assigning will try to raise PR by today

[2020-10-11 09:24] ayushgaur03 commented on #336
@nandikajain I m new to GitHub so can u plz confirm if I need to make a separate HTML page for this issue.

[2020-10-11 11:38] ayushgaur03 commented on #246
@nandikajain I m new to GitHub so could u guide to locate the required files for this issue. I even watched the videos shared in the chat but still unable to find

[2020-10-11 15:37] nandikajain commented on #336
Are u comfortable with React?

[2020-10-11 15:38] nandikajain commented on #246
Please go the the gh-pages branch, it contains the code for Github Pages.

[2020-10-11 18:43] ayushgaur03 commented on #246
@nandikajain I checked the code of that branch but it's different from the website given in the issue description. Please check.
I have shared a link to the screenshot of the website that I m seeing https://www.dropbox.com/s/k1dsxf6rc0ixbx6/Screenshot%202020-10-12%2000.07.03.png?dl=0

[2020-10-11 18:45] ayushgaur03 commented on #336
I can code with React for this particular issue but actually still in the learning process in React....would be great if u can guide a bit

[2020-10-11 23:28] nandikajain commented on #246
See the Readme in gh-pages. That is what gets rendered

[2020-10-11 23:57] #189 closed

[2020-10-14 11:24] femakin commented on #102
Please can I still work on this?

[2020-10-14 20:41] #44 closed

[2020-10-14 20:41] #248 closed

[2020-10-15 06:56] RiyaMathew-11 commented on #320
Can I work on this....please do tell what exactly needs to be done or what are u expecting

[2020-10-16 08:05] ayushgaur03 commented on #336
@nandikajain I have raised PR for #359 to 'develop' branch .Plz review and provide your feedback.

[2020-10-16 18:54] ayushgaur03 commented on #336
@nandikajain Maám I have raised PR to 'faetures/frontned-login-signup' branch as requested

[2020-10-16 18:55] nandikajain commented on #336
fixes #360

[2020-10-16 18:55] #336 closed

[2020-10-18 12:06] kartikagarwal9 commented on #309
I want to contribute , can you assign me @nandikajain

[2020-10-19 19:16] Jacob-Marshall commented on #2
Hi I'll help

[2020-10-20 18:17] #2 closed

[2020-10-20 18:20] nandikajain commented on #309
@kartikagarwal9 This section is already there in the Readme
Can you make more changes to the existing one?
If yes, go ahead, if not, I will close this issue.

[2020-10-22 11:00] ramkrishn123 commented on #243
I would like to contribute.

[2020-10-22 11:35] oskorp commented on #243
I want to contribute into this...

[2020-10-22 17:13] nandikajain commented on #243
Hey @oskorp
This is no longer the UI
You can check the UI in the wireframes in the master branch.
If you are familiar with React and can start the development in React, you can tell me and I will assign you.

[2020-10-22 17:15] nandikajain commented on #322
@himanshujaidka Any updates?

[2020-10-22 17:17] nandikajain commented on #246
@ishanchawla1 Do you want to work on this issue?

[2020-10-22 17:17] #277 closed

[2020-10-22 17:18] nandikajain commented on #337
@rahulbhatt1899 Do you want to work on this issue?

[2020-10-22 21:37] silenteyesoncode commented on #246
let me know if i can work here @nandikajain

[2020-10-22 22:02] nandikajain commented on #246
@silenteyesoncode Sure!
Assigning :)

[2020-10-26 15:27] silenteyesoncode commented on #246
hey @nandikajain can u explain what text overflow You are getting

[2020-10-28 13:50] nandikajain commented on #246
@silenteyesoncode gh-pages

[2020-10-28 17:26] Adityachaturvedi2906 commented on #337
Hey! @nandikajain  I would like to contribute to this project. Can you please assign me?

[2020-10-28 19:57] silenteyesoncode commented on #246
Couldn't get the react code
are you sure about the gh-pages?

[2020-10-29 04:59] nandikajain commented on #246
YES

[2020-10-29 04:59] nandikajain commented on #246
There is no React code for gh-paghes

[2020-10-29 05:00] nandikajain commented on #337
@Adityachaturvedi2906  done

[2020-10-30 13:40] #120 closed

[2020-10-30 14:34] 123mansha commented on #309
i want to comtribute to it can you assign me

[2020-10-30 14:58] 123mansha commented on #337
hii i am a newbie and want to work on this issue

[2020-10-30 15:01] 123mansha commented on #312
want to contribute

[2020-10-31 10:45] nandikajain commented on #312
@123mansha The PR for this has already been merged.

[2020-10-31 10:45] #312 closed

[2020-10-31 10:45] nandikajain commented on #337
@Adityachaturvedi2906
any updates?

[2020-10-31 10:49] nandikajain commented on #309
@123mansha Do you have any medium articles?

[2020-11-14 20:56] #324 closed

[2020-11-14 20:56] #325 closed

[2020-11-14 20:56] #326 closed

[2020-11-14 20:56] #329 closed

[2020-11-14 20:56] #330 closed

[2020-11-14 20:56] #331 closed

[2020-12-06 12:42] sherin527 commented on #2
Hello, i want to work on this issue

[2020-12-24 05:43] viraldevpb commented on #337
Hey, can i still work on this issue could you please assign it to me?

[2020-12-24 21:33] nandikajain commented on #337
Done @viraldevpb

[2020-12-25 06:56] viraldevpb commented on #337
Thanks, Working on this issue Now :) 👍

[2020-12-25 09:28] viraldevpb commented on #337
Could you please tell me where is the index.html in this url [https://vinitshahdeo.github.io/Water-Monitoring-System/](url)

[2020-12-25 19:01] nandikajain commented on #337
@viraldevpb  In the gh-pages branch

[2020-12-26 05:07] viraldevpb commented on #337
Can u please tell me how can i open that Branch code in VSCode?

[2020-12-26 10:54] nandikajain commented on #337
@viraldevpb I would suggest you to learn git first and then come up to this issue.

[2020-12-28 10:20] kishankr7979 commented on #205
Can i move forward with this issue? i can authenticate it with express server including SIgn-up  and Log-in feature.

[2020-12-28 10:28] kishankr7979 commented on #205
@vinitshahdeo please respond

[2020-12-28 11:15] nandikajain commented on #205
@kishankr7979  Yes, you can.
Assigning you to the issue.

[2020-12-28 17:38] Jatin-MaTTriX commented on #337
can i work on this issue?

[2020-12-29 05:55] Deep2631 commented on #246
Sir I want to work on this project
If you assign me I can work on navigation bar

[2020-12-29 09:34] AdityaTeltia commented on #322
Any updates or anyone working on it ? If not can you assign me this with ```SWOC``` tag ?

[2020-12-29 11:02] vinitshahdeo commented on #236
👋  Hello Folks,

Glad to share two of projects will now be accepting contributions under [Script Winter Of Code](http://swoc.tech/).

- [Water Monitoring System](https://github.com/vinitshahdeo/Water-Monitoring-System): Feel free to discuss your doubts at #369

- [Port Scanner](https://github.com/vinitshahdeo/PortScanner): Feel free to discuss your doubts [here](https://github.com/vinitshahdeo/Por

[2020-12-31 17:17] vinitshahdeo commented on #236
👋

_Wishing you all loads of happiness in 2021! ❤
May this new year be a new start for you.
Hit your goals this year! 🤞_

### Happy New Year<sup>in advance</sup>! 🍻 🎉

Thanks for being part of my GitHub Fam: https://tinyurl.com/AnotherYearHasGone

### PS: [Here](https://tiny.cc/year-2020)'s my 2020 recap.

🤩

[2021-01-01 15:12] Bishal05 commented on #205
Hey can I contribute in the issue under SWOC ?

[2021-01-01 16:11] nandikajain commented on #322
@AdityaTeltia  Sure
You can start working

[2021-01-01 16:11] nandikajain commented on #205
@kishankr7979 Are u working on this?

[2021-01-01 16:12] nandikajain commented on #337
@Jatin-MaTTriX  Yes

[2021-01-01 16:45] kishankr7979 commented on #205
@nandikajain Already requested a PR

[2021-01-01 16:45] kishankr7979 commented on #205
With a Authentication code and description

[2021-01-01 17:41] AdityaTeltia commented on #322
Can you add the tag of swoc as I am swoc participant

[2021-01-02 13:42] aryan040501 commented on #337
Hi, I would love to work on this issue. Could you please assign it to me

[2021-01-03 17:10] aryan040501 commented on #320
Can I contribute on this issue?

[2021-01-03 17:10] nandikajain commented on #320
Yes

[2021-01-03 17:26] aryan040501 commented on #320
Could you please describe the problem a little more.
PS: I have gone through the code too.

[2021-01-03 17:27] aryan040501 commented on #320
Could you please describe the problem a little more?

PS: I have gone through the code base.

[2021-01-04 05:48] Utkarshn10 commented on #322
@nandikajain I am a Swoc participant and would like to work on this issue

[2021-01-05 06:47] nandikajain commented on #322
Done!

[2021-01-05 06:47] nandikajain commented on #322
Sure!

[2021-01-05 18:56] nandikajain commented on #320
Are you familiar with Arduino and NodeMCU?

[2021-01-05 19:32] aryan040501 commented on #320
I have not used it but I am familiar with it. I am familiar with the process and python and C# language too.

I have although checked how NodeMCU would collect pH values using pH sensor.

[2021-01-08 16:58] nandikajain commented on #320
Sorry for the late response, but you will have to make use of turbidity sensors and pH sensors, connect it with Arduino/ NodeMCU, and get the turbidity and pH of the water the sensors are dipped in. You need to check if the pH and the turbidity lies in the safe range for water tanks. If not, you should send an alert.

[2021-01-08 17:04] aryan040501 commented on #320
Oh okay will do that and send the PR asap. Thanks

[2021-01-08 21:11] aryan040501 commented on #320
@nandikajain @vinitshahdeo I have added a PR which contains nodeMCU and Arduino files. I have also added the pH and turbidity checker function in demo.html which only console.logs the details.

My PR number is  #372

PS: it does not have a SWOC 2021 tag although, i dont know how to add that

[2021-01-09 12:41] divyanshi-agr opened #373 "Fix a typo error in the README file ( FAQ's)"
Hello,

There is a typo error in the README documentation.
When you go down to the Heading **Frequently Asked Questions(FAQs) for GSSoC'20**, under the 2nd question, that is "_Is this a hardware/IoT project?_", the word integrated is written as **integarted**.

![image](https://user-images.githubusercontent.com/56242215/104091672-bfbed180-52a4-11eb-80f8-4490969b0de8.png)

I would like to fix this.

[2021-01-09 21:44] nandikajain commented on #320
I have added the tag.

[2021-01-09 23:57] aryan040501 commented on #320
Will the PR be merged?

[2021-01-10 16:39] Ayushsunny commented on #337
Is there still any issue?

[2021-01-11 05:34] nandikajain commented on #337
u can work on it

[2021-01-11 10:04] suyash-patil commented on #373
I would like to fix this.

[2021-01-11 10:11] NikhilSharmaWe commented on #337
looking forward to work on this issue

[2021-01-11 10:13] NikhilSharmaWe commented on #337
please can anyone tell me how to confirm that i have fixed the issue successfully before making a pull requests

[2021-01-11 16:24] nandikajain commented on #337
Send a pr, will be reviewed then. If in case you made any errors, they will be told to you and u would send a PR back again making those changes!

[2021-01-11 16:25] nandikajain commented on #373
https://github.com/vinitshahdeo/Water-Monitoring-System/pull/374/conflicts
Resolve these conflicts

[2021-01-11 17:10] suyash-patil commented on #373
@nandikajain I resolved the conflicts. Please have a look at it.

[2021-01-11 17:13] nandikajain commented on #373
Done!

[2021-01-11 17:13] #373 closed

[2021-01-11 17:46] suyash-patil commented on #246
@nandikajain I would like to work on this issue for SWoC. Could you please guide me where I can find the code and in which branch I need to merge the PR?

[2021-01-12 07:05] Sloth-Panda opened #375 "Readme updation by adding different open-source programs this project is part of like swoc"
Let me know if this needs to be done

[2021-01-12 07:06] Sloth-Panda commented on #375
Also please add a "swoc" tag to it as it is participating under swoc

[2021-01-12 19:40] nandikajain commented on #375
@Sloth-Panda Yes, you can work on this if you want.

[2021-01-12 19:42] nandikajain commented on #246
See the Readme in gh-pages. That is what gets rendered
Also, please read the entire thread!

[2021-01-13 06:27] Ayushsunny commented on #337
But Ig that issue is fixed already
So, what changes do you want now?

[2021-01-26 17:54] Bug-007 commented on #246
I can fix this issue it is very simple. Could you assing this issue to me ??

[2021-01-26 17:56] nandikajain commented on #246
@Bug-007

Done!

[2021-01-26 17:57] Bug-007 commented on #246
how do I proceed?? fork the repo maybe ?? because I have to change only a single CSS property to fix it.

[2021-01-26 18:07] Bug-007 commented on #246
Okay, I got it.

[2021-01-28 15:30] Bug-007 commented on #246
Please check the gh-pages branch for yourself there is no code for github pages. @nandikajain  I have included a screenshot as to what I see when I access the gh-pages branch.
![image](https://user-images.githubusercontent.com/28038902/106160119-7e3a8b80-61ab-11eb-87fa-6f7e73091733.png)

[2021-01-28 15:33] nandikajain commented on #246
The Readme gets rendered in the gh-pages.
For a better understanding, you can head out to the documentation of the template that is used for rendering the gh-pages

[2021-02-11 09:34] #375 closed

[2021-02-20 21:54] dennismoha commented on #105
Is this issue still open?

[2021-02-26 18:29] anirudhsai20 opened #381 "README.md file enhancement"
The README.md file can be enhanced by adding a display of all its contributors and the various open source programs in which this project has been a part of.

[2021-02-26 18:29] anirudhsai20 commented on #381
Hi @vinitshahdeo . Please allow me to work on this issue under SWOC.

[2021-03-11 08:57] vinitshahdeo commented on #236
![badge](https://user-images.githubusercontent.com/20594326/110761044-4e37db00-8275-11eb-8834-77f7993af426.png)

### Thank you everyone for your awesome contributions during GSSoC'20. Here I come again with another project for GSSoC'21! 🎉

[![Network Scanner](https://github-readme-stats.vercel.app/api/pin/?username=vinitshahdeo&repo=PortScanner)](https://github.com/vinitshahdeo/PortScanner)

[2021-03-15 15:02] vinitshahdeo commented on #236
### Hello Everyone,

Glad to share that I've been recognized as a [GitHub Star](https://dev.to/vinitshahdeo/milepost-from-a-github-user-to-a-github-star-2o36).
Thank you so much for being a part of my open-source journey. 🎉

#### **Learn more here: https://tiny.cc/GitHubStar**

<img width="1440" alt="Screenshot 2021-03-14 at 2 28 12 AM" src="https://user-images.githubusercontent.com/20594326/11117

[2021-04-13 07:42] vinitshahdeo commented on #236
Hello all,

A gentle reminder to you if you're looking to be a part of [GSoC'21](https://summerofcode.withgoogle.com/). The deadline for the applications ends today - https://cutt.ly/9vezd7r | https://cutt.ly/SvezlrA

**All the best for your submission.**

Thanks:)

[2021-05-11 18:47] ayushchaturvedi4real commented on #337
Is this issue still open?

[2021-05-13 14:22] vinitshahdeo commented on #236
Hello 👋

Hope you're keeping safe! 😷

I just started writing on @hashnode - here's my first article: https://vinitshahdeo.hashnode.dev/github-stars-feed 🚀

[![GitHub Stars Feed (8)](https://user-images.githubusercontent.com/20594326/118139075-a2516e00-b424-11eb-8aa3-c0d8b99c83da.png)](https://vinitshahdeo.hashnode.dev/github-stars-feed)

**You can now keep an eye on GitHub Stars contributions usin

[2021-05-13 20:08] nandikajain commented on #337
Yes, you can work on it

[2021-08-28 15:07] AbhipsaGuru1012 commented on #246
@nandikajain can I work on this issue?

[2021-08-29 01:50] Jahnavi-Jonnalagadda commented on #40
I would like to work on this issue, is it still open? @nandikajain @vinitshahdeo @jainpawan21

[2021-08-29 03:57] nandikajain commented on #246
@AbhipsaGuru1012 sure!

[2021-08-29 07:44] kashishkhaneja commented on #121
Hello,
I would like to work on this issue. Is it still available? @vinitshahdeo

[2021-08-29 11:13] #40 closed

[2021-08-29 11:51] Jahnavi-Jonnalagadda commented on #90
@jainpawan21 Could you please assign this issue to me. I'd like to work on it.

[2021-08-30 10:53] AbhipsaGuru1012 commented on #121
@nandikajain is it okay if I work on this now and make a PR by today?

[2021-08-30 16:03] nandikajain commented on #121
@AbhipsaGuru1012 Sure!

[2021-08-30 18:41] AbhipsaGuru1012 commented on #121
@nandikajain I have made a PR. Please review and let me know if it is okay

[2021-09-02 05:11] ritik3131 commented on #337
Hi @nandikajain,is this issue still open. Could you please assign it to me?

[2021-09-23 17:21] vinitshahdeo commented on #236
**October is coming and so is Hacktoberfest!**
- Join us as a mentor: [vinitshahdeo.dev/hacktoberfest-2021](https://vinitshahdeo.dev/hacktoberfest-2021)
- Here is the list of [beginner-friendly issues](https://github.com/vinitshahdeo/Hacktoberfest2021) so that you can get the ball rolling once Hacktoberfest kicks off.

[![hacktoberfest-mentors-posters](https://user-images.githubusercontent.com/205

[2021-09-27 12:31] dipenr06 commented on #5
@PragatiVerma18 I would like to work on this can i please ?

[2021-09-29 02:53] Aman00702 commented on #337
Please assign me. I want to work on this issue.

[2021-09-30 06:59] lokesh-7977 commented on #3
Hello, I'm Lokesh Choudhary, I wanna contribute to this issue.

[2021-10-01 05:14] Vidushi-Gupta commented on #3
Hi, could you please assign this to me for hacktoberfest? Thank you!

[2021-10-06 10:56] zeel-codder commented on #247
## I can see this issue is still present.  Assign me this issue I want to work on this

![Screenshot from 2021-10-06 16-23-00](https://user-images.githubusercontent.com/69882648/136189883-6be7575f-4c66-4823-8f24-b779a77a4c81.png)
.

[2022-03-23 08:54] krishan30 commented on #102
I am new to the Open Source community. Please can I have a task?

[2022-10-08 04:33] singhkaran202 commented on #217
Hey @shradhasehgal, I'd love to work on this if that's OK. Please assign me the issue.......

[2022-10-08 04:36] singhkaran202 commented on #217
Hey @vinitshahdeo, I'd love to work on this if that's OK. Please assign me the issue.......